#main{
 background-color: transparent !mportant;
 background-size: cover;
 background-position: center;
}
div[role=tablist]{
 display:none !important;
}
.wrapper-account-settings .wrapper-header{
 border-bottom:none;
 height: 50px;
}
h2.header-title{
 padding-top:20px !important;
 margin-bottom: 0px !important;
 background: white;
 padding-left: 15px;
}
div.section{
 margin-top:0px !important;
 padding-left: 15px;
 padding-right: 15px;
}
