.discussion-module .btn:hover, .wmd-prompt-dialog .btn:hover, .discussion-module .btn-brand:hover, .wmd-prompt-dialog .btn-brand:hover, .discussion-module .btn:active, .wmd-prompt-dialog .btn:active, .discussion-module .btn-brand:active, .wmd-prompt-dialog .btn-brand:active, .discussion-module .btn:focus, .wmd-prompt-dialog .btn:focus, .discussion-module .btn-brand:focus, .wmd-prompt-dialog .btn-brand:focus{
   border-color: tma_primary_color !important;
   background-color: tma_primary_color !important;
}
.forum-nav-thread.never-read .forum-nav-thread-link{
    border-left: 3px solid tma_primary_color;
    color: tma_primary_color;
}
.discussion.inline-discussion .inline-thread .forum-nav-bar .all-posts-btn {
   color: tma_primary_color;
}
.discussion.inline-discussion .new-post-article .add-post-cancel {
   color: tma_primary_color;
}


.bookmarks-results-list .bookmarks-results-list-item:hover{
  border-color: tma_primary_color;
}
.bookmarks-results-list .bookmarks-results-list-item:hover .list-item-breadcrumbtrail{
  color: tma_primary_color;
}

p a,p a:visited {
   color: tma_primary_color;;
}

.btn-link,.view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt-more-link,.view-student-notes .note-group .note .reference .wrapper-reference-content a.reference-meta,.edx-notes-wrapper .annotator-adder button:after,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-edit:before,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-delete:before,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-close:before,.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-cancel,.view-student-notes .wrapper-tabs .tab-list .tab .tab-label,.view-student-notes .wrapper-tabs .tab-list .tab .action-close {
    color: tma_primary_color;
}

.btn-link:hover,.view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt-more-link:hover,.view-student-notes .note-group .note .reference .wrapper-reference-content a.reference-meta:hover,.view-student-notes .note-group .note .reference .wrapper-reference-content div.info-wrapper section.handouts ol li div.hitarea:hover+h4.reference-meta,div.info-wrapper section.handouts ol li .view-student-notes .note-group .note .reference .wrapper-reference-content div.hitarea:hover+h4.reference-meta,.view-student-notes .note-group .note .reference .wrapper-reference-content div.info-wrapper section.handouts ol li div.hitarea:focus+h4.reference-meta,div.info-wrapper section.handouts ol li .view-student-notes .note-group .note .reference .wrapper-reference-content div.hitarea:focus+h4.reference-meta,.edx-notes-wrapper .annotator-adder button:hover:after,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-edit:hover:before,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-delete:hover:before,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-close:hover:before,.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-cancel:hover,.view-student-notes .wrapper-tabs .tab-list .tab .tab-label:hover,.view-student-notes .wrapper-tabs .tab-list .tab .action-close:hover,.btn-link:focus,.view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt-more-link:focus,.view-student-notes .note-group .note .reference .wrapper-reference-content a.reference-meta:focus,.edx-notes-wrapper .annotator-adder button:focus:after,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-edit:focus:before,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-delete:focus:before,.edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-close:focus:before,.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-cancel:focus,.view-student-notes .wrapper-tabs .tab-list .tab .tab-label:focus,.view-student-notes .wrapper-tabs .tab-list .tab .action-close:focus {
    color: tma_primary_color;
}


.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover, .xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label:hover, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicegroup label:hover, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicetextgroup label:hover{
    border: 2px solid tma_primary_color;
}

.btn-default {
    color: tma_primary_color
}

.btn-default:hover,.btn-default.is-hovered,.btn-default:focus,.btn-default.is-focused {
    border-color: tma_primary_color;
    background-color: transparent;
    color: tma_primary_color
}

.btn-default:active,.btn-default.is-pressed,.btn-default.is-active {
    border-color: tma_primary_color;
    color: tma_primary_color
}

.btn-default:disabled,.btn-default.is-disabled {
    border-color: #d2d0d0;
    color: #6b6969
}

.btn-brand {
    border-color: tma_primary_color;
    background: tma_primary_color;
    color: #fcfcfc
}

.btn-brand:hover,.btn-brand.is-hovered,.btn-brand:focus,.btn-brand.is-focused {
    border-color: #005d90;
    background-color: #005d90;
    color: #fcfcfc
}

.btn-brand:active,.btn-brand.is-pressed,.btn-brand.is-active {
    border-color: tma_primary_color;
    background: tma_primary_color;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:last-of-type{
  padding-bottom:0px !important;
}
.xmodule_display.xmodule_CapaModule div.problem button.btn-brand:hover{
  background-color: white;
  color: tma_primary_color;
}


.content-wrapper{
  background-color: transparent !important;
  background-size: cover;
  background-position: center;
}
.course-header{
 display:none !important;
}
.header-global.slim h1.logo {
 margin-top: 15px;
}
.header-global.slim h1.logo img{
    height: 40px;
}
.header-global .user{
 margin-top: 15px;
}
#global-navigation{
  height: 80px !important;
}

#return_dashboard {
  width:30%;
}
#return_dashboard a:hover{
  border-bottom-color: white;
  color:white !important;
}

.container>div {
  border: none;
}
.courseware-bookmarks-button {
}
.btn.btn-link.bookmark-button{
  border:none !important;
}
.bookmarks-list-button, .bookmarks-list-button.is-active{
   border: 1px solid white !important;
   color:white !important;
   margin-top: 5px;
   margin-bottom:5px;
   font-size: 16px !important;
}
.bookmarks-list-button:hover, .bookmarks-list-button.is-active:hover{
   border: 1px solid white !important;
   color:tma_primary_color !important;
   background-color:white !important;
   margin-top: 5px;
   margin-bottom:5px;
}
.courseware-bookmarks-button,.courseware-search-bar {
  width: 100%;
}
.courseware-bookmarks-button .bookmarks-list-button.is-active{
  background-color:white !important;
  color:tma_primary_color !important;
}
body.view-in-course .wrapper-course-material .course-material,.course-index,.course-index .accordion .course-navigation .button-chapter,.course-index .accordion .course-navigation .button-chapter.active .group-heading,.course-index .accordion .course-navigation .button-chapter .group-heading {
    color: #fff;
 /* primary color */
 /*background-color: rgba(158,227,226,1) !important;*/
   background-color: tma_primary_color !important;
}
.fa-chevron-prev:before{
 color:white;
}
.fa-chevron-next:before{
 color:white;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded .menu-icon {
  color:tma_primary_color;
}

#course-search-input {
  border: none;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255,255,255,0.2);
  outline: none;
  height: 31px;
  width: calc(100% - 31px);
}
#course-search-input[placeholder]{
 color:white;
}
#course-search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:white;
}
#course-search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:white;
 opacity:  1;
}
#course-search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:white;
 opacity:  1;
}
#course-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:white;
}
#course-search-input::-ms-input-placeholder { /* Microsoft Edge */
 color:white;
}

.search-bar .search-button,.search-bar .search-button:hover {
  height: 31px;
  width: 31px;
  vertical-align: middle;
  line-height: 31px;
  text-align: center;
  outline: none;
  padding: 0;
  background-color: transparent !important
}
.search-bar .cancel-button:hover,.search-bar .cancel-button {
  width: 31px;
  height: 31px;
  outline: none;
  /* primary color 45% opacity */
  background-color: rgba(158,227,226,1) !important;
}
.search-bar .search-button .svg path {
  fill: #fff;
}
.search-button .svg {
  width: 18.73px;
  height: 19.4px;
  margin-top: 5.8px;
  margin-left: 6.135px;
}
.course-index {
  border-right: none;
}
.course-index .accordion .course-navigation .button-chapter.active .group-heading {
  color: #fff;
}
.course-index .accordion .course-navigation .button-chapter,.course-index .accordion .course-navigation .button-chapter:hover {
  color: #fff;
  border: none;
  background: tma_primary_color;
  box-shadow: none;
}
.xblock .xblock h3.unit-title{
  color:#9F9F9F !important;
}
.course-index .accordion .course-navigation .button-chapter .group-heading {
  font-weight: 600;
}
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.active a,.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.active a:hover {
  color: #fff;
  background-color: #9F9F9F !important;
}
.course-index .accordion .course-navigation .is-open {
  color: #fff;
}
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a p .subtitle-name {
  color: rgb(60, 60, 60);
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .sequence-tooltip {
  display: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol {
  position: absolute;
  width: 100%;
  height: 5px;
  /* primary color */
  background-color: tma_primary_color;
  top: 50%;
  margin-top: -2.5px;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_other .icon:before,.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem .icon:before,.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_video .icon:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
  border-bottom: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active.seq_other .icon:before,.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active.seq_problem .icon:before,.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active.seq_video .icon:before {
  background-color:#fff !important;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button:hover,.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button {
  border-radius: 50%;
  /* primary color */
  background-color: tma_primary_color;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 12px 3px rgba(0,0,0,0.15);
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover,.xmodule_display.xmodule_SequenceModule .sequence-nav-button {
  border: none;
  border-bottom: none;
  color: #fff !important;
  border-radius: 20px !important;
  height: 25px;
  margin-top: 9px;
  text-transform:uppercase;
  font-weight:bold;
  font-size: 14px;
  /* secondary color */
  background-color:#9F9F9F !important;
  box-shadow: 0 3px 12px 3px rgba(0,0,0,0.15);
}
.xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
  display: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover,.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover {
  border-bottom: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li {
  border: none;
  text-align: center;
  border-color: transparent;
  margin-top: -12px;
}
.wrapper-course-material .course-tabs li a, .wrapper-course-material .course-tabs li a:visited {
  color: #fff;
  text-transform:uppercase;
  font-weight: bold;
}
.wrapper-course-material .course-tabs li {
  color: #fff;
  text-transform:uppercase;
  font-weight: bold;
  border-right: 1px solid #fff;
  height: 40px;
  margin-bottom: 8px;
}
.wrapper-course-material .course-tabs li:last-child{
  border-right: 1px solid transparent;
}
.wrapper-course-material .course-tabs li a:hover,.wrapper-course-material .course-tabs li a.active {
  color: #fff !important;
  border-bottom-color: #fff !important;
}
.fa-caret-right:before,.fa-caret-down:before{
  color: #fff !important;
}
.course-wrapper .course-content .path {
  margin-top: 20px;
  font-size: 12px;
  font-style: italic;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav {
  position: absolute;
  width: 100%;
  top: -60px;
  left: 0;
}
.course-wrapper .course-content .xmodule_display {
  position: relative;
  margin-top: 60px;
  background: #fff;
  padding: 20px;
  width:calc(100% - 40px);
}
.course-wrapper .course-content {
  background-color: #F5F5F5;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}
.wrapper-course-material .course-tabs li a {
  padding: 10px 20px 13px 20px;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon {
  color: #fff !important;
}

.search-bar .search-button:hover, .search-bar .search-button:focus, .search-bar .search-button:active, .search-bar .cancel-button:hover, .search-bar .cancel-button:focus, .search-bar .cancel-button:active, .search-bar .search-button:hover:hover, .search-bar .search-button:hover:focus, .search-bar .search-button:hover:active, .search-bar .cancel-button:hover:hover, .search-bar .cancel-button:hover:focus, .search-bar .cancel-button:hover:active{


}
