.btn-login,.btn-login:hover,.btn-login:visited,.btn-login:focus {
  color: #fff !important;
  background-color: rgb(17,181,239) !important;
}
span.icon.fa {
  color: #fff !important;
}
.find-courses .discovery-submit {
  border-color: rgb(17,181,239) !important;
  background-color: rgb(17,181,239) !important;
}
#discovery-message {
  color: #fff !important;
  background-color: rgb(17,181,239) !important;
}
.find-courses, .university-profile {
  background-color: transparent !important;
}
.find-courses .wrapper-search-context .search-status-label {
  width: 71.41059% ! important;
  padding-left: 3% !important;
}
.courses-container .courses .course .course-image .cover-image .learn-more {
  border-color: rgb(17,181,239) !important;
  background: rgb(17,181,239) !important;
}
.courses-container .courses .course {
  border-bottom: 3px solid rgb(17,181,239) !important;
}
.find-courses .search-facets .facet-option:hover, .find-courses .search-facets .facet-option:focus {
  background: rgb(17,181,239) !important;
}
