[class^="socicon-"],
[class*=" socicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,div,span,button,input,p,h1,h2,h3,h4,h5,h6,a,html,body {
 font-family: 'custom_font';
}

/*Header*/
.logo img{
 height:60px;
 margin-top:-8px;
}

.wrapper-course-material .course-tabs li a:hover, .wrapper-course-material .course-tabs li a.active {
 color: rgba(103,177,52,1);
 border-bottom-color: rgba(103,177,52,1);
}

/* bouton explorer les cours */
.header-global .nav-global li a {
 color: rgba(103,177,52,1);
}
.header-global .nav-global li a:hover {
 color: rgba(103,177,52,0.8);
}

/*bouton nav */
.header-global .nav-courseware li .btn {
  background-color: rgba(103,177,52,1);
  border-bottom-color: rgba(103,177,52,1);
  box-shadow: 0 2px 1px 0 rgba(103,177,52,1);

}
.header-global .nav-courseware li .btn:hover {
  background-color: rgba(103,177,52,0.8);
  border-bottom-color: rgba(103,177,52,0.8);

}

/* bouton register / login */

.login-register .action-primary {
  background-color: rgba(103,177,52,1);
  border-bottom-color: rgba(103,177,52,1);
  box-shadow: 0 2px 1px 0 rgba(103,177,52,1);
}
.login-register .action-primary:hover {
  background-color: rgba(103,177,52,0.8);
  border-bottom-color: rgba(103,177,52,0.8);
}
.supplemental-link a {
 color: rgba(103,177,52,1);
}
.login-register .nav-btn {
 color: rgba(103,177,52,1);
 border-color: rgba(103,177,52,1);
}
.login-register .nav-btn:hover {
 background-color: rgba(103,177,52,1);
 box-shadow: 0 2px 1px 0 rgba(103,177,52,1);
}

/* dashboard empty message */

.empty-dashboard-message a {
 background-color: rgba(103,177,52,1);
 box-shadow: 0 2px 1px 0 rgba(103,177,52,1);
 border-color: rgba(103,177,52,1);
}
.empty-dashboard-message a:hover {
 color: #fff;
 background-color: rgba(103,177,52,0.8);
 box-shadow: 0 2px 1px 0 rgba(103,177,52,0.8);
}

/* dashboard course title */
.dashboard .my-courses .course .details .course-title a {
 color: rgba(103,177,52,1);
}
.dashboard .my-courses .course .details .course-title a:hover {
 color: rgba(103,177,52,0.8);
}
.dashboard .my-courses .course .details .enter-course:hover {
 background-color:rgba(103,177,52,1);
}
.dashboard .my-courses .course .details .enter-course {
 color: rgba(103,177,52,1);
 border-color: rgba(103,177,52,1);
}

/* course page */

/* course nav */

.wrapper-course-material .course-tabs li a:hover,.wrapper-course-material .course-tabs li a.active {
 color: rgba(103,177,52,1);
 border-bottom-color: rgba(103,177,52,1);
}
.wrapper-course-material .course-tabs li a:hover {color:rgba(103,177,52,1);}
/* course button | discution button */

.discussion-module .btn,.btn {
 color: rgba(103,177,52,1);
 border-bottom-color: rgba(103,177,52,1);
}

.discussion-module .btn:hover,.btn:hover {
 background-color: rgba(103,177,52,1);
}

/* course left menu */

.course-index .accordion .course-navigation .button-chapter {
 color: rgba(103,177,52,1);
}

.discussion-module .btn, .btn {
 background-color: transparent;
border-color: rgba(103,177,52,1);
}
.forum-new-post-form .post-type-input:checked+.post-type-label, .edit-post-form .post-type-input:checked+.post-type-label,.discussion-module .btn-brand {
 border-color: rgba(103,177,52,1);
 background-color: rgba(103,177,52,1);
}
.discussion-module .btn-brand {
 color: #fff;
}
.forum-new-post-form .post-option.is-enabled {
 border-color: rgba(103,177,52,1);
 color: rgba(103,177,52,1);
}
.discussion-module .btn-brand:hover {
 border-color: rgba(103,177,52,1);
 color: rgba(103,177,52,1);
 background-color: #fff;
}

/* login custo */

.view-login .introduction {
  display: none;
}

.header-global .nav-courseware li .btn:hover, .header-global .nav-courseware div .btn:hover, .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwordreset .form-actions button[type="submit"]:hover, #forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, .view-survey .action-primary:hover, .header-global .nav-courseware li .btn:active, .header-global .nav-courseware div .btn:active, .login .form-actions button[type="submit"]:active, .register .form-actions button[type="submit"]:active, .passwordreset .form-actions button[type="submit"]:active, #forgot-password-modal #password-reset .form-actions button[type="submit"]:active, .view-survey .action-primary:active, .header-global .nav-courseware li .btn:focus, .header-global .nav-courseware div .btn:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwordreset .form-actions button[type="submit"]:focus, #forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, .view-survey .action-primary:focus {
 background: rgba(103,177,52,0.8);
}
.view-register .form-actions button[type="submit"], .view-login .form-actions button[type="submit"], .view-passwordreset .form-actions button[type="submit"], .view-survey .form-actions button[type="submit"] {
 background: rgba(103,177,52,1);
 box-shadow: 0 2px 1px 0 rgba(103,177,52,1);
}
/* footer hidden */

/* other custo */
.wrapper-course-material .course-tabs li a:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover+h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover+h4, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus+h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus+h4, .wrapper-course-material .course-tabs li a:focus, .wrapper-course-material .course-tabs li a.active, .wrapper-course-material .course-tabs li a:visited:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover+h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover+h4:visited, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus+h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus+h4:visited, .wrapper-course-material .course-tabs li a:visited:focus, .wrapper-course-material .course-tabs li a:visited.active {
    color: rgba(103,177,52,1);
    border-bottom-color: rgba(103,177,52,1);
}
.wrapper-course-material .course-tabs li a, .wrapper-course-material .course-tabs li a:visited {
 color: rgba(103,177,52,1);
}
.view-register .introduction, .view-login .introduction, .view-passwordreset .introduction {
 display: none;
}
.btn:hover, .is-hovered.btn, .btn:focus, .is-focused.btn {
 color: rgba(103,177,52,1);
 background: rgba(103,177,52,1);
}
.btn {
 border-color: rgba(103,177,52,1);
}
/* font call */

*,div,span,section,h1,h2,h3,h4,h5,h6,p,header {
 font-family: "custom_font";
}

/* logo custom */

.logo img {
  margin-top: 0;
  height: 40px;
}
.view-howitworks .nav-global-01 a, .view-courses .nav-global-02 a, .view-schools .nav-global-03 a, .view-register .nav-global-04 a {
 color: rgba(103,177,52,1) !important;
}

.btn-brand:hover, .btn-brand.is-hovered, .btn-brand:focus, .btn-brand.is-focused,.btn-brand {
 color: white;
 border-color: rgba(103,177,52,1);
 background-color: rgba(103,177,52,1);
}
.btn-link, .view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt-more-link, .view-student-notes .note-group .note .reference .wrapper-reference-content a.reference-meta, .edx-notes-wrapper .annotator-adder button:after, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-edit:before, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-delete:before, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-close:before, .edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-cancel, .view-student-notes .wrapper-tabs .tab-list .tab .tab-label, .view-student-notes .wrapper-tabs .tab-list .tab .action-close {
 color: rgba(103,177,52,1);
}
.btn-blue:hover, .view-teams .action-primary:hover, .btn-blue:active, .view-teams .action-primary:active, .btn-blue:focus, .view-teams .action-primary:focus {
 background: rgba(103,177,52,0.8);
}
.btn-blue, .view-teams .action-primary, .instructor-dashboard-wrapper-2 .btn-blue {
 background: rgba(103,177,52,1);
 box-shadow: 0 2px 1px 0 rgba(103,177,52,1);
}
.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:hover:not(:disabled) {
 background-color: rgba(103,177,52,1);
 box-shadow: inset 0 1px 0 0 rgba(103,177,52,1);
 background-image: none;
}

/* other font */
.view-register .introduction header h1, .view-login .introduction header .view-register h1, .view-passwordreset .introduction header .view-register h1, .view-register #forgot-password-modal #password-reset header h2, #forgot-password-modal #password-reset header .view-register h2, .view-register #forgot-password-modal #password-reset .home>header .title>.heading-group p, #forgot-password-modal #password-reset .home>header .title>.heading-group .view-register p, .view-register #forgot-password-modal #password-reset header section.outside-app h1, #forgot-password-modal #password-reset header section.outside-app .view-register h1, .view-register section.outside-app #forgot-password-modal #password-reset header h1, section.outside-app #forgot-password-modal #password-reset header .view-register h1, .view-register .login aside .btn h3, .login aside .btn .view-register h3, .view-register .register aside .btn h3, .register aside .btn .view-register h3, .view-register .passwordreset aside .btn h3, .passwordreset aside .btn .view-register h3, .view-register #forgot-password-modal #password-reset aside .btn h3, #forgot-password-modal #password-reset aside .btn .view-register h3, .view-register .login .status .message-title, .login .status .view-register .message-title, .view-register .register .status .message-title, .register .status .view-register .message-title, .view-register .passwordreset .status .message-title, .passwordreset .status .view-register .message-title, .view-register #forgot-password-modal #password-reset .status .message-title, #forgot-password-modal #password-reset .status .view-register .message-title, .view-register .login form .instructions, .login form .view-register .instructions, .view-register .register form .instructions, .register form .view-register .instructions, .view-register .passwordreset form .instructions, .passwordreset form .view-register .instructions, .view-register #forgot-password-modal #password-reset form .instructions, #forgot-password-modal #password-reset form .view-register .instructions, .view-register .login p, .login .view-register p, .view-register .login ol, .login .view-register ol, .view-register .login ul, .login .view-register ul, .view-register .login h1, .login .view-register h1, .view-register .login h2, .login .view-register h2, .view-register .login .home>header .title>.heading-group p, .login .home>header .title>.heading-group .view-register p, .view-register .home>header .title>.heading-group .login p, .home>header .title>.heading-group .login .view-register p, .view-register .login h3, .login .view-register h3, .view-register .login h4, .login .view-register h4, .view-register .login h5, .login .view-register h5, .view-register .login h6, .login .view-register h6, .view-register .login label, .login .view-register label, .view-register .login input, .login .view-register input, .view-register .login textarea, .login .view-register textarea, .view-register .register p, .register .view-register p, .view-register .register ol, .register .view-register ol, .view-register .register ul, .register .view-register ul, .view-register .register h1, .register .view-register h1, .view-register .register h2, .register .view-register h2, .view-register .register .home>header .title>.heading-group p, .register .home>header .title>.heading-group .view-register p, .view-register .home>header .title>.heading-group .register p, .home>header .title>.heading-group .register .view-register p, .view-register .register h3, .register .view-register h3, .view-register .register h4, .register .view-register h4, .view-register .register h5, .register .view-register h5, .view-register .register h6, .register .view-register h6, .view-register .register label, .register .view-register label, .view-register .register input, .register .view-register input, .view-register .register textarea, .register .view-register textarea, .view-register .passwordreset p, .passwordreset .view-register p, .view-register .passwordreset ol, .passwordreset .view-register ol, .view-register .passwordreset ul, .passwordreset .view-register ul, .view-register .passwordreset h1, .passwordreset .view-register h1, .view-register .passwordreset h2, .passwordreset .view-register h2, .view-register .passwordreset .home>header .title>.heading-group p, .passwordreset .home>header .title>.heading-group .view-register p, .view-register .home>header .title>.heading-group .passwordreset p, .home>header .title>.heading-group .passwordreset .view-register p, .view-register .passwordreset h3, .passwordreset .view-register h3, .view-register .passwordreset h4, .passwordreset .view-register h4, .view-register .passwordreset h5, .passwordreset .view-register h5, .view-register .passwordreset h6, .passwordreset .view-register h6, .view-register .passwordreset label, .passwordreset .view-register label, .view-register .passwordreset input, .passwordreset .view-register input, .view-register .passwordreset textarea, .passwordreset .view-register textarea, .view-register #forgot-password-modal #password-reset p, #forgot-password-modal #password-reset .view-register p, .view-register #forgot-password-modal #password-reset ol, #forgot-password-modal #password-reset .view-register ol, .view-register #forgot-password-modal #password-reset ul, #forgot-password-modal #password-reset .view-register ul, .view-register #forgot-password-modal #password-reset h1, #forgot-password-modal #password-reset .view-register h1, .view-register #forgot-password-modal #password-reset h2, #forgot-password-modal #password-reset .view-register h2, .view-register #forgot-password-modal #password-reset h3, #forgot-password-modal #password-reset .view-register h3, .view-register #forgot-password-modal #password-reset h4, #forgot-password-modal #password-reset .view-register h4, .view-register #forgot-password-modal #password-reset h5, #forgot-password-modal #password-reset .view-register h5, .view-register #forgot-password-modal #password-reset h6, #forgot-password-modal #password-reset .view-register h6, .view-register #forgot-password-modal #password-reset label, #forgot-password-modal #password-reset .view-register label, .view-register #forgot-password-modal #password-reset input, #forgot-password-modal #password-reset .view-register input, .view-register #forgot-password-modal #password-reset textarea, #forgot-password-modal #password-reset .view-register textarea, .view-register .login .status .message-copy, .login .status .view-register .message-copy, .view-register .register .status .message-copy, .register .status .view-register .message-copy, .view-register .passwordreset .status .message-copy, .passwordreset .status .view-register .message-copy, .view-register #forgot-password-modal #password-reset .status .message-copy, #forgot-password-modal #password-reset .status .view-register .message-copy, .view-register #forgot-password-modal .modal-form-error, #forgot-password-modal .view-register .modal-form-error, .view-register .introduction header .view-login h1, .view-login .introduction header h1, .view-passwordreset .introduction header .view-login h1, .view-login #forgot-password-modal #password-reset header h2, #forgot-password-modal #password-reset header .view-login h2, .view-login #forgot-password-modal #password-reset .home>header .title>.heading-group p, #forgot-password-modal #password-reset .home>header .title>.heading-group .view-login p, .view-login #forgot-password-modal #password-reset header section.outside-app h1, #forgot-password-modal #password-reset header section.outside-app .view-login h1, .view-login section.outside-app #forgot-password-modal #password-reset header h1, section.outside-app #forgot-password-modal #password-reset header .view-login h1, .view-login .login aside .btn h3, .login aside .btn .view-login h3, .view-login .register aside .btn h3, .register aside .btn .view-login h3, .view-login .passwordreset aside .btn h3, .passwordreset aside .btn .view-login h3, .view-login #forgot-password-modal #password-reset aside .btn h3, #forgot-password-modal #password-reset aside .btn .view-login h3, .view-login .login .status .message-title, .login .status .view-login .message-title, .view-login .register .status .message-title, .register .status .view-login .message-title, .view-login .passwordreset .status .message-title, .passwordreset .status .view-login .message-title, .view-login #forgot-password-modal #password-reset .status .message-title, #forgot-password-modal #password-reset .status .view-login .message-title, .view-login .login form .instructions, .login form .view-login .instructions, .view-login .register form .instructions, .register form .view-login .instructions, .view-login .passwordreset form .instructions, .passwordreset form .view-login .instructions, .view-login #forgot-password-modal #password-reset form .instructions, #forgot-password-modal #password-reset form .view-login .instructions, .view-login .login p, .login .view-login p, .view-login .login ol, .login .view-login ol, .view-login .login ul, .login .view-login ul, .view-login .login h1, .login .view-login h1, .view-login .login h2, .login .view-login h2, .view-login .login .home>header .title>.heading-group p, .login .home>header .title>.heading-group .view-login p, .view-login .home>header .title>.heading-group .login p, .home>header .title>.heading-group .login .view-login p, .view-login .login h3, .login .view-login h3, .view-login .login h4, .login .view-login h4, .view-login .login h5, .login .view-login h5, .view-login .login h6, .login .view-login h6, .view-login .login label, .login .view-login label, .view-login .login input, .login .view-login input, .view-login .login textarea, .login .view-login textarea, .view-login .register p, .register .view-login p, .view-login .register ol, .register .view-login ol, .view-login .register ul, .register .view-login ul, .view-login .register h1, .register .view-login h1, .view-login .register h2, .register .view-login h2, .view-login .register .home>header .title>.heading-group p, .register .home>header .title>.heading-group .view-login p, .view-login .home>header .title>.heading-group .register p, .home>header .title>.heading-group .register .view-login p, .view-login .register h3, .register .view-login h3, .view-login .register h4, .register .view-login h4, .view-login .register h5, .register .view-login h5, .view-login .register h6, .register .view-login h6, .view-login .register label, .register .view-login label, .view-login .register input, .register .view-login input, .view-login .register textarea, .register .view-login textarea, .view-login .passwordreset p, .passwordreset .view-login p, .view-login .passwordreset ol, .passwordreset .view-login ol, .view-login .passwordreset ul, .passwordreset .view-login ul, .view-login .passwordreset h1, .passwordreset .view-login h1, .view-login .passwordreset h2, .passwordreset .view-login h2, .view-login .passwordreset .home>header .title>.heading-group p, .passwordreset .home>header .title>.heading-group .view-login p, .view-login .home>header .title>.heading-group .passwordreset p, .home>header .title>.heading-group .passwordreset .view-login p, .view-login .passwordreset h3, .passwordreset .view-login h3, .view-login .passwordreset h4, .passwordreset .view-login h4, .view-login .passwordreset h5, .passwordreset .view-login h5, .view-login .passwordreset h6, .passwordreset .view-login h6, .view-login .passwordreset label, .passwordreset .view-login label, .view-login .passwordreset input, .passwordreset .view-login input, .view-login .passwordreset textarea, .passwordreset .view-login textarea, .view-login #forgot-password-modal #password-reset p, #forgot-password-modal #password-reset .view-login p, .view-login #forgot-password-modal #password-reset ol, #forgot-password-modal #password-reset .view-login ol, .view-login #forgot-password-modal #password-reset ul, #forgot-password-modal #password-reset .view-login ul, .view-login #forgot-password-modal #password-reset h1, #forgot-password-modal #password-reset .view-login h1, .view-login #forgot-password-modal #password-reset h2, #forgot-password-modal #password-reset .view-login h2, .view-login #forgot-password-modal #password-reset h3, #forgot-password-modal #password-reset .view-login h3, .view-login #forgot-password-modal #password-reset h4, #forgot-password-modal #password-reset .view-login h4, .view-login #forgot-password-modal #password-reset h5, #forgot-password-modal #password-reset .view-login h5, .view-login #forgot-password-modal #password-reset h6, #forgot-password-modal #password-reset .view-login h6, .view-login #forgot-password-modal #password-reset label, #forgot-password-modal #password-reset .view-login label, .view-login #forgot-password-modal #password-reset input, #forgot-password-modal #password-reset .view-login input, .view-login #forgot-password-modal #password-reset textarea, #forgot-password-modal #password-reset .view-login textarea, .view-login .login .status .message-copy, .login .status .view-login .message-copy, .view-login .register .status .message-copy, .register .status .view-login .message-copy, .view-login .passwordreset .status .message-copy, .passwordreset .status .view-login .message-copy, .view-login #forgot-password-modal #password-reset .status .message-copy, #forgot-password-modal #password-reset .status .view-login .message-copy, .view-login #forgot-password-modal .modal-form-error, #forgot-password-modal .view-login .modal-form-error, .view-register .introduction header .view-passwordreset h1, .view-login .introduction header .view-passwordreset h1, .view-passwordreset .introduction header h1, .view-passwordreset #forgot-password-modal #password-reset header h2, #forgot-password-modal #password-reset header .view-passwordreset h2, .view-passwordreset #forgot-password-modal #password-reset .home>header .title>.heading-group p, #forgot-password-modal #password-reset .home>header .title>.heading-group .view-passwordreset p, .view-passwordreset #forgot-password-modal #password-reset header section.outside-app h1, #forgot-password-modal #password-reset header section.outside-app .view-passwordreset h1, .view-passwordreset section.outside-app #forgot-password-modal #password-reset header h1, section.outside-app #forgot-password-modal #password-reset header .view-passwordreset h1, .view-passwordreset .login aside .btn h3, .login aside .btn .view-passwordreset h3, .view-passwordreset .register aside .btn h3, .register aside .btn .view-passwordreset h3, .view-passwordreset .passwordreset aside .btn h3, .passwordreset aside .btn .view-passwordreset h3, .view-passwordreset #forgot-password-modal #password-reset aside .btn h3, #forgot-password-modal #password-reset aside .btn .view-passwordreset h3, .view-passwordreset .login .status .message-title, .login .status .view-passwordreset .message-title, .view-passwordreset .register .status .message-title, .register .status .view-passwordreset .message-title, .view-passwordreset .passwordreset .status .message-title, .passwordreset .status .view-passwordreset .message-title, .view-passwordreset #forgot-password-modal #password-reset .status .message-title, #forgot-password-modal #password-reset .status .view-passwordreset .message-title, .view-passwordreset .login form .instructions, .login form .view-passwordreset .instructions, .view-passwordreset .register form .instructions, .register form .view-passwordreset .instructions, .view-passwordreset .passwordreset form .instructions, .passwordreset form .view-passwordreset .instructions, .view-passwordreset #forgot-password-modal #password-reset form .instructions, #forgot-password-modal #password-reset form .view-passwordreset .instructions, .view-passwordreset .login p, .login .view-passwordreset p, .view-passwordreset .login ol, .login .view-passwordreset ol, .view-passwordreset .login ul, .login .view-passwordreset ul, .view-passwordreset .login h1, .login .view-passwordreset h1, .view-passwordreset .login h2, .login .view-passwordreset h2, .view-passwordreset .login .home>header .title>.heading-group p, .login .home>header .title>.heading-group .view-passwordreset p, .view-passwordreset .home>header .title>.heading-group .login p, .home>header .title>.heading-group .login .view-passwordreset p, .view-passwordreset .login h3, .login .view-passwordreset h3, .view-passwordreset .login h4, .login .view-passwordreset h4, .view-passwordreset .login h5, .login .view-passwordreset h5, .view-passwordreset .login h6, .login .view-passwordreset h6, .view-passwordreset .login label, .login .view-passwordreset label, .view-passwordreset .login input, .login .view-passwordreset input, .view-passwordreset .login textarea, .login .view-passwordreset textarea, .view-passwordreset .register p, .register .view-passwordreset p, .view-passwordreset .register ol, .register .view-passwordreset ol, .view-passwordreset .register ul, .register .view-passwordreset ul, .view-passwordreset .register h1, .register .view-passwordreset h1, .view-passwordreset .register h2, .register .view-passwordreset h2, .view-passwordreset .register .home>header .title>.heading-group p, .register .home>header .title>.heading-group .view-passwordreset p, .view-passwordreset .home>header .title>.heading-group .register p, .home>header .title>.heading-group .register .view-passwordreset p, .view-passwordreset .register h3, .register .view-passwordreset h3, .view-passwordreset .register h4, .register .view-passwordreset h4, .view-passwordreset .register h5, .register .view-passwordreset h5, .view-passwordreset .register h6, .register .view-passwordreset h6, .view-passwordreset .register label, .register .view-passwordreset label, .view-passwordreset .register input, .register .view-passwordreset input, .view-passwordreset .register textarea, .register .view-passwordreset textarea, .view-passwordreset .passwordreset p, .passwordreset .view-passwordreset p, .view-passwordreset .passwordreset ol, .passwordreset .view-passwordreset ol, .view-passwordreset .passwordreset ul, .passwordreset .view-passwordreset ul, .view-passwordreset .passwordreset h1, .passwordreset .view-passwordreset h1, .view-passwordreset .passwordreset h2, .passwordreset .view-passwordreset h2, .view-passwordreset .passwordreset .home>header .title>.heading-group p, .passwordreset .home>header .title>.heading-group .view-passwordreset p, .view-passwordreset .home>header .title>.heading-group .passwordreset p, .home>header .title>.heading-group .passwordreset .view-passwordreset p, .view-passwordreset .passwordreset h3, .passwordreset .view-passwordreset h3, .view-passwordreset .passwordreset h4, .passwordreset .view-passwordreset h4, .view-passwordreset .passwordreset h5, .passwordreset .view-passwordreset h5, .view-passwordreset .passwordreset h6, .passwordreset .view-passwordreset h6, .view-passwordreset .passwordreset label, .passwordreset .view-passwordreset label, .view-passwordreset .passwordreset input, .passwordreset .view-passwordreset input, .view-passwordreset .passwordreset textarea, .passwordreset .view-passwordreset textarea, .view-passwordreset #forgot-password-modal #password-reset p, #forgot-password-modal #password-reset .view-passwordreset p, .view-passwordreset #forgot-password-modal #password-reset ol, #forgot-password-modal #password-reset .view-passwordreset ol, .view-passwordreset #forgot-password-modal #password-reset ul, #forgot-password-modal #password-reset .view-passwordreset ul, .view-passwordreset #forgot-password-modal #password-reset h1, #forgot-password-modal #password-reset .view-passwordreset h1, .view-passwordreset #forgot-password-modal #password-reset h2, #forgot-password-modal #password-reset .view-passwordreset h2, .view-passwordreset #forgot-password-modal #password-reset h3, #forgot-password-modal #password-reset .view-passwordreset h3, .view-passwordreset #forgot-password-modal #password-reset h4, #forgot-password-modal #password-reset .view-passwordreset h4, .view-passwordreset #forgot-password-modal #password-reset h5, #forgot-password-modal #password-reset .view-passwordreset h5, .view-passwordreset #forgot-password-modal #password-reset h6, #forgot-password-modal #password-reset .view-passwordreset h6, .view-passwordreset #forgot-password-modal #password-reset label, #forgot-password-modal #password-reset .view-passwordreset label, .view-passwordreset #forgot-password-modal #password-reset input, #forgot-password-modal #password-reset .view-passwordreset input, .view-passwordreset #forgot-password-modal #password-reset textarea, #forgot-password-modal #password-reset .view-passwordreset textarea, .view-passwordreset .login .status .message-copy, .login .status .view-passwordreset .message-copy, .view-passwordreset .register .status .message-copy, .register .status .view-passwordreset .message-copy, .view-passwordreset .passwordreset .status .message-copy, .passwordreset .status .view-passwordreset .message-copy, .view-passwordreset #forgot-password-modal #password-reset .status .message-copy, #forgot-password-modal #password-reset .status .view-passwordreset .message-copy, .view-passwordreset #forgot-password-modal .modal-form-error, #forgot-password-modal .view-passwordreset .modal-form-error {
 font-family: "custom_font";
}
/* other font */
.verification-process .report-receipt-provider .provider-buttons-logos .complete-order button, .dashboard .my-courses .course .details .enter-course, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .verification-cta .btn, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .credit-action .credit-btn, .btn-secondary, .dashboard .my-courses .course .details .enter-course.archived, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link, .courseware-bookmarks-button .bookmarks-list-button, .pagination .current-page, .pagination .page-number-input, .pagination .total-pages, .verification-process .carousel #wrapper-review .review-task .copy, .verification-process.step-confirmation .list-info .info-item .copy, .view-survey .instructions, .view-survey .action-primary, .view-survey label, .view-profile .profile-section-two-fields .u-field-value, .view-profile .badge-set-display .badge-display .badge-details .badge-name, .login-register .instructions, .financial-assistance-wrapper .financial-assistance-form .instructions, .login-register .status .message-copy, .financial-assistance-wrapper .financial-assistance-form .status .message-copy, .login-register .status .message-copy p, .financial-assistance-wrapper .financial-assistance-form .status .message-copy p, .login-register .institution-list .institution, .financial-assistance-wrapper .financial-assistance-form .institution-list .institution, .verification-process.step-select-track .register-choice .copy, .verification-process.step-select-track .register-choice .wrapper-copy-inline, .verification-process.step-select-track .register-choice .copy-inline, .verification-process.step-requirements .list-reqs .req .copy-super, .verification-process.step-requirements .list-reqs .req-activate .copy-sub, .cart-errors, .confirm-enrollment .enrollment-details .enrollment-text, .shopping-cart .user-data .data-input h1 span, .shopping-cart .user-data .data-input .three-col .col-1, .shopping-cart .user-data .data-input .three-col .col-2 .numbers-row label, .shopping-cart .discount .code-input input[type="text"], .shopping-cart .col-two .col-1 span.radio-group label, .shopping-cart .col-two .col-2 p, .shopping-cart .billing-data .col-half .data-group label, .shopping-cart .billing-data .col-half .data-group input, .wrapper-authorize p, .financial-assistance-wrapper p, .financial-assistance-wrapper .user-info .title, .financial-assistance-wrapper .user-info .data, .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions, #api-access-wrapper #api-access-status, #api-access-wrapper .api-form-container .api-form label, #api-access-wrapper .api-form-container .api-form input, #api-access-wrapper .api-form-container .api-form textarea, #api-access-wrapper .api-form-container .api-form input[type=submit], #api-access-wrapper .api-form-container .api-form textarea[type=submit], #api-access-wrapper .api-form-container .api-form .errorlist li, #api-access-wrapper .api-form-container .api-form #api-access-submit, #api-access-wrapper .api-form-container .api-form .preview-query, #api-access-wrapper .application-info p, .ui-loading, .ui-loading-base, .wrapper-account-settings .ui-loading-indicator, .wrapper-account-settings .ui-loading-error, .view-profile .ui-loading-indicator, .login .deco-divider .copy, .register .deco-divider .copy, .passwordreset .deco-divider .copy, #forgot-password-modal #password-reset .deco-divider .copy, .view-profile .badges-overlay .badges-modal, .verification-process .carousel .view .instruction, .verification-process .deco-divider .copy, .verification-process .content-main .instruction, .verification-process.step-requirements .list-reqs .req-activate .copy-super, .register.is-not-verified.step-confirmation .view .instruction, .confirm-enrollment .enrollment-details .course-dates, .shopping-cart .discount .code-text a, .shopping-cart table.course-receipt tr td:first-child, .confirm-enrollment a.link-button, .confirm-enrollment button[type="submit"], .shopping-cart a.blue, .shopping-cart .user-data .data-input .three-col .col-1 .price span, .shopping-cart .user-data .data-input .three-col .col-2 .numbers-row .counter input[type="text"], .shopping-cart .discount .code-text span b, .shopping-cart .col-two .col-2 button[type="submit"], .empty-cart a.blue, body.error .description, .listing-tools, .listing-tools .listing-sort-select, .verification-process .help-item .copy, .verification-process .carousel .requirements .requirement .copy, .verification-process .carousel .wrapper-task .wrapper-help .help .copy, .verification-process .carousel #wrapper-review .review-task-photos .wrapper-photos .help-tips .copy, .verification-process.step-select-track .register-choice-certificate .action-intro, .verification-process.step-select-track .help-register .copy, .u-field-message, .modal-settings-language .actions-supplemental .list-actions-item, .dashboard .profile-sidebar .user-info>ul li span.copy, .dashboard .my-courses .course .wrapper-messages-primary .message .message-copy, .dashboard .my-courses .course .wrapper-messages-primary .message .message-copy .copy, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .message-copy, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .certificate-explanation, .status-verification .status-data-message, .find-courses .discovery-input, .view-survey .action-cancel, .view-survey button, .view-survey input, .view-survey select, .view-survey textarea, .view-survey .bit p, .view-profile .profile-section-two-fields .u-field.mode-placeholder .u-field-value, .view-profile .badge-set-display .badge-display .badge-details, .view-profile .badge-set-display .badge-display .badge-details .badge-date-stamp, .verification-process .wrapper-msg .msg-content .copy, .verification-process .nav-wizard .help-inline, .verification-process.step-select-track .register-choice-certificate .title-expand, .verification-process.step-review .nav-wizard .prompt-verify .copy, .verification-process.step-review .nav-wizard .prompt-verify .action-verify label, .verification-process.step-review .nav-wizard .step-match label, .verification-process .pay-and-verify .photo-tip, .verification-process .incourse-reverify .photo-tip, .verification-process .reverify .photo-tip, #expiry-msg, .shopping-cart .col-two .row-inside .billing-detail-label, .shopping-cart .col-two .row-inside .billing-detail-value, .shopping-cart .bordered-bar h2 span .blue-link, .shopping-cart .bordered-bar .home>header .title>.heading-group p span .blue-link, .home>header .title>.heading-group .shopping-cart .bordered-bar p span .blue-link, .shopping-cart .bordered-bar section.outside-app h1 span .blue-link, section.outside-app .shopping-cart .bordered-bar h1 span .blue-link, .shopping-cart table.course-receipt tr td:last-child span, .empty-cart p, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field p, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field label, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field select, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field input, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-errors, .bookmarks-empty-detail, #api-access-wrapper p, #api-access-wrapper .api-form-container .api-form p .helptext, .wrapper-msg .msg-content .copy, .wrapper-msg .msg-content .copy p, .message, .wrapper-notification .copy, .wrapper-alert .copy, .prompt .copy, .notification .copy, .alert:not(.pattern-library-shim) .action-dismiss .button-copy, .wrapper-message .message, .wrapper-message .message.information, .main-wrapper .alert, .msg__copy, .dashboard .profile-sidebar .user-info>ul .heads-up .copy, .dashboard .profile-sidebar .user-info .reverify-status-list .status-item, .status-verification .status-note, .status-verification .status-note p, .login .instructions .note, .register .instructions .note, .passwordreset .instructions .note, #forgot-password-modal #password-reset .instructions .note, .course-info .container .wrap-instructor-info .instructor-info-action, .course-info section.outside-app .wrap-instructor-info .instructor-info-action, .course-info .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .wrap-instructor-info .instructor-info-action, .view-profile .profile-self .wrapper-profile-field-account-privacy .course-info .u-field-account_privacy .wrap-instructor-info .instructor-info-action, .course-info .view-profile .wrapper-profile-sections .wrap-instructor-info .instructor-info-action, .view-profile .course-info .wrapper-profile-sections .wrap-instructor-info .instructor-info-action, .course-info .view-profile .badge-set-display .wrap-instructor-info .instructor-info-action, .view-profile .course-info .badge-set-display .wrap-instructor-info .instructor-info-action, .view-survey .list-input .field .tip, .login-register .note, .financial-assistance-wrapper .financial-assistance-form .note, .login-register .form-field .field-link, .financial-assistance-wrapper .financial-assistance-form .form-field .field-link, .login-register .form-field .tip, .financial-assistance-wrapper .financial-assistance-form .form-field .tip, .verification-process.step-requirements .list-reqs .req .copy-sub, .shopping-cart .discount .code-input .error-text, .shopping-cart .error-text, .enrollment-results, .bookmarks-results-list .list-item-date, .search-results .search-results-item .search-results-ellipsis, .msg__copy p {
 font-family: "custom_font";
}
/* course font */
body.error h1, .dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span, .find-courses .wrapper-search-context .search-status-label, .pagination .page-divider, .verification-process .carousel .view>.title, .verification-process .content-main>.title, .register.is-not-verified.step-confirmation .view .title, .view-survey .header-survey .title, .wrapper-account-settings .wrapper-header .header-title, .view-profile .profile-section-one-fields .u-field-username .u-field-value, .verification-process .reverify-success-step .title, .reverify-blocked .title, .confirm-enrollment .title, .confirm-enrollment .enrollment-details .course-title h1, .shopping-cart h1, .shopping-cart .user-data .data-input .course-display-name, .shopping-cart .user-data .data-input .course-display-dates, .shopping-cart .user-data .data-input h1, .wrapper-authorize h1, .financial-assistance-wrapper h1, .bookmarks-results-header, #api-access-wrapper h1, .home>header .title .course-search .search-input, .dashboard .my-courses .wrapper-header-courses .header-courses, .dashboard-banner .wrapper-msg .msg.title, .view-survey .header-survey .course-name, .view-survey .message.submission-error .message-title, .view-profile .profile-section-two-fields .u-field-title, .login-register h2, .financial-assistance-wrapper .financial-assistance-form h2, .login-register .home>header .title>.heading-group p, .home>header .title>.heading-group .login-register p, .financial-assistance-wrapper .financial-assistance-form .home>header .title>.heading-group p, .home>header .title>.heading-group .financial-assistance-wrapper .financial-assistance-form p, .login-register section.outside-app h1, section.outside-app .login-register h1, .financial-assistance-wrapper .financial-assistance-form section.outside-app h1, section.outside-app .financial-assistance-wrapper .financial-assistance-form h1, .login-register .status .message-title, .financial-assistance-wrapper .financial-assistance-form .status .message-title, .verification-process .title, .verification-process .page-header .title .sts-label, .verification-process .page-header .title .sts-course-org, .verification-process .page-header .title .sts-course-number, .verification-process .page-header .title .sts-course-name, .verification-process.step-select-track .register-choice .title, .verification-process.step-requirements .list-reqs .req .title, .verification-process.step-requirements .list-reqs .req-activate .title, .confirm-enrollment .enrollment-details .sub-title, .shopping-cart .billing-data h3, .shopping-cart .pattern h2, .shopping-cart .pattern .home>header .title>.heading-group p, .home>header .title>.heading-group .shopping-cart .pattern p, .shopping-cart .pattern section.outside-app h1, section.outside-app .shopping-cart .pattern h1, .empty-cart h2, .empty-cart .home>header .title>.heading-group p, .home>header .title>.heading-group .empty-cart p, .empty-cart section.outside-app h1, section.outside-app .empty-cart h1, .bookmarks-empty-header, #api-access-wrapper h2, #api-access-wrapper .home>header .title>.heading-group p, .home>header .title>.heading-group #api-access-wrapper p, #api-access-wrapper section.outside-app h1, section.outside-app #api-access-wrapper h1, .dashboard-search-results .search-info h2, .dashboard-search-results .search-info .home>header .title>.heading-group p, .home>header .title>.heading-group .dashboard-search-results .search-info p, .dashboard-search-results .search-info section.outside-app h1, section.outside-app .dashboard-search-results .search-info h1, .wrapper-msg .msg-content .title, .verification-process .carousel .requirements .title, .verification-process .carousel .requirements .requirement .title, .verification-process .carousel .wrapper-task .wrapper-help .help .title, .verification-process .carousel #wrapper-review .review-task>.title, .verification-process .list-faq .faq-question, .verification-process.step-confirmation .list-info .info-item>.title, .verification-process .help-item .title, .verification-process.step-select-track .help-register .title, .verification-process.step-select-track .field-certificate-contribution .label, .verification-process.step-review .nav-wizard .prompt-verify .title, .dashboard .profile-sidebar .user-info>ul li span.title, .dashboard .my-courses .course .details .course-info [class*="info-"], .dashboard .my-courses .course .wrapper-messages-primary .message .message-title, .dashboard .my-courses .course .wrapper-messages-primary .message .message-copy .title, .find-courses .search-facets .header-search-facets, .find-courses .search-facets .header-facet, .account-settings-sections .section-header, .verification-process .wrapper-msg .msg-content .title, .shopping-cart .user-data .data-input h3, .shopping-cart .user-data .data-input h3 span, .shopping-cart .user-data .data-input .course-registration-title, .shopping-cart .user-data .data-input .course-dates-title, .shopping-cart h3, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-title, .financial-assistance-wrapper h2, .financial-assistance-wrapper .home>header .title>.heading-group p, .home>header .title>.heading-group .financial-assistance-wrapper p, .financial-assistance-wrapper section.outside-app h1, section.outside-app .financial-assistance-wrapper h1, .msg__title, .verification-process .carousel #wrapper-review .review-task-photos .wrapper-photos .help-tips .title, .dashboard .my-courses .course .details .course-info .info-date-block, .dashboard .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown .actions-item, .view-survey .bit .title, .verification-process .wrapper-report .report thead th[scope="col"], .verification-process .progress .progress-step .wrapper-step-number .step-number, .verification-process .progress .progress-step .step-name, .enrollment-results th, .notification .copy .title, .alert:not(.pattern-library-shim) .copy .title, .date-summary-container .date-summary .heading, .nav-utilities .action-toggle-message, .view-survey .header-survey .course-org, .view-survey .header-survey .course-number, .date-summary-container .date-summary .description, .date-summary-container .date-summary .date-summary-link, .date-summary-container .date-summary-todays-date .heading, .dashboard .my-courses .course .details .wrapper-course-image .sts-enrollment .sts-enrollment-value, .verification-process .page-header .title .sts-track .sts-track-value, .date-summary-container .date-summary .date, .view-survey .header-survey .course-info, .verification-process h1, .verification-process h2, .verification-process .home>header .title>.heading-group p, .home>header .title>.heading-group .verification-process p, .verification-process section.outside-app h1, section.outside-app .verification-process h1, .verification-process h3, .verification-process h4, .verification-process h5, .verification-process h6 {
 font-family: "custom_font";
}

/*SSO Login and Register Buttons*/
.login-register .login-provider .icon, .financial-assistance-wrapper .financial-assistance-form .login-provider .icon{
 background: rgba(103,177,52,1);
}

input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled){
 background-color: rgba(103,177,52,1);
}
.help-buttons button, .login aside .btn-login .btn-login-action, .register aside .btn-login .btn-login-action, .passwordreset aside .btn-login .btn-login-action, #forgot-password-modal #password-reset aside .btn-login .btn-login-action, .login-register .login-provider, .financial-assistance-wrapper .financial-assistance-form .login-provider, .login .form-actions.form-third-party-auth button[type="submit"], .register .form-actions.form-third-party-auth button[type="submit"], .passwordreset .form-actions.form-third-party-auth button[type="submit"], #forgot-password-modal #password-reset .form-actions.form-third-party-auth button[type="submit"], .login-register .nav-btn, .financial-assistance-wrapper .financial-assistance-form .nav-btn, .login-register .button-secondary-login, .financial-assistance-wrapper .financial-assistance-form .button-secondary-login, .wrapper-authorize .btn-authorization-cancel{
 color: rgba(103,177,52,1);
 border: 1px solid rgba(103,177,52,1);
}

.login-register .form-field .field-link, .financial-assistance-wrapper .financial-assistance-form .form-field .field-link{
 color: rgba(103,177,52,1);
}

.login aside .btn-login .btn-login-action:hover, .register aside .btn-login .btn-login-action:hover, .passwordreset aside .btn-login .btn-login-action:hover, #forgot-password-modal #password-reset aside .btn-login .btn-login-action:hover, .login-register .login-provider:hover, .financial-assistance-wrapper .financial-assistance-form .login-provider:hover, .login aside .btn-login .btn-login-action:active, .register aside .btn-login .btn-login-action:active, .passwordreset aside .btn-login .btn-login-action:active, #forgot-password-modal #password-reset aside .btn-login .btn-login-action:active, .login-register .login-provider:active, .financial-assistance-wrapper .financial-assistance-form .login-provider:active, .login aside .btn-login .btn-login-action:focus, .register aside .btn-login .btn-login-action:focus, .passwordreset aside .btn-login .btn-login-action:focus, #forgot-password-modal #password-reset aside .btn-login .btn-login-action:focus, .login-register .login-provider:focus, .financial-assistance-wrapper .financial-assistance-form .login-provider:focus{
 border: 1px solid rgba(103,177,52,1);
}

/*HEADER Logo*/
.logo img{
 /*content:url("/media/hp/assets/images/logo_only.png");*/
}

/*HEADER Connexion*/
.header-global .nav-courseware li .btn:hover, .header-global .nav-courseware div .btn:hover, .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwordreset .form-actions button[type="submit"]:hover, #forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, .view-survey .action-primary:hover, .header-global .nav-courseware li .btn:active, .header-global .nav-courseware div .btn:active, .login .form-actions button[type="submit"]:active, .register .form-actions button[type="submit"]:active, .passwordreset .form-actions button[type="submit"]:active, #forgot-password-modal #password-reset .form-actions button[type="submit"]:active, .view-survey .action-primary:active, .header-global .nav-courseware li .btn:focus, .header-global .nav-courseware div .btn:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwordreset .form-actions button[type="submit"]:focus, #forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, .view-survey .action-primary:focus{
 background: rgba(103,177,52,0.8);
}
.header-global .nav-courseware li .btn:focus, .header-global .nav-courseware div .btn:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwordreset .form-actions button[type="submit"]:focus, #forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, .view-survey .action-primary:focus{
 background: rgba(103,177,52,0.8);
}

/*Background for login & register*/
.login-register .form-wrapper form, .financial-assistance-wrapper .financial-assistance-form .form-wrapper form{
 background:white;
}
.login-register .toggle-form, .financial-assistance-wrapper .financial-assistance-form .toggle-form{
 background:white;
}

#login-and-registration-container{
 max-width:none;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 background-size: cover; /* version standardisée */
 background-color: transparent !mportant;
}


/*Course about*/
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled),input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled){
    cursor: pointer;
    background-color: rgba(116,184,127,0.7);
    background-image: -webkit-linear-gradient(top, rgba(116,184,127,0.7) 0%,rgba(103,177,52,0.8) 50%,rgba(103,177,52,1) 50%,rgba(103,177,52,1) 100%);
    background-image: linear-gradient(to bottom,rgba(116,184,127,0.7) 0%,rgba(103,177,52,0.8) 50%,rgba(103,177,52,1) 50%,rgba(103,177,52,1) 100%);
    color:white;
/*background-color: #0066a2;
    background-image: -webkit-linear-gradient(top, #0066a2 0%,#003781 50%,#002072 50%,#002575 100%);
    background-image: linear-gradient(to bottom,#0066a2 0%,#003781 50%,#002072 50%,#002575 100%);*/
}
.course-info header.course-profile{
    background-image: url(/media/hp/assets/images/bg/hpbg4.jpg);
}
.important-dates li:first-child {
     display:none;
}
.heading-group button{
  display:none;
}

/*Menu*/
.header-global .user .dropdown-menu li > a{
 color:rgba(103,177,52,1);
}

/*DASHBOARD
Profile*/
#profile-sidebar{
    background-image: url('/media/assets/Kakemono_Bateau_Methanier.png');
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:41px;
    width:25%;
    border: 4px solid #f5f5f5;
    border-right:none;
    cursor: pointer;
    margin-left:0px;
}

/*Countdown*/
#time{
  font-size:1em;
}

#my_courses{
 width:75%;
}
#dashboard-main{
 background:white;
}
#main {
 background-image: none;
}
#content{
 background-image: url(/media/hp/assets/images/bg/hpbg4.jpg);
}
h2.header-courses{
 font-size:24px !important;
}



/*HEADER*/
#nav_title{
    width: auto;
    height: 60px;
    line-height: 16px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top:0px !important;
    float: left;
    text-transform: uppercase;
    color: tma_primary_font_color;
    font-size: 16px;
    float:left;
    text-align:left;
}
/*
.logo img{
    top:0px;
    height:80px;
    margin-top:-18px;
    float:left;
}
*/
.header-global h1.logo img.ec-logo-size { 
 height: 40px!important;
 width: auto;
}
.header-global{
    height:80px;
}



/*COURSE ABOUT*/
#nav_title{
    width: auto;
    height: 60px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
    float: left;
    text-transform: uppercase;
    color: tma_primary_font_color;
    font-size: 16px;
}
.course-info header.course-profile{
 height:0px;
 margin-top: 0px;
 padding-top: 0px;
}
.course-about-image img{
	width:100%;
	height:auto;
}
.enroll-button {
	color: white;
	background-color: rgba(103,177,52,1);
    cursor: pointer;
    padding: 20px 20px;
    font-size: 1.2em;
}
.enroll-button:hover {
	background-color: rgba(103,177,52,0.8);
}
.course-info .details h2, .course-info .details .home>header .title>.heading-group p, .home>header .title>.heading-group .course-info .details p, .course-info .details
section.outside-app h1, section.outside-app .course-info .details h1{
	color: #3c3c3c;
	font-weight: bold;
	margin-top:0px;
        background-color: rgba(103,177,52,1);
        color: white;
        padding: 10px;
}
.course-info{
    background:white;
}
.course-info .container{
/*    margin-top: 20px;*/
    padding: 0px;
}
.course-info .details p{
   text-align: justify;
}
.course-info .details .teacher p{
    height: 80px;
    overflow: hidden;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
}
.course-info .details .teacher p:hover{
    height: auto;
    overflow: auto;
    color: inherit;
    text-overflow: inherit;
    white-space: normal;
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
}

.course-info .details .inner-wrapper .faq .responses{
   float:none;
}
span.icon.fa{
   color:rgba(103,177,52,1);
   font-size:1.2em;
}
.social-sharing{
   text-align:center;
   margin-bottom:25px;
   margin-top:15px;
   line-height:2em;
}
.course-info .course-sidebar{
   background-color:white;
   margin-top: 15px;
}
.course-info .course-sidebar header{
  margin-bottom:0px;
  padding-bottom:0px;
}
.otherimage{
  width:15%;
  border:1px solid #919191;
}
.chapter_map{
  width:calc(100% - 12px);
  height:auto;
  border:1px solid #919191;
  margin-top :25px;
  padding:5px;
}

.inner-wrapper section h2{
  cursor:pointer;
}
.course-info .details .inner-wrapper>section{
  background:white;
  padding:15px;
  margin:15px;
}
.content_about_section{
  display:none;
}
.socicon-yammer:before {
  content: "\e0a1";
}
.social-sharing .icon.fa{
  margin:5px 5px;
}


/*Responsive iframe*/
.myIframe {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto;
-webkit-overflow-scrolling:touch;
border: solid black 1px;
}
.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/*Items of progress*/
a:hover, div.info-wrapper section.handouts ol li div.hitarea:hover+h4, div.info-wrapper section.handouts ol li div.hitarea:focus+h4, a:focus, a:visited:hover, div.info-wrapper section.handouts ol li div.hitarea:hover+h4:visited, div.info-wrapper section.handouts ol li div.hitarea:focus+h4:visited, a:visited:focus {
 color: rgba(103,177,52,1) !important;
}
a, a:visited{
 color: rgba(103,177,52,1);
}
