.home>header {
    background: transparent none repeat scroll 0 center;
    background-image: url('/static/master/images/master.jpg');
    background-position: center;
    height: 361px;
}
.courses-container .courses .course {
    border-bottom: 3px solid #2795C5 !important;
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    border-color: #2795C5 !important;
    background: #2795C5 !important;
}
.btn-login ,.btn-login:hover,.btn-login:focus,.btn-login:visited{
  color: #fff !important;
}
.home {
  background-color: #fff;
}
#tma_background_font {
  background-image: none;
}
.home>header .outer-wrapper {
  display: none !important;
}
