.header-global h1.logo img.ec-logo-size {
 width: auto !important;
 height:56px;
}
.header-global.slim .wrapper-header .logo img {
  margin-top: 4px;
  height: 30px;
}
#tma_background_font {
 position: fixed;
 display: block;
 width: 100vw;
 height: 100vh;
 background-image: tma_background_image_font;
 background-size: cover;
 background-position: center;
 z-index: -1;
}
body {
 background: transparent !important;
}
#content {
 background: transparent !important;
 min-height: calc(100vh - 277px) !important;
 height: auto !important;
}
.content-wrapper {
 background: transparent !important;
}
.course-info .container {
 background-color: transparent !important;
}
.window-wrap {
 background-color: transparent !important; 
}
