<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>
<style>
main { 
 background-color: #fff;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
<!--
    <section class="container about">
        <h1>${_("About")}</h1>
        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
    </section>
-->
<section class="static-container about">
<h1>Afpa<br>Agence nationale pour la formation professionnelle des adultes</h1>
<ul>
<li>Christophe Sadok, Directeur de l’ingénierie et de l’innovation pédagogique</li>

<li>Florent Longuepee, Directeur communication DIIP</li>

<li>Loïc Tournedouet, Directeur de projet</li>

<li>Jean-Luc Kerandel, Jean-Paul Nicolas, Ingénieurs de formation</li>

<li>Véronique Roussel, Formatrice</li>

<li>Eric Maucuit, Denis Loman, Formateurs</li>

<li>Katia Assouline, Responsable de production</li>

<li>Haznia Haroune, Montages audiovisuels</li>

<li>Jean-Pierre Lupuj, Montages audiovisuels et graphismes</li>

<li>Josiane Berjon, Médiatisation des ressources</li>

</ul>

<h2>Merci formateurs et aux stagiaires</h2>
<ul>
<li>Yvon Delacroix, formateur</li>

<li>Hanane Gendrot, stagiaire</li>

<li>Ga&euml;l Prigent, stagiaire</li>

<li>Laurent Macaigne, Formateur</li>

<li>Diavo Sarafon, Stagiaire</li>

<li>Myriam Guclu, Stagiaire</li>

<li>Fr&eacute;d&eacute;ric Chazard, Formateur</li>

<li>Wanda Ramos Dos Santos, Stagiaire</li>
</ul>
 

<h2>Merci aux chefs restaurateurs et leurs &eacute;quipes</h2>
<ul>
<li>M&eacute;lanie Latour, la chef du restaurant Le Q de Poule, 37 Rue Vasselot, 35000 Rennes</li>

<li>Steve Marchand, Le gout des h&ocirc;tes, 3 Bis Chemin du Ch&acirc;teau, 69330 Pusignan</li>

<li>Fabricio Delgaudio, le chef du restaurant Le Sanglier Paresseux, 84750 Caseneuve</li>

<li>Brice Connesson, Artisan pâtissier chocolatier, 45 rue Connétable, 60500 Chantilly</li>

<li>Matthieu Bijou, Artisan pâtissier chocolatier, 26 avenue de la Résistance, Le Raincy ; 28 rue Charlot, Paris 3ième</li>
</ul>
<br/><br/><br/>
<h1>Variable - The MOOC Agency</h1>
<ul>
<li>Geoffroy Daignes, Directeur de projet</li>

<li>Aurélien Croq, Directeur technique</li>

<li>Sylvain Blot, Ingénieur système</li>

<li>Matthias Lisan, Intégrateur technique</li>

<li>Rémy Perthuisot, Directeur artistique</li>

<li>Quentin Garreau, Responsable audiovisuel</li>

<li>Thibault Prevost, Responsable son</li>
</ul>
</section>

</main>
