{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                {% if course_name.find("Loi") != -1 %}
                Vous avez été invité à rejoindre le cours {{ course_name }}
                {% else %}
                You have been invited to join the course {{ course_name }}
                {% endif %}
                {% endfilter %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% if course_name.find("Loi") != -1 %}
                Vous avez été invité à rejoindre le cours {{ course_name }} sur {{ site_name }} suite à votre achat sur le site de l'ARIF.
                {% else %}
                You have been invited to join the course {{ course_name }} at {{ site_name }} due to your purchase on the ARIF website.
                {% endif %}
                {% endfilter %}
                <br />
            </p>


            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% if course_name.find("Loi") != -1 %}
                Veuillez terminer votre inscription et remplir le formulaire d'inscription en vous assurant d'utiliser {{ email_address }} dans le champ Email:
                {% else %}
                Please finish your registration and fill out the registration form making sure to use {{ email_address }} in the Email field:
                {% endif %}
                {% endfilter %}
                <br />
            </p>
            {# xss-lint: disable=django-trans-missing-escape #}
            {% trans "Finish Your Registration" as button_cta_text %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=button_cta_text course_cta_url=registration_url %}

            <p style="color: rgba(0,0,0,.75);">

                {% filter force_escape %}
                {% if course_name.find("Loi") != -1 %}
                Une fois votre compte créé et activé, vous pourrez accéder à la formation : {{ course_name }} depuis votre tableau de bord.
                {% else %}
                Once you have registered and activated your account, you will be able to access the course: {{ course_name }} on your dashboard.
                {% endif %}
                {% endfilter %}
                <br />
            </p>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}This email was automatically sent from {{ site_name }} to {{ email_address }}{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

        </td>
    </tr>
</table>
{% endblock %}
