<% css='/media/wul_apps/dashboard/reset.css' %>
<%page expression_filter="h" />
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html' />
<%! from django.utils.translation import ugettext as _ %>

<%include file="../learner_dashboard/_dashboard_navigation_courses.html" />

<script type="module" crossorigin src="/media/microsites/amazon/react_coach/build/20230908/index-a9474173.js"></script>
<link rel="stylesheet" type="text/css" href="${css}" />
<link rel="stylesheet" href="/media/microsites/amazon/react_coach/build/20230908/index-17b147d6.css">
<link rel="stylesheet" href="https://cdn.fontawesome.com/css/fontawesome.min.css">
<div id="root"></div>

<!-- <script type="module" crossorigin src="/media/microsites/amazon/react_coach/build/test/index-de971ce5.js"></script>
<link rel="stylesheet" type="text/css" href="${css}" />
<link rel="stylesheet" href="/media/microsites/amazon/react_coach/build/test/index-ef2f2183.css">
<link rel="stylesheet" href="https://cdn.fontawesome.com/css/fontawesome.min.css">
<div id="root"></div> -->


<div id="custom-popup" style="display: none; position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
    <div class="custom-popupdiv" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
      <span id="close-popup" style="color: #aaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
      <p style="font-family: Arial, sans-serif; font-size: 18px; color: #333;">Vous n'avez pas encore accès au coaching. Si vous souhaitez candidater, veuillez remplir le lien suivant :</p>
       <a href="https://forms.gle/ZpZ85MU3VZybzx6D7" target="_blank" style="color: #0099cc;">https://forms.gle/ZpZ85MU3VZybzx6D7</a> 
    </div>
</div>

  

<!-- managing openedx style.. -->
<style>
    /* -------------------- relative to openedx -------------------- */

    .window-wrap {
        background: none;
    }

    p {
        margin: 1rem 0rem;
    }

    html {
        background-color: #1E2631;
    }

    body {
        color: #262626 !important;
        /* line-height: 1.6rem; */
        font-size: 1.1rem;
    }

    h2,
    .home>header .title>.heading-group p,
    section.outside-app h1 {
        color: #262626 !important;
    }

    * {
        /* font-family: "AmazonEmber" !important; */
    }

    label {
        color: #262626 !important;
        font: inherit;
        text-shadow: none;
    }

    .footerBottom {
        padding: 40px 0 20px;
        border-top: none !important;
        font-size: 1rem;
    }

    .footer-column.footer_cgu {
        display: flex;
    }

    .content-wrapper {
        max-width: unset;
    }

    @media screen and (max-width:500px) {
        .header-left-section {
            flex-direction: column;
        }

        #footer>.container1>.row {
            flex-direction: column;
        }

        .footer-column {
            width: unset !important;
        }

        .footer-column.footer_cgu {
            flex-direction: column;
        }

        .footer-column.footer_cgu>a {
            margin: .5rem;
        }
        .wrapper-header-courses {
            justify-content: center !important;
        }
    }

    /* -------------------- relative to react app -------------------- */

    .section2_tile {
        height: 38rem;
    }

    .section2_tile-themes {
        font-size: 1.15rem;
    }

    .section2_tile-name {
        margin: 2rem 0rem;
    }

    .section2-filterButton:before {
        transform: scale(.9);
    }

    .section2_tile-button:not(.btn):hover,
    .section2_tile-button:not(.btn):focus,
    .section2_tile-button:visited:not(.btn):hover,
    .section2_tile-button:visited:not(.btn):focus {
        color: white !important;
        text-decoration: none !important;
    }

    a.section2_tile-button {
        color: white !important;
        text-decoration: none !important;
    }

    .section2_tile-name {
        color: #262626;
        margin: 1rem 0rem;
    }

    .section2_tile-jobTitle {
        margin-bottom: 1rem;
    }

    .section2_tile-buttonShowMore {
        margin: -1.6rem 2rem .5rem .5rem;
    }

    .section2-filterSection-labels {
        padding: .4rem .7rem;
    }

    .section2_tile-moreInfos-popup {
        left: -1.5rem;
        bottom: -26rem;
    }

    .section2-filterSection-labels-checked {
        color: white !important;
    }

    .disabledButton:hover{

    }

    @media screen and (max-width:500px) {
        .pageTitleSection {
            margin: 0;
        }
    }

    .custom-popupdiv{
        border-radius: 10px;
        text-align: center;
        width: 50%;
    }
    
</style>

<!-- 17729 - quentin - script to get the current user's mail address and check if it match those of the list below. If it doesn't, then the link buttons to enroll in the coach sessions while be hidden -->

% if user:
    <% user_email=user.email %>

    <script>
        // Check List of authorized Beta users 
        window.addEventListener('load', () => {

            const currentUserMail = "${user_email}"
            let emailAllowed = false

            fetch("/media/microsites/amazon/react_coach/beta_users_list.json")
                .then(response => {
                    if (!response.ok) {
                        throw new Error("HTTP error " + response.status);
                    }
                    return response.json();
                })
                .then(jsonData => {
                    allowedEmailList = jsonData['beta_users_list']
                    emailAllowed = allowedEmailList.includes(currentUserMail)
                })
                .catch(error => {
                    console.error("Error loading JSON file: " + error);
                });


            setInterval(() => {
                const buttonToModify = document.querySelectorAll('.section2_tile-button');
                var popup = document.getElementById("custom-popup");
                var closeButton = document.getElementById("close-popup");

                if (!emailAllowed) {
                    buttonToModify.forEach(buttonsToTurnOff => {
                        buttonsToTurnOff.style.background='#546266';
                        buttonsToTurnOff.removeAttribute('href');
                        buttonsToTurnOff.setAttribute('title',"Vous n'êtes pas autorisé à accéder à ces liens pour l'instant..");

                        buttonsToTurnOff.onclick = function(event) {
                            event.preventDefault();
                            popup.style.display = "block";
                        }
                    });

                    closeButton.onclick = function() {
                        popup.style.display = "none";
                    }

                    window.onclick = function(event) {
                        if (event.target == popup) {
                            popup.style.display = "none";
                        }
                    }
                }
            }, 150)
            
        })
    </script>

% endif
