
<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%! 
import json
from django.utils.translation import ugettext as _ 
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from lms.djangoapps.wul_apps.models import WulCourseEnrollment
%>
<%page args="courses" expression_filter="h"/>
<%
daily_time_tracking = []
for course in courses:
    test_123 = WulCourseEnrollment.get_enrollment(str(course.course_id), user)
    daily_time_tracking.append(test_123.daily_time_tracking)
%>


<main id="gamification-main" aria-label="Content" tabindex="-1">
    <p id="adsDate">Webinaire <span id="webinar_time_detailled"></span></p>
    <img class="logo-home" id="webinar_img" src="https://main.accelerateur-du-numerique.fr//asset-v1:amazon+gerer_donnees+AZ_11+type@asset+block@AZ_11-Gérer_et_utiliser_vos_bases_de_données.png" alt="Illustration Webinaire" />
    <div class="horizontal-align bottomTextInfo">
        <div class="vertical-align">
            <p id="webinar_title"></p>
        </div>
        <a id="enrollmentButton" href="https://register.gotowebinar.com/register/459485246650792793?source=Website" target="_blank">Inscrivez-vous</a>
    </div>
</main>

<style>
    #gamification-main {
        width: 100%;
        height: 100%;
        border-radius: 6px 6px 15px 15px;
        max-height: 405px;
        position: relative;
    }
    #gamification-main img {
        width: 100%;
        height: 100% ;
        /* max-height: 425px; */
        border-radius: 6px 6px 15px 15px;
        object-fit: cover;
    }

    #list-days {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 20px;
    }
    .activity {
        flex:1;
        text-align: center;
    }
    .hidden-icone {
        display: none;
    }

    .vertical-align {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .horizontal-align {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #adsDate {
        color: orangered;
        padding: 10px 15px;
        background-color: white;
        border-radius: 0 0 18px 18px;
        position: absolute;
        left: 15px;
    }
    #adsDate span {
        color: black;
        font-weight: 900;
    }
    #gamification-main p+p {
        margin-top: 6px;
    }
    .bottomTextInfo {
        padding: 5px 20px;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        background-color: white;
        border-radius: 15px 0 15px 15px;
        box-shadow: 2px -1px 10px ;
    }

    #enrollmentButton {
        padding: 10px;
        background-color: orangered;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }


</style>


<script>
// URL of the JSON file
const jsonUrl = "https://www.accelerateur-du-numerique.fr/media/microsites/amazon/react_event/data.json";
let jsonData;

// Function to fetch JSON data
async function fetchJSON(url) {

    try {
        const response = await fetch(url+"?"+Date.now());

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        jsonData = await response.json();
    } catch (error) {
        console.error('Error fetching JSON:', error);
    }
}

// Function to find the next occurrence
function findNextOccurrence(data) {
    let currentDate = new Date();
    let nextDate = null;
    let nextWebinar ;

    // Iterate through the list and find the next occurrence
    for (let i = 0; i < data.length; i++) {
        let eventDate = new Date(data[i].date);
        if (eventDate > currentDate && (nextDate === null || eventDate < nextDate)) {
            nextDate = eventDate;
            nextWebinar = data[i]
        }
    }

    return nextWebinar;
}

function formatDate(dateString, detailled_date) {
    const months = [
        "Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
        "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"
    ];

    const date = new Date(dateString);
    const day = date.getDate();
    const month = months[date.getMonth()];
    const year = date.getFullYear();
    const hours = date.getHours();
    const minutes = date.getMinutes();

    const paddedDay = String(day).padStart(2, '0');
    const paddedMinutes = String(minutes).padStart(2, '0');

    if (detailled_date) {  
        return paddedDay + ' ' + month + ' ' + year + ' à ' + hours + 'h' + paddedMinutes;
    } else {
        return paddedDay + ' ' + month + ' ' + year;
    }
}


fetchJSON(jsonUrl)
    .then(data => {
        const nextOccurrence = findNextOccurrence(jsonData);

        document.getElementById('webinar_title').innerText = nextOccurrence.title
        document.getElementById('webinar_img').src = nextOccurrence.image
        document.getElementById('webinar_time_detailled').innerText = formatDate(nextOccurrence.date, true)
        document.getElementById('enrollmentButton').href = nextOccurrence.url_enroll

    })
    .catch(error => console.error('Error fetching JSON:', error));


</script>
