<!-- Cookie Consent -->
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
 
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.js"></script>
<style>
a.cc-link:hover,a.cc-btn:hover{
  color:#f90;
}

#cookiepopup {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


</style>
<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({

    window: '<div dir="${static.dir_rtl()}" role="dialog" tabindex="-1" id="cookiepopup" aria-label="cookieconsent" class="cc-window"><div class="cc-window {{classes}}"><!--googleoff: all-->{{children}}<!--googleon: all--></div></div>',

    palette:{
      popup: {background: "#323538", text: "#ffffff"},
      button: {background: "#f90", text: "#ffffff"},
    },
    "content": {
      "message": "Amazon Europe Core SARL et ses sociétés affiliées utilisent des cookies sur ce site pour mesurer son audience, analyser les contenus consultés et l’optimiser.",
      "deny": "Je refuse",
      "dismiss": "J\'accepte",
      "link": "${_('Learn more')}",
      "href": "/privacy",
    },
    theme: "classic",
/*    "elements": {
        "allow": '<a aria-label="allow cookie" id="allow" role=button tabindex="2" class="cc-btn cc-allow:focus">{{allow}}</a>',
    },*/
    "position": "floating",
    "type": "opt-out"

  },
  function(popup){
    $(".cc-window").on('keydown', function(event) {
      console.log(event.keyCode)  
      if (event.keyCode == 27 ){
        popup.close();
      } 
    });

    $("#dismiss").on('keydown', function(event) {
      if (event.keyCode == 13 || event.keyCode == 32 ) {
        popup.onButtonClick(event);
      }
    });
  });
});
</script>
