<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  ecommerce_courses  = configuration_helpers.get_value('ECOMMERCE_COURSES') or []
%>


<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="find-courses">
    <section class="courses-container">

      <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
        <div id="discovery-message" >
          LES COURS
        </div>
      </div>

      <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
        <ul class="courses-listing courses-list">
          %for course in courses:
            %if course not in ecommerce_courses :
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endif
          %endfor
        </ul>
      </div>

    </section>
    <img id="motif-bckg-1" src="${static.url('arif/images/motif.svg')}" alt="motif-1">
    <img id="motif-bckg-2" src="${static.url('arif/images/motif.svg')}" alt="motif-1">
  </section>
</main>


<style>
  .window-wrap {
    background-color: #EBF4FC !important;
  }

  .find-courses {
    min-height: calc(100vh - 207px);
    background-color: #EBF4FC !important;
    position: relative;
  }
  #motif-bckg-1 , #motif-bckg-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    z-index: 1;
    top: 20%;
    left: 10%;
    max-width: 325px;
  }
  #motif-bckg-2 {
    top: unset;
    bottom: 0;
    right: -3%;
    left: unset;
  }
  .courses-listing-item {
    position: relative;
    z-index: 2;
  }
  .find-courses .courses-container {
    padding: 40px 10px 0 0px;
  }
  .courses-listing {
    padding: 0 40px !important;
  }
  .find-courses .courses-container .courses:not(.no-course-discovery) {
    width: 90% !important;
    margin: 5% !important;
  }
  #discovery-message {
    font-size: larger;
    font-weight: bold;
    padding: 20px 9vw;
    border-bottom: 10px solid var(--primary);
    width: fit-content;
  }
</style>
