<%page expression_filter="h"/>

<%!
import json

from django.urls import reverse
from django.conf import settings
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
from webpack_loader.templatetags.webpack_loader import render_bundle
from openedx.core.djangoapps.user_api.accounts.utils import is_secondary_email_feature_enabled
%>

<%inherit file="/main.html" />
<%def name="online_help_token()"><% return "learneraccountsettings" %></%def>
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Account Settings")}</%block>

% if duplicate_provider:
    <section>
        <%include file='/dashboard/_dashboard_third_party_error.html' />
    </section>
% endif

<div class="wrapper-account-settings"></div>
<%block name="headextra">
    <%static:css group='style-course'/>
    <link type="text/css" rel="stylesheet" href="${STATIC_URL}paragon/static/paragon.min.css">
</%block>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/views/account_settings_factory" class_name="AccountSettingsFactory">
    var fieldsData = ${ fields | n, dump_js_escaped_json },
        ordersHistoryData = ${ order_history | n, dump_js_escaped_json },
        authData = ${ auth | n, dump_js_escaped_json },
        platformName = '${ static.get_platform_name() | n, js_escaped_string }',
        contactEmail = '${ static.get_contact_email_address() | n, js_escaped_string }',
        allowEmailChange = ${ bool(settings.FEATURES['ALLOW_EMAIL_ADDRESS_CHANGE']) | n, dump_js_escaped_json },
        socialPlatforms = ${ settings.SOCIAL_PLATFORMS | n, dump_js_escaped_json },

        syncLearnerProfileData = ${ bool(sync_learner_profile_data) | n, dump_js_escaped_json },
        enterpriseName = '${ enterprise_name | n, js_escaped_string }',
        enterpriseReadonlyAccountFields = ${ enterprise_readonly_account_fields | n, dump_js_escaped_json },
        edxSupportUrl = '${ edx_support_url | n, js_escaped_string }',
        extendedProfileFields = ${ extended_profile_fields | n, dump_js_escaped_json },
        displayAccountDeletion = ${ enable_account_deletion | n, dump_js_escaped_json};
        isSecondaryEmailFeatureEnabled = ${ bool(is_secondary_email_feature_enabled()) | n, dump_js_escaped_json },

    AccountSettingsFactory(
        fieldsData,
        ${ disable_order_history_tab | n, dump_js_escaped_json },
        ordersHistoryData,
        authData,
        '${ password_reset_support_link | n, js_escaped_string }',
        '${ user_accounts_api_url | n, js_escaped_string }',
        '${ user_preferences_api_url | n, js_escaped_string }',
        ${ user.id | n, dump_js_escaped_json },
        platformName,
        contactEmail,
        allowEmailChange,
        socialPlatforms,

        syncLearnerProfileData,
        enterpriseName,
        enterpriseReadonlyAccountFields,
        edxSupportUrl,
        extendedProfileFields,
        displayAccountDeletion,
        isSecondaryEmailFeatureEnabled,
        ${ beta_language | n, dump_js_escaped_json },
    );
</%static:require_module>

<script type="text/javascript">
     window.auth = ${ auth | n, dump_js_escaped_json };
     window.isActive = ${ user.is_active | n, dump_js_escaped_json };
     window.additionalSiteSpecificDeletionText = "${ static.get_value('SITE_SPECIFIC_DELETION_TEXT', _(' and access to private sites offered by MIT Open Learning, Wharton Executive Education, and Harvard Medical School')) | n, js_escaped_string }";
     window.mktgRootLink = "${ static.marketing_link('ROOT') | n, js_escaped_string }";
     window.platformName = "${ platform_name | n, js_escaped_string }";
     window.siteName = "${ static.get_value('SITE_NAME', settings.SITE_NAME) | n, js_escaped_string }";

</script>
<%static:webpack entry="StudentAccountDeletionInitializer">
</%static:webpack>
</%block>

<script>


    window.addEventListener("load", function () {

    // remove all language except french and dutch
    var optionsLanguage = document.querySelectorAll('#u-field-select-pref-lang option');

    optionsLanguage.forEach(function(option) {
        if (option.value == 'fr') {
            option.innerText = "Français"
        } else if (option.value == 'nl-nl') {
            option.innerText = "Nederlands"
        } else if (option.value == '') {
            console.log(option)
        } else {
            option.remove();
        }
    })



    

    const titleLanguageElement = document.querySelector(".header-title");
    let currentLanguage = titleLanguageElement ? titleLanguageElement.innerText : "";

    if (currentLanguage === "Account instellingen") {
        currentLanguage = "nl-nl";
    }

    console.log(currentLanguage);

    if (currentLanguage === 'nl-nl') {
        var optionsStudies = document.getElementById('u-field-select-level_of_education');
    for (option of optionsStudies) {
        if (option.innerText == 'Doctoraat') {
            option.innerText = "Doctoraat of phd"
        } else if (option.innerText == 'Master- of professionele graad') {
            option.innerText = "Masteropleiding"
        } else if (option.innerText == 'Bachelorgraad') {
            option.innerText = "Academische Bachelor"
        }  else if (option.innerText == 'Associate degree') {
            option.innerText = "Professionele Bachelor"
        } else if (option.innerText == 'Middelbare school') {
            option.innerText = "Graduaat"
        }  else if (option.innerText == 'Bovenbouw basisschool / onderbouw middelbare school') {
            option.innerText = "Secundair onderwijs"
        } else if (option.innerText == 'Basisschool') {
            option.innerText = "Primair onderwijs"
        }  else if (option.innerText == 'Geen formele opleiding') {
            option.innerText = "Geen formele opleiding"
        } else if (option.innerText == 'Andere opleiding') {
            option.innerText = "Andere opleiding"
        } 
    }

        const translations = {
            "u-field-message-country": "Uw land of woonplaats.",
            "u-field-help-message-country": "Uw land of woonplaats.",
            "u-field-link-password": "Stel je wachtwoord opnieuw in",
            "u-field-message-help-username": "Uw naam op The E-Academy. U kunt uw gebruikersnaam niet wijzigen",
            "u-field-message-help-email": "De berichten die u ontvangt van de website van The E-Academy en de onderwijsteams worden naar dit adres gestuurd",
            "u-field-message-help-password": "Controleer uw inbox voor instructies om uw wachtwoord opnieuw in te stellen.",
            "u-field-help-message-pref-lang": "De taal die op deze site wordt gebruikt. Deze site is alleen beschikbaar in bepaalde talen. Als u dit veld wijzigt, wordt de pagina automatisch ververst.",
            "u-field-help-message-country": "Je land of regio van verblijf.",
            "u-field-help-message-time_zone": "Selecteer de tijdzone voor het weergeven van cursusdata. Als u geen tijdzone opgeeft, worden cursusdatums, inclusief einddatums voor opdrachten, weergegeven op basis van de lokale tijdzone van uw browser.",
            "u-field-message-help-social_links_facebook": "Voer je Facebook-gebruikersnaam of de URL naar je Facebook-pagina in. Verwijder de URL om de link te verwijderen.",
            "u-field-message-help-social_links_twitter": "Voer je Twitter-gebruikersnaam of de URL naar je Twitter-pagina in. Verwijder de URL om de link te verwijderen.",
            "u-field-message-help-social_links_linkedin": "Voer je LinkedIn-gebruikersnaam of de URL naar je LinkedIn-pagina in. Verwijder de URL om de link te verwijderen."
        };

        for (let id in translations) {
            const element = document.getElementById(id);
            if (element) {
                element.innerText = translations[id];
            }
        }
        const subTitleList = document.getElementsByClassName("account-settings-header-subtitle")

        console.log(subTitleList[7])
        subTitleList[0].innerText = "Deze pagina bevat informatie over de bestellingen die je bij L'Accélérateur du Numérique hebt geplaatst."
        subTitleList[1].innerText = "Als u wilt, kunt u uw persoonlijk account koppelen aan uw sociale netwerken"
        subTitleList[2].innerText = "We vinden het jammer dat je weggaat!"
        subTitleList[3].innerText = "Let op: de verwijdering van uw account en uw persoonlijke gegevens is definitief en onomkeerbaar. Zodra uw account is verwijderd, kunt u uw inloggegevens niet meer gebruiken om toegang te krijgen tot content op de website van The E-Academy. U verliest ook de toegang tot uw badges ter validatie van het afwerken van de modules."
        subTitleList[4].innerText = "Zodra uw account is verwijderd, kunt u de inhoud van de website van The E-Academy (www.e-academy.be) of op welke terminal dan ook, met inbegrip van mobiele toepassingen van The E-Academy, niet meer volgen. Dit omvat de toegang tot www.e-academy.be vanuit de systemen van uw bedrijf of onderwijsinstelling."
        subTitleList[5].innerText = "Je kunt ook de toegang verliezen tot geverifieerde certificaten en andere programmakredieten zoals MicroMasters-certificaten. Als je een kopie wilt maken voor je administratie voordat je verder gaat met het verwijderen, volg dan de instructies om een certificaat af te drukken of te downloaden."
        subTitleList[6].innerText = "Wilt u niet uw e-mail, naam of wachtwoord veranderen?"
        subTitleList[7].innerText = "U kunt uw sociale media-accounts koppelen om het inloggen bij The E-Academy te vereenvoudigen."
        subTitleList[8].innerText = "Deze pagina bevat informatie over de bestellingen die u gedaan heeft bij The E-Academy."

        
        let basketText1 = document.getElementsByClassName("u-field-order-number")
        let basketText2 = document.getElementsByClassName("u-field-order-date")
        let basketText3 = document.getElementsByClassName("u-field-order-price")

        console.log(basketText1)

        if (basketText1 && basketText2 && basketText3) {
            basketText1[0].innerText = "Bestelnummer"
            basketText2[0].innerText = "Geregistreerde bestelling"
            basketText3[0].innerText = "Totaal"
        }


        const warningMessage =document.getElementsByClassName("account-settings-header-subtitle-warning")
        if (warningMessage) {
            warningMessage[0].innerText = "Houd er rekening mee dat het verwijderen van je account permanent en onomkeerbaar is: Het verwijderen van je account is permanent en onomkeerbaar. Lees het volgende in detail voordat u verder gaat. Deze actie is onomkeerbaar en je zult niet langer hetzelfde e-mailadres kunnen gebruiken om je opnieuw te registreren op de Amazon Belgium website."
        }


        const titleList = document.getElementsByClassName("section-header");
        for (let title of titleList) {
            switch (title.innerText) {
                case "Information additionnelle":
                    title.innerText = "Aanvullende informatie";
                    break;
                case "Liens vers les réseaux sociaux":
                    title.innerText = "Koppelingen naar sociale netwerken";
                    break;
                case "Mes Commandes":
                    title.innerText = "Mijn bestellingen";
                    break;
                default:
                    break;
            }
        }

        const timeZone = document.querySelector('label[for="u-field-select-time_zone"]');
        const timeZoneSelector = document.querySelector('#u-field-select-time_zone option');
        const studies = document.querySelector('.u-field-title[for="u-field-select-level_of_education"]');

        if (timeZone) {
            timeZone.innerText = "Tijdzone"
        }
        if (timeZoneSelector) {
            timeZoneSelector.innerText = "lokale tijdzone"
        }
        if (studies) {
            studies.innerText = "Opleidingsniveau"
        }


        function replaceText() {
            let modalDeleteAccountText1 = document.getElementsByClassName("alert-title")
            let firstP = document.querySelector(".alert-content p:nth-child(2)")
            let secondP = document.querySelector(".alert-content p:nth-child(3)")
            let nextSteps = document.getElementsByClassName("next-steps")
            let labelPassword = document.getElementById("label-asInput1")

            if (modalDeleteAccountText1[0]  && firstP && secondP && nextSteps) {
                modalDeleteAccountText1[0].innerText = "Als u nog steeds wenst uw account te verwijderen, gelieve dan het wachtwoord van uw account in te vullen:"
                firstP.innerText = "Zodra uw account is verwijderd, kunt u de inhoud van de website van The E-Academy (www.e-academy.be) of op welke terminal dan ook, met inbegrip van mobiele toepassingen van The E-Academy, niet meer volgen. Dit omvat de toegang tot www.e-academy.be vanuit de systemen van uw bedrijf of onderwijsinstelling."
                secondP.innerText = "Je kunt ook de toegang verliezen tot geverifieerde certificaten en andere programmakredieten zoals MicroMasters-certificaten. Als je een kopie wilt maken voor je administratie voordat je verder gaat met het verwijderen, volg dan de instructies om een certificaat af te drukken of te downloaden."
                nextSteps[0].innerText = "Als je je account toch wilt verwijderen, voer dan het wachtwoord van je account in:"
                labelPassword.innerText = "Wachtwoord"
            }
        }
        setInterval(replaceText, 200);
    }  else {


        function replaceText() {
            const subTitleListFr = document.getElementsByClassName("account-settings-header-subtitle")
            subTitleList[7].innerText = "Vous pouvez lier vos comptes de médias sociaux afin de simplifier la connexion à la E-academy."
            subTitleList[8].innerText = "Cette page contien des informations à propos des commandes que vous avez passés avec la E-academy."

            for (let section of subTitleListFr) {
                    let newText = section.innerText.replaceAll("Amazon Belgique", "E-academy")
                    let newText2 = section.innerText.replaceAll("Cela inclut l'accès à e-academy.be depuis les systèmes de votre entreprise ou établissement d’enseignement and access to private sites offered by MIT Open Learning, Wharton Executive Education, and Harvard Medical School.", "")
                    section.innerText = newText
                    section.innerText = newText2   
            }

            let firstP = document.querySelector(".alert-content p:nth-child(2)")


            if ( firstP  && secondP) {
                
                firstP.innerText = "If you proceed, you will be unable to use this account to take courses on the Amazon Belgique app, e-academy.be, or any other site hosted by E-academy."

            }
        }
        setInterval(replaceText, 200);
    }
}
);
    </script>