<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>
<style>
  input[type="submit"], input[type="button"], button, .button {
    box-shadow: none !important;
    background-color: var(--primary);
    background-image: none !important;
    text-shadow: none !important;
  }
  #register-parcours {
    -webkit-appearance: auto;
    background: white;
  }

</style>
<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>

<!-- modifs quentin - 15384 -->
<style>
    div#content-container{
        background: url("${static.url('du-savoir-a-la-chaine/images/imgs/section4_img1.svg')}");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: 20rem;
    }
    div#login-and-registration-container{
        box-shadow: 0rem 1rem 4rem #8080807d;
        backdrop-filter: saturate(3) blur(3rem);
        margin-bottom: 44rem;
        padding: 2.5rem;
        background: #f9f6edd6;
        margin-top: 4rem;
        border-radius: 0.4rem;
    }
    /* section#register-anchor{
        backdrop-filter: saturate(1.1) blur(1rem);
        box-shadow: 0rem 0rem 3rem #808080a8;
        border-radius: 0.4rem;
        padding: 2rem;
        margin-top: 3rem;
        background: #ffffffde;
    }
    section#login-anchor{
        backdrop-filter: saturate(1.1) blur(1rem);
        box-shadow: 0rem 0rem 3rem #808080a8;
        border-radius: 0.4rem;
        padding: 2rem;
        margin-top: 3rem;
        background: #ffffffde;
    } */
    @media screen and (max-width:1370px) {
        div#login-and-registration-container{
            margin-bottom: 32rem;
        }
        div#content-container{
            background-position-y: 25rem;
        }
    }
    @media screen and (max-width:1000px) {
        div#login-and-registration-container{
            margin-bottom: 22rem;
        }
    }
    @media screen and (max-width:900px){
        div#content-container{
            background-position-y: 27rem;
        }
        div#login-and-registration-container{
            margin-bottom: 24rem;
        }
    }
    @media screen and (max-width:750px){
        div#content-container{
            background-position-y: 41rem;
        }
        div#login-and-registration-container{
            margin-bottom: 32rem;
        }
    }
    @media screen and (max-width:550px){
        div#login-and-registration-container{
            margin-bottom: 24rem;
        }
    }
    @media screen and (max-width:400px){
        div#login-and-registration-container{
            margin-bottom: 17rem;
        }
    }
</style>

<!-- <script>
    let url = window.location.href
    const loginElement = document.querySelector('#login-anchor')
    const registerElement = document.querySelector('#register-anchor')
  
    window.setTimeout(()=>{
        if(url.includes('login')){
            console.log('login page');
            document.querySelector('#register-anchor').style.display='none'
            console.log('register-anchor hidden');
        }
        else if(url.includes('register')){
            console.log('register page');
            document.querySelector('#login-anchor').style.display='none'
            console.log('login-anchor hidden');
        }
    }, 200)
</script> -->

<script>
var test123 = setInterval(function(){
    
    var passwordField = document.querySelector('.password-password')
    passwordField.innerHTML = '<label for="register-password">Mot de passe</label><input id="register-password" type="password" name="password" value="" required aria-required="true" style="border-color:#767676;" /><i class="fa fa-eye" id="togglePassword" style="position:absolute; left:452px; bottom:12px; cursor:pointer;"></i>'
    
    const togglePassword = document.querySelector('#togglePassword');
    const passwordInput = document.querySelector('#register-password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    clearInterval(test123)

}, 400)


var parcoursUpdate = setInterval(function(){


    var field_parcours = document.querySelector("#register-parcours")
    var field_cohorte = document.querySelector("#register-parcours2")
    var field_cohorte_plus = document.querySelector("#register-parcours2-optional-label")
    var field_to_hide = document.querySelector("#register-terms_of_service-optional-label")
    var field_to_hide_2 = document.querySelector(".checkbox-honor_code")

    // CONDITION IS NEEDED FOR /LOGIN
    if (document.querySelector(".checkbox-terms_of_service .label-text")) {
        document.querySelector(".checkbox-terms_of_service .label-text").innerHTML = `J'accepte les <a href="/tos" rel="noopener" target="_blank">Conditions générales d’utilisation</a> `
        $("#register-honor_code").prop('checked', true);
        field_cohorte.style.display = 'none';
        field_cohorte_plus.style.display = 'none';
        field_to_hide.style.display = 'none';
        field_to_hide_2.style.display = 'none';
        field_parcours.onchange = function(e){
            if (this.value == 'tourisme' || this.value == 'encadrement') {
                $("#register-parcours2").val("Avancé")
            } else {
                $("#register-parcours2").val("Standard")
            }
        }
    }
    clearInterval(parcoursUpdate)

}, 600)
</script>

