<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>



<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Crédits</h1>

        <h3 class="sub-section">AFPA - AGENCE NATIONALE POUR LA FORMATION DES ADULTES </h3>
            <ul>
                <li>Christophe Sadok, Directeur de l'ingénierie de la Formation et de la Qualité</li>
                <li>Loïc Tournedouet, Directeur communication DIFQ</li>
                <li>Philippe Ramoff, Responsable de projets</li>
                <li>Jean-Luc Kerandel, Jean-Paul Nicolas, Jean-Michel Le Néouanic, Ingénieurs de formation</li>
                <li>Véronique Roussel, Françoise Romelé, Formatrices</li>
                <li>Eric Maucuit, Jean-Michel Le Néouanic, José Giraldez, Denis Loman, Formateurs</li>
                <li>Blaise Bretonnet, Formateur, Afpa</li>
                <li>Katia Assouline, Responsable de production et réalisatrice</li>
                <li>Haznia Haroune, Réalisation et montages audiovisuels</li>
                <li>Jean-Pierre Lupuj, Montages audiovisuels et graphismes</li>
                <li>Josiane Berjon, Médiatisation des ressources</li>
                <li>Yohan Labrousse, Prise de vue et montages</li>
                <li>Mathieu Joalland, Juriste</li>
                <li>Kim Diamond, Déléguée à la protection des données</li>
            </ul>

        <h3 class="sub-section">POUR LE MOOC FLE :</h3>
        <ul>
            <li>Sylvie Kovarik Ingénieure de formation</li>
            <li>Sabine Leturcq Chargée d'études ingénierie de formation</li>
        </ul>


        <h3 class="sub-section">POUR LE MOOC FLI :</h3>
        <ul>
            <li>Jean-Philippe Mondou Directeur préqualification, insertion et pédagogie</li>
            <li>Sylvie Kovarik Ingénieure de formation</li>
            <li>Jilianne Roucou Formatrice FLE</li>
            <li>Bénédicte Bertran Médiatisation des ressources</li>
        </ul>

        <h3 class="sub-section">MERCI AUX FORMATEURS ET AUX STAGIAIRES</h3>
            <ul>
                <li>Blaise Bretonnet, Disciple d’Escoffier, Formateur à l’Afpa de Rivesaltes</li>
                <li>Yvon Delacroix, formateur, Afpa Rennes</li>
                <li>Hanane Gendrot, stagiaire</li>
                <li>Gaël Prigent, stagiaire</li>
                <li>Laurent Macaigne, Formateur, Afpa Stains</li>
                <li>Diallo Sarafou, Stagiaire</li>
                <li>Myriam Guclu, Stagiaire</li>
                <li>Frédéric Chazard, Formateur, Afpa Stains</li>
                <li>Wanda Ramos Dos Santos, Stagiaire</li>
                <li>Xavier Denoyelle, Formateur, Afpa Lyon</li>
                <li>Bruno Le Bellour, Formateur, Afpa Tours</li>
                <li>Natacha Brogly, Formatrice, Afpa Colmar</li>
                <li>Alain Taillefert, Formateur, Afpa Rivesaltes</li>
                <li>Patricia Richard, Formatrice, Afpa Créteil   </li>    
            </ul>

        <h3 class="sub-section">MERCI AUX CHEFS RESTAURATEURS ET LEURS ÉQUIPES</h3>
            <ul>
                <li>Mélanie Latour, la chef du restaurant Le Q de Poule, 37 Rue Vasselot, 35000 Rennes</li>
                <li>Steve Marchand, Le gout des hôtes, 3 Bis Chemin du Château, 69330 Pusignan</li>
                <li>Fabricio Delgaudio, le chef du restaurant Le Sanglier Paresseux, 84750 Caseneuve</li>
                <li>Brice Connesson, Artisan pâtissier chocolatier, 45 rue Connétable, 60500 Chantilly</li>
                <li>Matthieu Bijou, Artisan pâtissier chocolatier, 26 avenue de la Résistance, Le Raincy ; 28 rue Charlot, Paris</li>
                <li>Corinne Chevrier, Château Bel-Air La Royère, 1 Les Ricards 33390 Cars, http://www.bel-air-la-royere.com/</li>
                <li>Guillaume Tavallo, Château de Mattes-Sabran, 11490, Portel-des-Corbières http://www.mattes-sabran.fr/</li>
                <li>Cyril Bordarier, Restaurant le Verre volé, 67 Rue de Lancry, 75010 Paris http://leverrevole.fr/</li>
                <li>David Biraud, Sommelier Chef, Madarin Oriental, 251 rue Saint-Honoré, Paris, http://www.mandarinoriental.fr/</li>
                <li>Frédéric Bacquié, le Relais des 3 Mas, Route de Port-Vendres, 66190 Collioure, http://www.relaisdestroismas</li>.com/
                <li>Jérôme Billod-Morel, le Jardin aux Sources, 30 Avenue du Parc, 34190 Brissac, http://www.lejardinauxsources</li>.com/
                <li>Balthazar Gonzales, l’Hédone, 2 Impasse Saint-Félix, 31400 Toulouse, https://www.facebook.com/hedone</li>.restaurant/
                <li>Pascal Bardet, Le Gindreau, Le Bourg, 46150 Saint-Médard,  http://www.legindreau.</li>com/
            </ul>

        <h3 class="sub-section">MERCI AUX CHEFS RESTAURATEURS ET LEURS ÉQUIPES</h3>
            <ul>
                <li>Brune Lejeune, Responsable de projet</li>
                <li>Aurélien Croq, Directeur technique</li>
                <li>Kériane Nougier, Directrice artistique</li>
                <li>Thibault Prevost, Responsable audiovisuel</li>
                <li>Robin Tassel, Responsable son</li>
                <li>Gianni Di Giuseppe - Animation teaser</li>
            </ul>
    </section>
</main>
