<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="header_extras">

</%block>


<%block name="pagetitle">${_("About")}</%block>
<style>
#main .container.about h3{
  font-family: "Roboto" !important;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">Merci pour votre inscription !</%block>
        </h1>
        <p>
            <%block name="pagecontent"><br/><h3>Vous allez être redirigé.e vers vos contenus dans <span id="seconds_timer"></span> secondes.<br/><br/>Pensez à activer votre compte via le lien d'activation reçu par mail !</h3></%block>
        </p>
    </section>
</main>



<script>
// Set the date we're counting down to
var countDownDate = new Date().getTime() + 5000;

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
  }

  // Display the result in the element
  document.getElementById("seconds_timer").innerHTML = seconds;

}, 500);
</script>
