<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>


<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">

        <h1 style="margin-top: 0cm; margin-bottom: 0.81cm; line-height: 139%; page-break-inside: auto; background: #ffffff; page-break-after: auto;" align="center"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: x-large;"><strong><span style="color: #3c3c3c;">Credits</span></strong></span></span></h1>
        <p style="margin-bottom: 0cm; line-height: 130%; orphans: 2; widows: 2; background: #ffffff;" align="left"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;"><span style="color: #222222;">Netexplo is a trademark of HappeningCo SAS,</span></span></span></p>
        <p style="margin-top: 0.53cm; margin-bottom: 0cm; line-height: 130%; orphans: 2; widows: 2; background: #ffffff;" align="left"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;"><span style="color: #222222;">264 rue du Faubourg Saint-Honor&eacute;, 75008 Paris - France <br /> Trade register RCS Paris B 447 906 165</span></span></span></p>
        <p style="margin-top: 0.53cm; margin-bottom: 0cm; line-height: 130%; orphans: 2; widows: 2; background: #ffffff;" align="left"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;"><span style="color: #222222;">Platform developed by WeUp Learning, 5 rue de Conflans, 94220 Charenton-le-Pont, France</span></span></span></p>
        <p style="margin-bottom: 0cm; orphans: 2; widows: 2;" align="left">&nbsp;</p>

    </section>
</main>

