<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Conditions générales d'utilisation</%block>
<style>
    #main {
        line-height: 1.5em;
    }
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>CGU</h1><p></p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit voluptatum ullam nulla sequi possimus maiores sed, rem unde aspernatur at quae neque sit, eligendi dignissimos officia nesciunt placeat dicta?</p>
    </section>
</main>
