<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Conditions générales d'utilisation</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            Conditions générales d'utilisation (BETA)
        </h1>
       



            <div >
                <div >
                    <p>L'utilisateur s'engage à prendre connaissance des présentes conditions d'utilisation avant toute
                        utilisation du site internet et à les respecter. Ces conditions d'utilisation peuvent être
                        modifiées à tout moment. Elles s'imposent à l'utilisateur dès leur mise en ligne sur le site
                        internet. L'utilisateur est donc invité à consulter régulièrement la dernière version mise à
                        jour.</p>
                    <p>Les présentes conditions d'utilisation s'appliquent à la plateforme Emploi Store et aux services
                        web de France Travail mis en ligne sur cette plateforme. Les applications mobiles de France
                        Travail ont des conditions d'utilisation spécifiques, accessibles depuis ces applications.
                        L'utilisation des services web et des applications mobiles édités par des Editeurs tiers est
                        soumise aux conditions générales d'utilisation (CGU) de ces Editeurs tiers spécifiques et sont
                        accessibles depuis leur service web ou application mobile. </p>
                    <p></p>
                    <p >Date de mise à jour : Janvier 2024</p>
                    <h2 >1 - Directeur de la publication et hébergeur de la
                        plateforme «&nbsp;Emploi Store&nbsp;»</h2>
                    <address><span >Directeur de la publication : Monsieur Thibaut Guilluy,
                            directeur général de France Travail</span><br> Hébergeur : France Travail<br> 1-5 avenue du
                        Docteur Gley<br> 75987 Paris cedex 20<br> Tél : 01.40.30.60.00. </address>
                        <br>
                    <h2 >2. Objet de l'Emploi Store</h2>
                    <p>France Travail met à disposition des internautes une plateforme de services web dénommée « Emploi
                        Store » (ci-après désignée « la plateforme ») ayant pour objet de proposer à toute personne,
                        notamment à des personnes à la recherche d'un emploi, d'une formation ou d'un conseil
                        professionnel, des applications mobiles à télécharger ou des services web en lien avec l'emploi,
                        la formation professionnelle ou le projet professionnel, développés par France Travail ou par
                        des Editeurs tiers.</p>
                    <p>En complément des services offerts sur francetravail.fr, l'Emploi Store référence et donne accès
                        à des services spécifiques de France Travail ainsi qu'à des services d'éditeurs tiers. </p>
                    <p>La plateforme propose aux utilisateurs des services web et des applications mobiles en lien avec
                        l'emploi, répartis en plusieurs centres d'intérêt : « Choisir un métier », « Se former », «
                        Préparer sa candidature », « Trouver un emploi », « Créer une entreprise », « S'ouvrir à
                        l'international ».</p>
                    <p>Les services web et les applications mobiles proposés ont pour objet de permettre à l'utilisateur
                        de mettre en œuvre et/ou d'affiner ses démarches liées à un projet d'orientation, de formation,
                        de recherche d'emploi et/ou de connaissance du marché du travail.</p>
                    <p>Les services web et les applications mobiles proposés sont édités soit par France Travail, soit
                        par des Editeurs tiers, lesquels peuvent être des opérateurs publics, des entreprises ou des
                        développeurs indépendants. Une fiche service est associée à chaque service web et application
                        mobile, permettant à l'utilisateur de connaître le nom de l'Editeur.</p>
                    <p>L'utilisateur ne doit pas utiliser les services de la plateforme dans d'autres buts que ceux pour
                        lesquels ils sont mis à disposition.</p>
                    <h2 >3. Création d'un compte</h2>
                    <p>La création d'un compte, dénommé « Mon compte », permet aux personnes à la recherche d'un emploi,
                        d'une formation, d'une orientation ou d'un conseil professionnel, inscrites ou non-inscrites sur
                        la liste des demandeurs d'emploi&nbsp;: </p>
                    <ul >
                        <li>d'utiliser certains services web et applications mobiles édités par France Travail ;</li>
                        <li>de télécharger une photo de profil qui sera publiée lors de la mise en ligne d'un avis posté
                            sur un service digital. L'avatar de l'utilisateur fait l'objet d'une modération : France
                            Travail dispose d'un délai de 72 heures pour informer l'utilisateur de la mise en ligne de
                            cet avatar ou des motifs ayant conduit à un refus de publication ; </li>
                        <li>de noter et rédiger un avis sur un service web ou une application mobile édités par France
                            Travail ou par un Editeur tiers ; </li>
                        <li>d'enregistrer en favori un service web ou une application mobile édité par France Travail ou
                            par un Editeur tiers ; </li>
                        <li>de consulter des notifications afin d'être informé lors de la mise en ligne sur la
                            plateforme de nouveaux services web ou applications mobiles correspondant aux intérêts
                            mentionnés par l'utilisateur dans son compte ; </li>
                        <li>d'enregistrer les services en ligne recommandés après avoir utilisé le moteur de
                            recommandations «&nbsp;On vous guide en 7 questions&nbsp;»; </li>
                        <li>de compléter ou modifier ses données à caractère personnel.</li>
                    </ul>
                    <p>La création préalable d'un espace candidat sur francetravail.fr est nécessaire pour les personnes
                        à la recherche d'un emploi, d'une formation, de leur voie professionnelle ou d'un conseil
                        professionnel, inscrites ou non-inscrites sur la liste des demandeurs d'emploi pour se créer un
                        compte sur l'Emploi Store.</p>
                    <p>Les personnes titulaires d'un espace personnel candidat sur francetravail.fr ouvrent un compte
                        sur l'Emploi Store et s'authentifient à ce compte avec les identifiants et mots de passe qu'ils
                        utilisent pour accéder à leur espace personnel candidat sur francetravail.fr. <a target="_blank"
                            href="https://candidat.pole-emploi.fr/compte/creation/preambule?cinematique=creationCompte&amp;type=ESU&amp;redirect_uri=redirect_uri%3Dhttps%3A%2F%2Fwww.emploi-store.fr%2Fportail%2Flogin%2Findividu">Cliquer
                            ici</a> pour créer un espace candidat sur francetravail.fr.</p>
                    <p>Pour les éditeurs de service dont le service est référencé sur l’Emploi Store, la création d'un
                        compte permet de répondre aux avis déposés par les internautes sur la fiche descriptive de leur
                        service numérique.</p>
                    <p>La création d'un compte sur francetravail.io est un préalable nécessaire pour les éditeurs de
                        services qui veulent bénéficier de cette possibilité. Les éditeurs de services ouvrent un compte
                        sur l'Emploi Store et s'authentifient à ce compte avec les identifiants et mots de passe qu'ils
                        utilisent pour accéder à leur compte francetravail.io. <a
                            href="https://francetravail.io/inscription/esu" target="_blank" rel="noopener">Cliquer
                            ici</a> pour créer un compte francetravail.io.</p>
                    <p>L'utilisateur est responsable du maintien de la confidentialité de son identifiant et de son mot
                        de passe lui permettant d'accéder à son compte. Il ne doit pas les communiquer à une autre
                        personne.</p>
                    <p>L'utilisateur est également responsable de l'utilisation du compte de messagerie électronique
                        personnel (adresse courriel) qu'il a indiqué lors de la création de son compte. Il veille à ce
                        que cette adresse ne soit pas utilisée par un tiers.</p>
                    <p>En cas de perte ou de vol de son identifiant et/ou de son mot de passe ou s'il pense qu'un tiers
                        a pu accéder à son compte, l'utilisateur s'engage à modifier son identifiant et/ou son mot de
                        passe.</p>
                    <p>France Travail peut bloquer l'accès au compte de l'utilisateur en cas de violation des présentes
                        conditions générales d'utilisation, des conditions générales d'utilisation de <a
                            href="https://www.francetravail.fr/informations/informations-legales-et-conditio/conditions-generales-dutilisatio.html"
                            target="_blank" rel="noopener">francetravail.fr</a> ou des conditions générales
                        d'utilisation de <a href="https://francetravail.io/cgu" target="_blank"
                            rel="noopener">francetravail.io.</a><span id="anchorRGPD"></span></p>
                    <h2 >4. Protection des données à caractère personnel</h2>
                    <p>France Travail enregistre les données concernant l'utilisateur uniquement pour le fonctionnement
                        de la plateforme.</p>
                    <p>Seuls les avis, pseudonyme et, le cas échéant, avatar d'un utilisateur sont visibles par les
                        autres utilisateurs. Les autres informations ne sont accessibles qu'aux agents de France Travail
                        en charge de la gestion de la plateforme.</p>
                    <p>Conformément aux articles 38 et suivants de la loi n° 78-17 du 6 janvier 1978 relative à
                        l'informatique, aux fichiers et aux libertés, les utilisateurs, et dans certaines mesures leurs
                        héritiers, peuvent obtenir communication et, le cas échéant, rectification ou suppression des
                        informations le concernant, et définir des directives sur le sort des données après leur mort,
                        en s'adressant au Correspondant informatique et libertés de France Travail aux coordonnées
                        suivantes : France Travail, Correspondant informatique et libertés, 1-5 avenue du Docteur Gley,
                        75987 Paris cedex 20. <br>Adresse électronique : <a id="mailToCnil"
                            title="envoyer un courrier à courriers-cnil@francetravail.fr"
                            href="mailto:courriers-cnil@francetravail.fr">courriers-cnil@francetravail.fr</a>. <span
                            id="anchorCookies"></span></p>
                    <h2 >5. Cookies ou autres traceurs</h2>
                    <h3 >5.1. Qu'est-ce qu'un cookie&nbsp;?</h3>
                    <p>Un cookie est un petit fichier texte déposé sur le terminal des utilisateurs (par exemple un
                        ordinateur, une tablette, un smartphone, etc.) lors de la visite d'un site internet.<br> Il
                        contient plusieurs données : le nom du serveur qui l'a déposé, un identifiant sous forme de
                        numéro unique et une date d'expiration. Les cookies ont différentes fonctionnalités : ils
                        permettent d'enregistrer les paramètres de langue d'un site, de collecter des informations
                        relatives à la navigation de l'utilisateur sur les sites, d'adresser des services personnalisés,
                        etc.<br> Seul l'émetteur d'un cookie peut lire, enregistrer ou modifier les informations qui y
                        sont contenues. </p>
                    <h3 >5.2. Les cookies déposés sur l'Emploi Store</h3>
                    <p>Sous réserve du choix de l'utilisateur, plusieurs cookies peuvent être utilisés sur le site
                        internet <a routerlink="/accueil" 
                            href="/portail/accueil">https://www.emploi-store.fr/</a>. Les différentes finalités de ces
                        cookies sont décrites ci-dessous.</p>
                    <h4 >Cookies strictement nécessaires au fonctionnement du site</h4>
                    <p>Des cookies sont utilisés sur le site https://www.emploi-store.fr/ pour permettre le bon
                        fonctionnement du site internet et l'utilisation des principales fonctionnalités du site.</p>
                    <p>Ces cookies ne sont pas soumis au consentement de l'utilisateur. Sans ces cookies, l'utilisation
                        du site peut être dégradée et l'accès à certains services être rendu impossible. Il est
                        déconseillé de les désactiver. </p>
                    <p>L'utilisateur peut cependant s'opposer à leur dépôt en suivant les indications données au point
                        5.3. Ces cookies sont exclusivement déposés par France Travail.</p>
                    <h4 >Cookies statistiques ou de mesure d'audience</h4>
                    <p>Des cookies sont utilisés sur le site <a routerlink="/accueil" 
                            href="/portail/accueil">https://www.emploi-store.fr/</a> afin d'effectuer de la mesure
                        d'audience, des analyses statistiques dans le but d'améliorer l'expérience utilisateur et la
                        performance du site internet. Ces cookies sont déposés par des tiers pour le compte de France
                        Travail.</p>
                    <p>L'utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point
                        5.3. Le fait de refuser la mise en œuvre de tels cookies n'a pas d'incidence sur la navigation
                        sur le site.</p>
                    <h4 >Cookies fonctionnels permettant la lecture de contenu vidéo
                    </h4>
                    <p>Des cookies sont utilisés sur le site <a routerlink="/accueil" 
                            href="/portail/accueil">https://www.emploi-store.fr/</a> afin de permettre la lecture de
                        contenu vidéo. Ces cookies sont déposés par des tiers pour le compte de France Travail.</p>
                    <p>Concernant le dépôt des cookies Youtube, la société Google collecte par l'intermédiaire de ce
                        cookie des données pour son propre compte dans les conditions définies dans sa politique de
                        confidentialité accessible par le lien suivant : <a id="lien_google"
                            href="https://policies.google.com/technologies/partner-sites?gl=fr">https://policies.google.com/technologies/partner-sites?gl=fr</a>
                    </p>
                    <p>Le refus du dépôt de ces cookies n'a pas d'incidence sur l'utilisation des fonctionnalités
                        principales du site. En revanche, l'utilisation du lecteur vidéo sera rendu impossible.
                        L'utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point
                        5.3.</p>
                    <p>Pour plus d'informations sur les cookies notamment sur le type de cookies déposés ainsi que leurs
                        finalités précises, vous pouvez consulter la plateforme de gestion du consentement, disponible
                        ici</p>
                    <h3 >5.3. Accepter ou refuser les cookies</h3>
                    <p>L'utilisateur dispose de différents moyens pour gérer ses choix en matière de cookies. Les
                        modalités de gestion diffèrent selon que le cookie est soumis ou non à consentement préalable.
                        L'utilisateur peut modifier ses choix à tout moment. Pour information, le paramétrage des
                        cookies est susceptible de modifier les conditions de navigation sur le site internet <a
                            routerlink="/accueil" 
                            href="/portail/accueil">https://www.emploi-store.fr/</a>, ainsi que les conditions d'accès à
                        certains services et d'entrainer des dysfonctionnements de certaines fonctionnalités.</p>
                    <h4 >La plateforme de gestion de cookies ou «&nbsp;Privacy
                        center&nbsp;»</h4>
                    <p>Pour les cookies donnant lieu à consentement préalable, l'utilisateur peut accepter ou refuser le
                        dépôt de tout ou partie des cookies, à tout moment, en formulant des choix sur la plateforme de
                        gestion du consentement via ce <a href="javascript:void(0)"
                            onclick="tC.privacyCenter.showPrivacyCenter();return false" rel="noopener">lien dédié</a>.
                    </p>
                    <h4 >Le paramétrage du navigateur</h4>
                    <p>L'utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en
                        modifiant les paramètres de son navigateur (consulter la fonction « Aide » du navigateur pour en
                        savoir plus) ou en se rendant sur l'une des pages suivantes, selon le navigateur utilisé :</p>
                    <ul >
                        <li>Google Chrome : (<a href="https://support.google.com/chrome/answer/95647?hl=fr"
                                >https://support.google.com/chrome/answer/95647?hl=fr</a>) </li>
                        <li>Microsoft Edge: (<a
                                href="https://support.microsoft.com/fr-fr/microsoft-edge/supprimer-les-cookies-dans-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09"
                                >https://support.microsoft.com/fr-fr/microsoft-edge/supprimer-les-cookies-dans-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09</a>)
                        </li>
                        <li>Mozilla Firefox : (<a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies"
                                >https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a>)
                        </li>
                        <li>Safari : (<a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac"
                                >https://support.apple.com/fr-fr/guide/safari/sfri11471/mac</a>)
                        </li>
                    </ul>
                    <p>Pour information, la plupart des navigateurs acceptent par défaut le dépôt de cookies.
                        L'utilisateur peut modifier ses choix en matière de cookies à tout moment. Le paramétrage des
                        cookies est susceptible de modifier les conditions de navigation sur les sites Emploi Store et
                        Francetravail.fr, ainsi que les conditions d'accès à certains services, et d'entraîner des
                        dysfonctionnements de certaines fonctionnalités.</p>
                    <p>Pour plus d'informations sur les cookies et les moyens permettant d'empêcher leur installation,
                        l'utilisateur peut se rendre sur la page dédiée sur le site internet de la CNIL : <a
                            id="lien_cnil" href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser"
                            target="_blank" title="Accéder au site de la CNIL (nouvelle fenêtre)"
                            rel="nofollow noopener noreferrer">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>.
                    </p>
                    <h2 >6. Services web et applications mobiles édités par
                        France Travail</h2>
                    <p>S'agissant des applications mobiles éditées par France Travail, la plateforme renvoie
                        l'utilisateur, pour le téléchargement d'une application mobile, vers le store (App Store, Google
                        Play ou Windows Store) correspondant à son service de téléphonie mobile.</p>
                    <p>La plateforme met à disposition de l'utilisateur les services web de France Travail
                        suivants&nbsp;:<br></p>
                    <ul >
                        <li>
                            <h3 >Les MOOC de l'emploi</h3><br> édité et hébergé
                            par France Travail : ce service en ligne propose des conseils pour réaliser un CV percutant
                            et éviter les erreurs les plus communes.
                        </li>
                        <li>
                            <h3 >B.A-BA CV</h3><br> (édité et hébergé par
                            France Travail : ce service en ligne propose des conseils pour réaliser un CV percutant et
                            éviter les erreurs les plus communes.
                        </li>
                        <li>
                            <h3 >B.A-BA réseaux pro</h3><br> édité et hébergé
                            par France Travail : ce service de France Travail sensibilise à l'intérêt d'utiliser des
                            réseaux sociaux professionnels dans sa recherche d'emploi ainsi que les bases de la gestion
                            de son image en ligne.
                        </li>
                        <li>
                            <h3 >B.A-BA entretien</h3><br> édité et hébergé par
                            France Travail : ce service en ligne propose un parcours interactif afin de se préparer aux
                            situations les plus courantes d'un entretien de recrutement.
                        </li>
                        <li>
                            <h3 >B.A-BA retour de mobilité</h3><br> édité et
                            hébergé par France Travail : ce service en ligne pédagogique et ludique s'adresse aux
                            personnes qui envisagent de rentrer en France après une période professionnelle à
                            l'étranger. Il est également accessible aux personnes qui préparent un départ professionnel
                            à l'étranger et qui souhaitent sécuriser leur éventuel retour en France. A partir d'un test
                            de profilage, ce serious game permet aux utilisateurs de connaître toutes les démarches à
                            effectuer préalablement à leur retour en France.
                        </li>
                        <li>
                            <h3 >Demain je pars à l'étranger&nbsp;</h3><br>
                            édité et hébergé par France Travail : ce service digital permet de préparer un projet de
                            mobilité internationale. Il invite à se poser les bonnes questions, mettre en place les
                            démarches et anticiper un éventuel retour en France.
                        </li>
                        <li>
                            <h3 >Demain je travaille en...&nbsp;</h3><br> édité
                            et hébergé par France Travail : cette collection de e-learnings permet de trouver des
                            informations utiles sur un pays en particulier et de connaître les pratiques culturelles de
                            la vie en entreprise. Les pays concernés sont : l'Irlande, la Suède, les Pays-Bas, le
                            Portugal, l'Italie, le Canada, l'Allemagne, l'Italie, l'Espagne, la Belgique, la Suisse, le
                            Luxembourg et Hong-Kong.
                        </li>
                        <li>
                            <h3 >Mon entretien d'embauche</h3><br> édité et
                            hébergé par France Travail ce service digital propose un service pédagogique et ludique pour
                            les personnes en recherche d'emploi qui souhaitent se préparer et s'entraîner à l'entretien
                            de recrutement. Ce service est disponible en format Web.
                        </li>
                        <li>
                            <h3 >Mon entretien virtuel</h3><br> édité par
                            France Travail, le service est hébergé par la société Groupe Bizness, 272 route de
                            Launaguet, 31200 Toulouse,&nbsp;tél : 05.61.26.74.70. Ce service s'adresse aux personnes en
                            recherche d'emploi souhaitant pratiquer et s'entraîner à l'entretien de recrutement en
                            situation réelle. Il est disponible en anglais, allemand et français. Il propose plusieurs
                            métiers – les métiers du numérique (Codeur, Webmaster, ingénieur informatique et community
                            manager) pour la France, pour les autres pays (Asie, Amérique du nord, Angleterre,
                            Allemagne) les métiers proposés sont pâtissier et ingénieur qualité. Ce service permet aux
                            utilisateurs d'acquérir les codes du recrutement dans les différents pays cités sans
                            connaissance préalable du métier d'entraînement.
                        </li>
                    </ul>
                    <p></p>
                    <p>L'utilisateur est invité à consulter régulièrement cette liste afin de prendre connaissance des
                        nouveaux services web édités par France Travail.</p>
                    <h2 >7. Classement des services et applications et
                        recommandations de l'Emploi Store</h2>
                    <p>France Travail est lié aux Editeurs de services tiers par un contrat. <a
                            href="https://www.francetravail.fr/files/live/sites/PE/files/fichiers-en-telechargement/contrat-editeursemploi-store"
                            target="_blank" rel="noopener">Cliquer ici</a> pour consulter le contrat.</p>
                    <p>France Travail classe les services web et applications référencés sur l'Emploi Store en fonction,
                        notamment, de leur nouveauté et de leur fréquentation.</p>
                    <p>France Travail met à disposition de l'utilisateur un moteur de recommandation dénommé «&nbsp;On
                        vous guide en 7 questions&nbsp;» qui est susceptible de proposer à l'utilisateur des services en
                        fonction des besoins qu'il sélectionne parmi ceux qui lui sont proposés dans ce questionnaire.
                        Ce moteur de recommandation de France Travail prend en compte :</p>
                    <ul >
                        <li>les caractéristiques des services web et applications mobile (telles que la rubrique dans
                            laquelle se trouve le service, les mots-clés qui lui sont associés, le thème qu'il aborde
                            via sa fiche descriptive.) ; </li>
                        <li>les réponses de l'utilisateur au questionnaire de l'Emploi Store ;</li>
                        <li>l'analyse de la navigation des utilisateurs ayant un comportement du même type.</li>
                    </ul>
                    <p>L'utilisateur a la possibilité d'enregistrer dans son compte Emploi Store la sélection de
                        services qui lui est proposée. Il doit pour cela, soit être déjà connecté à son compte, soit s'y
                        connecter avec son identifiant et son mot de passe. <span id="chatbot"><br></span></p>
                    <h2 >8. Floofy, le chatbot de l'Emploi Store</h2>
                    <p>Le chatbot Floofy est un agent conversationnel qui permet à l'utilisateur de se voir suggérer des
                        services disponibles sur l'Emploi Store en fonction de ses besoins.</p>
                    <p>Le chatbot Floofy est une fonctionnalité qui ne couvre pas l'ensemble des services et thématiques
                        de l'Emploi Store. Ses fonctionnalités et sa compréhension se limitent aux besoins les plus
                        fréquents des utilisateurs.</p>
                    <p>L'utilisateur a la possibilité d'accéder à une liste de services suggérés par le chatbot Floofy
                        soit en réponse aux besoins qu'il exprime, soit en se laissant guider par le chatbot Floofy
                        parmi les objectifs suivants :</p>
                    <ul >
                        <li>Identifier et optimiser ses compétences.</li>
                        <li>Travailler son CV et sa lettre de motivation.</li>
                        <li>Se préparer aux entretiens d'embauche.</li>
                        <li>Se renseigner sur les métiers.</li>
                        <li>Rechercher un emploi.</li>
                    </ul>
                    <p>La liste des services suggérés par le chatbot Floofy en réponse aux besoins exprimés par
                        l'utilisateur correspond à une sélection des services de l'Emploi Store identifiés comme
                        répondant à l'un des objectifs décrits ci-dessus. L'utilisateur peut affiner sa recherche parmi
                        les services suggérés en précisant des sous-objectifs (services concernant des conseils, des
                        méthodes, des outils d'évaluation, etc.).</p>
                    <p>En réponse aux demandes de l'utilisateur, le chatbot Floofy présente une sélection aléatoire de
                        trois services parmi la liste des résultats correspondants à sa requête. L'utilisateur peut
                        choisir de visionner l'ensemble des résultats correspondants à sa requête en cliquant sur
                        l'option « Voir plus de services » dans l'interface du chatbot. </p>
                    <p>Pour son fonctionnement, le chatbot Floofy conserve les éléments de la conversation de deux
                        manières :</p>
                    <ul >
                        <li>Les requêtes de l'utilisateur sont conservées pour la durée de la session afin de permettre
                            le bon déroulement de la conversation. </li>
                        <li>Les termes composant les requêtes de l'utilisateur sont conservés indéfiniment par le
                            chatbot afin d'améliorer sa performance en enrichissant son algorithme d'apprentissage
                            automatique. Dans ce contexte, les termes enregistrés par le chatbot ne sont plus reliés à
                            l'utilisateur ayant formulé la requête. </li>
                    </ul>
                    <p>Le chatbot Floofy n'est pas conçu pour collecter les données à caractère personnel de
                        l'utilisateur. L'utilisateur ne doit pas transmettre de données nominatives ou identifiantes
                        lors de l'utilisation de ce service.</p>
                    <p>Un cookie d'analyse d'usage est utilisé dans le cadre de l'utilisation du chatbot Floofy. Ce
                        cookie de mesure d'audience est déposé par Piano Analytics pour le compte de France Travail et
                        permet la collecte de données statistiques anonymes dans le but d'améliorer les performances du
                        chatbot. Ce cookie est soumis au consentement et est déposé dans les conditions décrites à
                        l'article 5.2 des présentes conditions générales d'utilisation. L'utilisateur peut choisir
                        d'accepter ou de refuser le dépôt de ce cookie à tout moment par l'intermédiaire de la
                        plateforme de gestion du consentement de l'Emploi Store. Le refus de ce cookie n'a pas
                        d'incidence sur le fonctionnement du chatbot Floofy.</p>
                </div>
            </div>


    </section>
</main>

<style>
    h3,h4{
        padding-top:2rem;
    }

    h2,h3,h4
    {
        color: #313131!important;
        font: normal 1.2em/1.2em "Open Sans"!important;
    }

    h2
    {
        color: #313131!important;
        font: bold 1.2em/1.2em "Open Sans"!important;
    }
</style>