<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>
            BUREAUX<br>
            Syndicat mixte du Parc des Volcans d'Auvergne<br>
            Montlosier, 63970 Aydat<br>
            Tél. +33 (0)4 73 65 64 00<br>
            Ouvert tous les jours, du lundi au vendredi, de 9h à 12h30 et de 14h à 17h15<br>
            ACCUEIL VISITEURS<br>
            Maison du Parc des Volcans d'Auvergne<br>
            Domaine de Montlosier, 63970 Aydat<br>
            Tél. +33 (0)4 73 65 64 26<br>
        </p>
    </section>
</main>
