<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>FAQ</h1>

        <h3 class="sub-section">Voici la liste des questions les plus fréquentes, auxquelles nous nous efforçons de répondre le plus précisément possible :</h3>

        <p>Qui peut s’inscrire à un MOOC Afpa ?</p>
        <ul>
            <li>Toute personne souhaitant suivre la formation, quel que soit son niveau d’études, son âge et qu’elle soit pourvue ou non d’un projet spécifique. Le MOOC se déroule en français.</li>
        </ul>

        <p>Comment puis-je m’inscrire au MOOC ?</p>
        <ul>
            <li>Créez simplement un compte sur «Les MOOC de l’Afpa», qui est gratuit et ensuite inscrivez-vous au MOOC. Suivez les consignes sur le site Internet.

</li>
        </ul>

        <p>Que se passe-t-il si je m'inscris à un MOOC ?</p>
        <ul>
            <li>Vous allez recevoir un courriel d'activation. Suivez les consignes de ce courrier pour activer votre compte. Vous devrez systématiquement vous enregistrer avec ce compte pour accéder au MOOC auquel vous vous êtes inscrit(e). Lorsque celui-ci aura débuté, vous pourrez accéder aux documents, devoirs, tutoriaux, etc., semaine par semaine.</li>
        </ul>

        <p>Quand débute et finit mon MOOC ?</p>
        <ul>
            <li>Les dates de début et de fin des MOOCs sont disponibles sur la page de description de chaque MOOC</li>
        </ul>

        <p>Peut-on avoir un aperçu du MOOC avant l’inscription ?</p>
        <ul>
            <li>Oui, vous pouvez avoir un aperçu du cours en visionnant le teaser associé à la formation.</li>
        </ul>

        <p>Y-a-t-il des pré-requis pour un MOOC qui m'intéresse ?</p>
        <ul>
            <li>La plupart des MOOCs ne nécessitent pas de pré-requis de formation. Vous pouvez suivre les MOOCs que vous souhaitez dans l’ordre que vous voulez. Vous noterez toutefois que certains MOOCs présentent un parcours pédagogique ordonné.</li>
        </ul>

        <p>Que se passe-t-il si je quitte un MOOC ? Y a-t-il des pénalités ? Pourrai-je suivre un autre MOOC à l'avenir ?
</p>
        <ul>
            <li>Vous pouvez vous désinscrire d'un MOOC sur mooc.afpa.fr n'importe quand, sans pénalité. Vous pourrez vous réinscrire au même MOOC plus tard, lors d'une session ultérieure.</li>
        </ul>

        <p>Quelle quantité de travail sera nécessaire pour suivre un MOOC dans sa totalité ?</p>
        <ul>
            <li>Le nombre estimé d'heures de travail requises pour réussir le MOOC est décrit sur la page de description spécifique à chaque MOOC.</li>
        </ul>

        <p>Puis-je suivre plusieurs MOOCs à la fois ?</p>
        <ul>
            <li>Vous pouvez suivre plusieurs MOOCs simultanément sur mooc.afpa.fr. Néanmoins nous vous recommandons de vérifier les pré-requis et la charge de travail sur la page de description de chaque MOOC pour déterminer l'adéquation entre votre temps d'étude disponible et celui réclamé par le(s) MOOC(s) souhaité(s).</li>
        </ul>

        <p>Quelles sont les heures d’ouverture du service ?</p>
        <ul>
            <li>Vous préférez dormir et étudier plus tard ? Pas de problème. Les vidéos et exercices sont disponibles 24 heures sur 24, ce qui signifie que vous pouvez regarder les vidéos et compléter votre travail dès que vous avez du temps de disponible. Connectez-vous à votre MOOC par Internet et travaillez avec les ressources pédagogiques, une semaine à la fois.</li>
        </ul>

        <p>Si je rate une semaine, cela va-t-il affecter mon évaluation ?</p>
        <ul>
            <li>Il est certainement possible de réussir un MOOC en ayant raté une semaine ; néanmoins, les enseignants ont prévu une progression pédagogique, donc vous devrez revoir et étudier ce que vous avez manqué. Vous pouvez vérifier sur votre tableau de bord du cours votre progression tout au long du cours si cela vous préoccupe.</li>
        </ul>

        <p>Comment puis-je rencontrer et échanger avec d'autres utilisateurs ?</p>
        <ul>
            <li>Tous les MOOCs sur mooc.afpa.fr ont des forums de discussion dans lesquels vous pouvez discuter en direct et aider les autres, dans le respect de la Charte Utilisateurs.</li>
        </ul>

        <p>Comment puis-je échanger avec les tuteurs et les encadrants ?</p>
        <ul>
            <li>Les forums de discussion sont le meilleur endroit pour joindre l'équipe pédagogique mooc.afpa.fr, et vous n'avez pas à attendre en ligne ou à réorganiser votre emploi du temps pour l’adapter à celui des membres de l’équipe pédagogique : posez simplement vos questions ; la réponse n'est pas toujours immédiate, mais généralement assez rapide.</li>
        </ul>

        <p>Comment puis-je obtenir de l'aide ?
</p>
        <ul>
            <li>Pour vous aider, faites appel à la communauté dynamique et globale des apprenants en ligne, disponibles 24h/24 et 7j/7, dans le respect de la Charte Utilisateurs. Vous disposez aussi du soutien des tuteurs qui animent le cours. Jetez un œil au forum de discussion où vous pouvez passer en revue les questions posées, les réponses et commentaires des apprenants en ligne. Vous pouvez également poser des questions.</li>
        </ul>

        <p>Puis-je suivre un MOOC à nouveau ?
</p>
        <ul>
            <li>Bonne nouvelle : vous pouvez rejouer tant que vous voulez un MOOC sur mooc.afpa.fr. Vous pouvez suivre à nouveau les cours aussi souvent que vous le souhaitez. Vos résultats dans une session du MOOC n'auront aucune influence sur les futures sessions, y compris s'il s'agit du même cours.</li>
        </ul>

        <p>L'inscription pour un MOOC qui m'intéresse est encore possible, mais le cours a commencé. Puis-je encore m'inscrire ?</p>
        <ul>
            <li>Oui, mais vous ne pourrez pas valider les travaux que vous auriez déjà dû rendre.</li>
        </ul>

        <p>Est-ce que les mêmes MOOCs seront à nouveau offerts à l'avenir ?</p>
        <ul>
            <li>Si ce premier MOOC est un succès, d’autres MOOCs seront disponibles «Les MOOCs de l’Afpa».</li>
        </ul>


        <h3 class="sub-section">Quant aux problèmes techniques et informatiques, nous tentons de les anticiper et de vous aider :
        </h3>

        <p>Pourquoi mon mot de passe s'affiche-t-il sur la page de connexion du MOOC ?</p>
        <ul>
            <li>Oups ! Cela peut dépendre de la manière dont vous avez créé votre compte. Par exemple, vous pouvez avoir par erreur tapé votre mot de passe dans la case correspondant à votre identifiant.</li>
        </ul>

        <p>J'ai des problèmes de connexion (mot de passe/courriel non reconnus)</p>
        <ul>
            <li>Merci de vérifier les paramètres de votre navigateur pour vous assurer que vous avez la dernière version de votre navigateur, puis essayez à nouveau de vous connecter. Si l'accès est impossible, créez un nouveau compte en utilisant une adresse alternative. Le vieux compte, inutilisé, disparaîtra plus tard.</li>
        </ul>

        <p>Je n'ai pas reçu de mail d'activation</p>
        <ul>
            <li>Si vous n'avez pas reçu de mail d'activation, cela peut être parce que :</li>
            <li>- Il y avait une faute de frappe dans votre adresse email</li>
            <li>Votre filtre anti-spam a peut-être considéré l’email d’activation comme un spam. Merci de vérifier votre dossier spam.</li>
            <li>Vous utilisez peut-être un ancien navigateur. Nous recommandons de télécharger la version courante de votre navigateur.</li>
            <li> Javascript est peut-être désactivé dans votre navigateur. Vérifiez les paramètres de votre navigateur et confirmez que Javascript est activé. Si vous avez des problèmes avec l'activation de votre compte, nous recommandons de créer un nouveau compte. Il n'y a rien à faire avec l'ancien. S'il n'est pas activé via le lien du mail, il disparaîtra plus tard.</li>
        </ul>

        <p>Puis-je détruire mon compte ?</p>
        <ul>
            <li>Il n'y a pas besoin de détruire votre compte. Un vieux compte «Les MOOCs de l’Afpa», sans MOOC associé, disparaîtra.</li>
        </ul>

        <p>J'ai fait une erreur en créant mon nom d'utilisateur. Comment puis-je la réparer ?</p>
        <ul>
            <li>Dans la plupart des cas, il est plus simple et plus rapide de créer un nouveau compte. Votre ancien compte disparaîtra naturellement. Si vous découvrez votre erreur beaucoup plus tard, vous devrez nous envoyer une demande de changement détaillée et nous ferons de notre mieux pour modifier votre nom d'utilisateur. Gardez à l'esprit que les identifiants sont uniques, et celui que vous voulez peut être déjà pris.</li>
        </ul>

        <p>J'ai des problèmes d'affichage. Par exemple, il manque des fonctionnalités ou je ne peux pas voir les vidéos.</p>
        <ul>
            <li>Vérifiez les paramètres de votre navigateur. Nous recommandons de télécharger la dernière version de votre navigateur. Sinon, vous pouvez vous réinscrire avec un compte courriel alternatif. Il n'y a pas besoin de détruire l’ancien compte, il disparaîtra plus tard s'il est inutilisé.</li>
        </ul>

        <p>Un utilisateur a publié un contenu illégal, comment le signaler ?</p>
        <ul>
            <li>L’Afpa met en place une procédure de signalement des contenus illégaux mis en ligne. Ce dispositif est accessible à partir du forum : cliquer sur le bouton « Plus… » puis le bouton « Dénoncer ». Les internautes ont également la faculté d’émettre un signalement à l’adresse courriel suivante : contact@mooc.afpa.fr . L’Afpa conserve l’ensemble de données ayant donné lieu à un signalement pendant un délai de UN an à compter de la date du signalement.</li>
        </ul>

    </section>
</main>
