<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            Crédits
        </h1>
        <h3>Directeur de publication</h3>
        <p>Directeur du BIVC</p>
        <h3>Éditeur</h3>
        <p>WeUp Learning</p>
        <ul>
            <li>5 rue Conflans, Charenton-le-pont - 94220</li>
            <li>Hébergé chez OVH France</li>
        </ul>

        <h3>Conception et réalisation</h3>

        <p>Réalisation : LibreSens</p>
        <h3>Crédit Photos</h3>
        <p>Vins Centre Loire© - Pierre Mérat - Nicole Gevrey</p>
        <h3>Crédit Vidéos</h3>
        <p>Vins Centre-Loire Dronivity Kaptation</p>
        <h3>Hébergement</h3>
        <p>EFEDUS SARL <br>2791, chemin Saint Bernard <br>06220 VALLAURIS</p>

        <h3>Droits d'auteur et de reproduction</h3>
        <p>En application des lois du 11 mars 1957 et du 1er juillet 1992 relatives au code de la propriété intellectuelle, l'ensemble des contenus du site Internet des Vins Centre Loire ne peuvent être utilisés ou reproduits sans une autorisation préalable.</p>


        <h3>
            Lien hypertexte
        </h3>
        <p>
            Les vins Centre Loire autorise la création d'un lien hypertexte vers son site Internet aux conditions suivantes : <br>
            - le site doit s'ouvrir dans une nouvelle fenêtre de navigateur et ne pas être imbriqué dans les pages d'un autre site (Pas de «frames»)
        </p>
        <p>
            Cette autorisation ne s’applique pas aux sites internet diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure, porter atteinte à la sensibilité du plus grand nombre. Toute utilisation de lien à des fins commerciales ou publicitaires est exclue.
        </p>
        <p>
            Les vins Centre Loire se réserve donc le droit de demander la suppression d’un lien qu’il estime non conforme à sa ligne éditoriale.
        </p>
        <p>Pour toute autre demande concernant un lien hypertexte :</p>
        <p>
            BIVC - Bureau Interprofessionnel des Vins du Centre <br>
            9, route de Chavignol - F-18300 Sancerre <br>
            Tél. 02 48 78 51 07 
        </p>


        <h3>Confidentialité</h3>

        <p>Conformément à la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, ce site ainsi que les formulaires en ligne et télé-procédures qu'il propose ont fait l'objet d'une déclaration auprès de la Commission Nationale Informatique et Libertés.</p>
        <p>Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant.</p>
        <p>Pour exercer ce droit contactez</p>
        <p>BIVC - Bureau Interprofessionnel des Vins du Centre <br>
        9, route de Chavignol - F-18300 Sancerre <br>
        Tél. 02 48 78 51 07</p>
        <p>Ce site utilise des «cookies» à des fins purement utilitaires (navigation et statistiques). <br>Les «cookies» sont des fichiers de format texte stockés par votre navigateur Internet.</p>


    </section>
</main>

<style>
    #main {
        min-height: calc( 100vh - 467px);

    }
    p, li {
        font-family: Arial, Helvetica, sans-serif !important;
        margin: 25px 0;
        font-size: 20px;
        line-height: 1.6;
        text-align: justify;
    }
    li {
        margin: 10px 0;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 26px;
    }
    a {
        color: #AB4218 !important;
    }
</style>