<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%!
import datetime
import six
import json

from django.utils.html import format_html
%>

<%inherit file="../main.html" />

<%
file_path = '/edx/var/edxapp/media/microsites/amazon-belgique/fichiers_json/ressources.json'
with open(file_path, 'r') as file:
  data = json.load(file)
%>

<%block name="pagetitle">Etudes</%block>

%if not user.is_authenticated:
<script>
    window.location.replace('/login')
</script>
% endif

<main id="main" aria-label="Content" tabindex="-1">
    <section class="header-etudes">
        <div class="container-etudes">

        %if request.LANGUAGE_CODE == 'nl-nl' :
            %for value in data["jobs-nl"] :
            <div class="vertical-align">
                <img src="/media/microsites/amazon-belgique/fichiers_json/image_ressources/${value['image']}" alt="photo d'études" class="img-etudes">
                <div class="etudes-descript" >
                    <h2 id="etudes-descript-title" >${value['titre']}</h2>
                    <p id="etudes-descript-texte">${value['description'] | n}</p>
                </div>
                <a href="${value['lien']}" id="etudes-descript-button" >${value['lien-texte']}</a>
            </div>
            %endfor
        %else :
            %for value in data["jobs-fr"] :
            <div class="vertical-align">
                <img src="/media/microsites/amazon-belgique/fichiers_json/image_ressources/${value['image']}" alt="photo d'études" class="img-etudes">
                <div class="etudes-descript" >
                    <h2 id="etudes-descript-title" >${value['titre']}</h2>
                    <p id="etudes-descript-texte">${value['description'] | n}</p>
                </div>
                <a href="${value['lien']}" id="etudes-descript-button" >${value['lien-texte']}</a>
            </div>
            %endfor
        %endif
        </div>

        <a id="wiki-button" href="https://wiki.becom.digital/fr/" target="_blank" >Vous souhaitez consulter d'autres études ? Devenez membre de Becom et accédez au wiki de Becom</a>
    </section>

    <div id="wave-top"></div>
</main>


<link rel="stylesheet" href="${static.url('css/jobs.css')}">

<style>
#wave-top {
    height: 18vw;
    background: url("${static.url('amazon-belgique/images/P4_VAGUES.png')}");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -1px;
}
</style>
