<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Jobs")}</%block>

<%
# DEAL WITH XML DATA
import urllib.request as urllib2
import xmltodict
from openedx.core.djangolib.js_utils import dump_js_escaped_json

file = urllib2.urlopen('https://sncf-recrute.talent-soft.com/Handlers/OfferXML.ashx?top=4000&entity=4380,4381')
data_0 = file.read()
file.close()

data = xmltodict.parse(data_0)
%>


<main id="main" aria-label="Content" tabindex="-1">
    <section class="container-jobs about">

        <div id="map-container">

            <div id="carte-fr">
                <p id="reg-hdf" onclick="select_region(event)">Hauts-de-France</p>
                <p id="reg-ges" onclick="select_region(event)">Grand-Est</p>
                <p id="reg-idf" onclick="select_region(event)">Ile-de-France</p>
                <p id="reg-nor" onclick="select_region(event)">Normandie</p>
                <p id="reg-bre" onclick="select_region(event)">Bretagne</p>
                <p id="reg-pdl" onclick="select_region(event)">Pays de la Loire</p>
                <p id="reg-cvl" onclick="select_region(event)">Centre-Val de Loire</p>
                <p id="reg-bou" onclick="select_region(event)">Bourgogne-Franche-Comté</p>
                <p id="reg-naq" onclick="select_region(event)">Nouvelle Aquitaine</p>
                <p id="reg-ara" onclick="select_region(event)">Auvergne-Rhône-Alpes</p>
                <p id="reg-occ" onclick="select_region(event)">Occitanie</p>
                <p id="reg-pac" onclick="select_region(event)">Provence-Alpes-Côte d'Azur</p>
            </div>
        </div>

        <div id="job-list-container" >
            <ul id="job-list">

            </ul>
            <p id="empty_list" style="display: none;">
                La liste des offres d'emploi est actuellement vide pour la région sélectionnée.
            </p>
            <p id="region_not_selected" >
                Veuillez sélectionner une région pour afficher la liste des offres d'emploi correspondantes.
            </p>
        </div>

        <div id="exit-pop-up">
            <div id="container-pop-up">
                <p>
                    <span id="pop-up-alert" >Attention !</span><br>
                    Vous allez être redirigé vers le site de recrutement SNCF. <br>
                    Veillez à avoir votre CV à disposition.
                </p>
                <div id="button-area-pop-up">

                    <div onclick='$("#exit-pop-up").hide()' >Rester sur le MOOC</div>
                    <a href="to_fill" id="pop-up-redirect" >Continuer</a>
                </div>
            </div>
        </div>

    </section>
</main>

<style>
:root{
    --dark-green:  #048167;
    --light-green: #46B277;
}
#main {
    height: calc(100vh - 71px - 69px - 28px) ;
}
#map-container{
    flex: 1;
    display: flex;
}
#carte-fr {
    background-image: url('https://sncf-voyageurs.koa.qualif.dev/media/microsites/sncf-voyageurs/carte.png');  
    background-size: cover; 
    background-position: center;
    width: 600px; 
    height: 600px;
    margin: auto;
    position: relative;
}
#carte-fr > p:hover, #job-list li:hover {
    cursor: pointer;
    color: yellow;
}
#carte-fr > p {
    font-weight: 800;
    font-size: large;
    padding: 2px;
    border: 2px solid black;
    background-color: antiquewhite;
}
/* REGION */
#reg-hdf {
    position: absolute;
    top: 16px;
    right: 213px;
}
#reg-ges {
    position:absolute;
    top: 110px;
    right: 62px;
}
#reg-idf {
    position:absolute;
    top: 100px;
    right: 234px;
}
#reg-nor {
    position:absolute;
    top: 85px;
    right: 343px;
}
#reg-bre {
    position:absolute;
    top: 137px;
    right: 484px;
}
#reg-pdl {
    position:absolute;
    top: 190px;
    right: 369px;
}
#reg-cvl {
    position:absolute;
    top: 209px;
    right: 249px;
}
#reg-bou {
    position:absolute;
    top: 222px;
    right: 59px;
}
#reg-naq {
    position:absolute;
    top: 330px;
    right: 315px;
}
#reg-ara {
    position:absolute;
    top: 327px;
    right: 103px;
}
#reg-occ {
    position:absolute;
    top: 432px;
    right: 250px;
}
#reg-pac {
    position:absolute;
    top: 430px;
    right: 4px;
}

/* JOB LIST */
#job-list {
    overflow-y: auto;
}
#job-list li {
    line-height: 1.4;
    list-style-type: none;
    margin-bottom: 15px;
}
#empty_list {
    padding: 0 20px 20px 20px;

}
#job-list-container {
    background-color: var(--light-green);
    color: white;
    border-radius: 20px;
    font-weight: 600;
    padding: 30px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: 20px;
    line-height: 1.4;
}
.container-jobs {
    display: flex;
    height: 100%;
}
/* POP UP */
#exit-pop-up {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 100, 100, 0.2);

}
#container-pop-up p {
    font-size: 20px;
    font-weight: 700;
}
#container-pop-up {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(51 176 51 / 90%);
    color: white;
    border-radius: 23px;
    position: relative;
    font-size: 20px;
    height: 208px;
    width: 800px;
    padding: 44px;
    line-height: 1.5;
}
#pop-up-alert {
    color: yellow;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
}
#button-area-pop-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#button-area-pop-up > div {
    border-radius: 20px;
    padding: 27px;
    background-color: lightgrey;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    width: 30%;
    text-align: center;
}
#button-area-pop-up > a {
    padding: 27px;
    background-color: orange;
    color: white;
    border-radius: 20px;    color: white;
    font-weight: 800;
    text-transform: uppercase;
    width: 30%;
    text-align: center;
}
#button-area-pop-up > a:hover {
    background-color: white;
    color: orange;
    text-decoration: none;
}
#button-area-pop-up > div:hover {
    background-color: orange;
    color: white;
}
</style>

<script>
// Access XML data
let offers = ${dump_js_escaped_json(data) | n, decode.utf8};

const region_dict = {
    "reg-hdf" : "Hauts-de-France",
    "reg-ges" : "Grand-Est",
    "reg-idf" : "Ile-de-France",
    "reg-nor" : "Normandie",
    "reg-bre" : "Bretagne",
    "reg-pdl" : "Pays de la Loire",
    "reg-cvl" : "Centre - Val de Loire",
    "reg-bou" : "Bourgogne-Franche-Comté",
    "reg-naq" : "Nouvelle Aquitaine",
    "reg-ara" : "Auvergne-Rhône-Alpes",
    "reg-occ" : "Occitanie",
    "reg-pac" : "Provence-Alpes-Côte d'azur"
}

function pop_up (url) {
    url_id = url.split('idOrigin')[0] + 'idOrigine/57346'

    $('#pop-up-redirect')[0].attributes.href.value = url_id
    $("#exit-pop-up").css('display', 'flex')
}

function select_region (event) {
    event.preventDefault()

    region_value = region_dict[event.target.id]
    $('#job-list li').remove()
    $('#empty_list').hide()
    $('#region_not_selected').hide()

    let offer_found = false
    let list_clientcode = ['852','470','854','301','853','599','303','310']

    for (let index = 0; index < offers["offers"]["offer"].length; index++) {

        const offer = offers["offers"]["offer"][index];

        if (offer.jobDescription.location.regions) {

            if (offer.jobDescription.location.regions.region['#text'] == region_value) {
                
                if (list_clientcode.includes(offer.jobDescription.profile['@clientcode'])) {

                    offer_found = true
                    $('#job-list').append("<li onclick=\"pop_up('"+offer.directUrl+"')\" >"+offer.jobDescription.title+ " - [ réf: " + offer.reference +" ] </li>")
                }
            }
        }
    }
    if (!offer_found) {
        $('#empty_list').show()
    }
}

</script>