<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Mentions légales</%block>

<style>
    h3 {
        font-family: 'Antagometrica';
        font-size: 22px;
        font-weight: 700;
        color: #67b134;
        text-transform: uppercase;
        margin: 30px;
    }
    h4 {
        font-family: 'Antagometrica';
        font-size: 18px;
        font-weight: 700;
        color: #67b134;
        text-decoration: underline;
        margin: 30px 40px;
    }
</style>
    
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Mentions légales</h1>

        <h3 class="sub-section">Directeur de publication</h3>
        <p>Pierre Simon, Directeur Communication Marketing Relation client</p>
        <p>Tel. : 06 88 61 87 98 - <a href="mailto:pierre.simon@afpa.fr">pierre.simon@afpa.fr</a></p>


        <h3>Bases légales du traitement de données</h3>
        <p>Vos données personnelles sont traitées sur la base de l’intérêt légitime de l’Afpa ou de l’exécution d’une obligation contractuelle pour assurer notamment la fourniture des services proposés sur la plateforme, répondre à vos demandes, assurer la sécurité de la plateforme. </p>
        <p>Vos données personnelles utilisées pour l’envoi de communications liées aux nouveaux MOOC disponibles ou aux MOOC analogues à ceux suivis sont traitées sur la base avec votre consentement.</p>

        <h3>Éditeur​​​​​​​</h3>
        <p>L'Agence nationale pour la formation professionnelle (Afpa EPIC) est l'éditeur de l'ensemble des sites de communication et pages pour le groupe Afpa et ses établissements. Le groupe Afpa comprend :</p>

        <h4>L'ÉPIC Afpa</h4>
        <p>Établissement public à caractère industriel et commercial</p>
        <p>Tour Cityscope, 3 rue Franklin, 93100 Montreuil</p>
        <p>824 228 142 RCS BOBIGNY</p>
        <p>NDA * : 11930743393</p>
        <p>Numéro TVA intracommunautaire : FR 14824228142</p>

        <h4>La SAS Afpa Entreprises</h4>
        <p>SAS au capital de 41.100.000 €</p>
        <p>Tour Cityscope, 3 rue Franklin, 93100 Montreuil</p>
        <p>824 092 688 RCS BOBIGNY</p>
        <p>NDA * : 11930762993</p>
        <p>Numéro TVA intracommunautaire : FR 82824092688</p>

        <h4>La SAS Afpa Accès à l'emploi</h4>
        <p>SAS au capital de 14.800.000 €</p>
        <p>Tour Cityscope, 3 rue Franklin, 93100 Montreuil</p>
        <p>824 363 436 RCS BOBIGNY</p>
        <p>NDA * : 11930762893</p>
        <p>Numéro TVA intracommunautaire : FR 48824363436</p>

        <br>
        <br>
        <p>* « NDA : Numéros de déclaration d’activité délivrés par la DIRECCTE Ile-de-France. Ces enregistrements ne valent pas agrément de l’État. »</p>


        <h3>Hébergeur</h3>
        <p>OVH</p>
        <p>SAS au capital de 10 174 560 €</p>
        <p>RCS Lille Métropole 424 761 419 00045</p>
        <p>Code APE 2620Z</p>
        <p>N° TVA : FR 22 424 761 419</p>
        <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>

        <br>
        <p>Toutes les données Afpa sont hébergées en France (l'information peut être vérifiée depuis la console Office 365). Pour des raisons de sécurité et de confidentialité, le lieu d’hébergement physique de nos données ne peut-être communiqué.</p>


    </section>
</main>
