<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Mentions légales</%block>

<style>
    #main {
        min-height: calc( 100vh - 276px -  91px - 30px) ;
    }

    .about > h1 {
        margin-bottom: 10px;
    }
    #date_maj {
        margin: 8px auto 50px auto;
        width: 250px;
        display: block;
        text-align: center;
    }
    .text_legales {
        font-family: "LidlFontPro","Quicksand";
        color: black;
        text-align: justify;
        line-height: 1.2;
    }

    

</style>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Mentions légales</h1>
        <span id="date_maj">(Version du 28/02/2025)</span>

        <p class="text_legales">Le site bien-etre-animal.lidl.fr (ci-après le « Site ») est édité par la société LIDL, SNC au capital de 458 000 000 Euros, inscrite au registre du commerce et des sociétés de Nanterre sous le n° 343 262 622, enregistrée sous le numéro de TVA intracommunautaire FR 85 343 262 622, et dont le siège social est situé 1 rue de Hanovre 92290 Châtenay-Malabry (ci-après « nous » ou « LIDL »). </p>
        <p>Le responsable de publication est Thiago De Carvalho Almeida.</p>
        <p>Vous pouvez nous contacter : <a href="mailto:contact_plateforme_bea@lidl.fr">contact_plateforme_bea@lidl.fr</a></p>
        <p>Le site et les données utilisateurs sont hébergés par la société OVH, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix L’hébergeur est joignable au 09 72 10 10 07. </p>
    </section>
</main>
