<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%!
import datetime
import six
import json

from django.utils.html import format_html
%>

<%inherit file="../main.html" />

<%
file_path = '/edx/var/edxapp/media/microsites/amazon-belgique/fichiers_json/ressources.json'
with open(file_path, 'r') as file:
  data = json.load(file)
%>

<%block name="pagetitle">${_("News")}</%block>

%if not user.is_authenticated:
<script>
    window.location.replace('/login')
</script>
% endif

<main id="main" aria-label="Content" tabindex="-1">
    <section class="vignettes">

    %if request.LANGUAGE_CODE == 'nl-nl' :
        %for value in data["news-nl"] :
        <div class="vignette" >
            <div class="news-descript-img" style="background-image: url('/media/microsites/amazon-belgique/fichiers_json/image_ressources/${value['image']}');" >
                ${value['titre']}
            </div>
            <div class="news-descript-text" >
                ${value['description'] | n}
            </div>
            <a href="${value['lien']}" class="news-descript-link" >${value['lien-texte']}</a>
        </div>
        %endfor
    %else :
        %for value in data["news-fr"] :
        <div class="vignette" >
            <div class="news-descript-img" style="background-image: url('/media/microsites/amazon-belgique/fichiers_json/image_ressources/${value['image']}');" >
                ${value['titre']}
            </div>
            <div class="news-descript-text" >
                ${value['description'] | n}
            </div>
            <a href="${value['lien']}" class="news-descript-link" >${value['lien-texte']}</a>
        </div>
        %endfor
    %endif

    </section>
</main>


<style>
.content-wrapper {
    padding: unset !important;
    margin-top: 0 !important;
}


#main {
    background-color: #161D26;
    padding: 50px 12%;
}
.vignettes {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
}
.vignette {
    width: 320px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
}

.news-descript-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-style: italic;
    font-weight: 800;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}
.news-descript-text {
    padding: 20px;
    line-height: 1.2;
}

.news-descript-link {
    position: absolute;
    bottom: 15px;
    right:15px;
    background-color: #FF6100;
    color:white;
    border-radius : 5px;
    padding: 5px 10px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4) ;
}
.news-descript-link:hover {
    transform: scale(1.02);
    background-color: #e45801;
}

a:not(.btn), a:visited:not(.btn) {
    color: white !important;
    text-decoration: none !important;
}
</style>