<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        Politique de confidentialité
        Le site internet https://formationadistance.deeptechforbusiness.com/ (ci-après « le Site ») est édité par la SAS HappeningCo, Société par Actions Simplifiée, dont le siège social est à Paris, 264 Rue du Faubourg Saint-Honoré 75008, immatriculée au registre de commerce et des Sociétés de Paris sous le numéro 447 906 165, ayant la qualité de responsable de traitement au sens de la réglementation en matière de données personnelles, notamment le Règlement (UE) Général n°2016-679 sur la Protection des Données personnelles des personnes physiques (RGPD).
        1. Quelles sont les données personnelles traitées ?
        Selon les services du Site utilisés et vos choix de paramétrage (notamment par rapport aux cookies et autres traceurs), les Données Personnelles vous concernant traitées sont principalement : vos nom, prénom, adresse email, scores obtenus, ainsi que vos logs de connexion (ci-après les « Données »).
        2. Comment collectons-nous vos données personnelles ?
        Ces Données sont collectées soit sur la base de votre consentement, soit sont nécessaires à l'exécution d'un contrat.
        La lutte contre la fraude est fondée sur l'intérêt légitime de la Société.
        3. Pourquoi collectons-nous vos données personnelles ?
        Ainsi, vos Données sont collectées, notamment, afin de :
        Procéder à la création et la gestion de votre compte utilisateur ;
        Vous permettre d'accéder à notre questionnaire et nos contenus de formation ;
        Réaliser des statistiques et mesures d'audience.
        Lorsque le traitement de vos Données est indispensable à la Société HappeningCo pour réaliser la ou les finalités décrites ci-dessus, les champs afférents sont signalés par un astérisque. Si vous ne renseignez pas ces champs obligatoires la Société ne pourra pas répondre à vos demandes et/ou vous fournir les produits et services demandés.
        4. A qui transmettons-nous vos données personnelles ?
        En tant que responsable de traitement, la société HappeningCo peut être amenée à transmettre vos données personnelles à (i) des sous-traitants éventuels d’HappeningCo pour des raisons exclusivement techniques et logistiques (prestataires d'hébergement et de maintenance du Site, prestataires de gestion de bases de données), (ii) des tiers en cas de restructuration de notre société, y compris cession totale ou partielle d'actifs, fusion, absorption acquisition, scission et plus généralement toute opération de réorganisation et (iii) aux pilotes du programme dans votre entreprise.
        Enfin, la société HappeningCo pourra être amenée à communiquer à des tiers vos Données lorsqu'une telle communication est requise par la loi, une disposition réglementaire ou une décision judiciaire, ou si cette communication est nécessaire pour assurer la protection et la défense de ses droits.
        
        
        5. Transfert de données hors Union Européenne
        Aucun transfert de données personnelles hors de l'Union européenne n'est réalisé par HappeningCo, ni par ses sous-traitants.
        6. Quels sont vos droits ?
        Conformément à la règlementation en vigueur, vous disposez d'un droit d'accès et de rectification de vos Données, ainsi que de celui d'en demander l'effacement, de vous opposer à leur traitement et d'en obtenir la limitation ou la portabilité dans la mesure où cela est applicable.
        Ces droits peuvent être exercés directement par courrier électronique à l'adresse dpo@lesechosleparisien.fr. Un justificatif d'identité pourra vous être demandé.
        Cette demande relative aux droits peut être directement effectuée par courrier postal et expédiée à l’adresse suivante : HappeningCo – Netexplo DeepTech – 264, rue du Faubourg Saint-Honoré, 75008 Paris ou par courriel direct à l’adresse : privacy@netexplo.org
        7. Combien de temps conservons-nous vos données personnelles ?
        Les Données relatives à la création de votre compte utilisateur seront conservées par HappeningCo pour une durée de 3 ans à compter de la fin de la relation contractuelle ou de l'inactivité de votre compte utilisateur. A l'issue de cette durée, ces Données (i) feront l'objet d'un archivage à des fins comptables et probatoires pendant les délais de prescription légale applicables ou (ii) seront détruites si lesdits délais ont expiré.
        Enfin, les logs de connexion collectés, sous réserve de votre accord, dans le cadre des cookies et autres traceurs mis en place sur notre Site, seront conservés conformément à la réglementation applicable pour une durée n'excédant pas douze (12) mois.
        8. Coordonnées du délégué à la protection des données (DPO) et droit d'introduire une réclamation
        Pour toute question en lien avec la collecte et le traitement de vos Données par Les Echos Etudes ou l’exercice de vos droits, vous pouvez contacter par email le délégué à la protection des données des Echos à l'adresse suivante : dpo@lesechosleparisien.fr
        
        Vous disposez également du droit de saisir la Commission Nationale de l'Informatique et des Libertés (CNIL), 3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07, de toute réclamation se rapportant à la manière dont Les Echos Etudes collecte et traite vos Données.
        
    </section>
</main>
