<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
<style>
main {
 background-color: #fff;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
<p>
    <strong><u>I – MENTIONS LEGALES</u></strong>
</p>
<p>
    <strong><em>Le CIFFCO et Internet</em></strong>
</p>
<p>
    <strong><em>Notre engagement de transparence au service de votre sécurité.</em></strong>
</p>
<p>
    Au CIFFCO, nous considérons qu’Internet est un formidable moyen pour entrer en communication avec le monde et vous faire partager des informations et un
    savoir.
</p>
<p>
    Cependant, comme vous le savez certainement, Internet n’est pas toujours très sûr. Aussi, sommes-nous particulièrement attentifs à la sécurité des contenus
    que nous vous mettons à disposition, aux informations que vous êtes amenés à nous partager sur https://e-ferro.ciffco.com et aux liens que nous mettons en place
    vers d’autres sites partenaires.
    <br/>
    De même nous sommes vigilants sur la qualité de la ligne éditoriale et la fiabilité du contenu y figurant.
</p>
<p>
    Nous vous remercions de votre confiance et vous souhaitons une bonne navigation sur notre site.
</p>
<p>
    <strong><em>1. </em></strong>
    <strong><em>Identification de l’éditeur de contenu en ligne</em></strong>
</p>
<p>
    Est désigné en tant qu’éditeur du contenu, le CIFFCO, SAS au capital social d’un montant de 10 000 euros, situé au 1, boulevard de l’Europe, 62231
    Coquelles, France, enregistré au RCS de Boulogne-Sur-Mer sous le numéro 528 531 338 et dont le numéro de téléphone est le suivant : +33 (0)3 21 00 61 84
</p>
<p>
    Est désigné en tant que directeur de la publication, Monsieur Bernard Lemière en tant que directeur du CIFFCO.
</p>
<p>
    L’éditeur s’engage à respecter l’ensemble des lois concernant la mise en place et l’activité d’un site internet.
</p>
<p>
    <strong><em>2. </em></strong>
    <strong><em>Hébergement et conception du site</em></strong>
</p>
<p>
    Le site <a href="http://e-ferro.ciffco.com/">e-ferro.ciffco.com</a> est hébergé chez OVH situé au 2 rue Kellermann 59100 Roubaix - France.
</p>
<p>
    Tel : 09 72 10 10 07 / <a href="http://www.ovh.com/">http://www.ovh.com</a>
</p>
<p>
    Le présent site a été réalisé avec la collaboration de WeUp Learning (<a href="https://weuplearning.com/">https://weuplearning.com/</a>).
</p>
<p><br><br><br>
    <strong><u>II – CONDITIONS GENERALES D’UTILISATION</u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><em>Présentation générale du site</em></strong>
</p>
<p>
    Le CIFFCO, centre de formation du Groupe Getlink, spécialisé notamment dans la
formation aux métiers du ferroviaire, propose aux Utilisateurs une plateforme
de cours en ligne mettant à leur disposition plusieurs modules de formation.
Les présentes Conditions Générales d’Utilisation (CGU) ont pour objet de définir
les modalités et conditions dans lesquelles le CIFFCO met à la disposition des
Utilisateurs la plateforme de cours en ligne, www.e-ferro.ciffco.com, ainsi que les
prestations de formation qui y sont proposées.
</p>
<p>
    Les présentes Conditions Générales d’Utilisation (CGU) ont pour objet de définir les modalités et conditions dans lesquelles le CIFFCO met à la disposition
    des Utilisateurs la plateforme de cours en ligne, www.e-ferro.ciffco.com, ainsi que les prestations de formation qui y sont proposées.
</p>
<p>
    En s’inscrivant à un ou plusieurs modules de cours en ligne, l’Utilisateur accepte les présentes CGU et s’engage à les respecter.
</p>
<p>
    Le CIFFCO se réserve le droit de modifier à tout moment les CGU et s’engage à en informer les Utilisateurs dans un délai raisonnable, par tout moyen.
</p>
<p>
    <strong><em>1. </em></strong>
    <strong><em>Propriété intellectuelle</em></strong>
</p>
<p>
    Le CIFFCO est propriétaire du site www.e-ferro.ciffco.com ainsi que de l’ensemble des droits de propriété intellectuelle qui y sont attachés. En effet, le
    contenu du site fait l’objet d’une protection légale au titre de la propriété littéraire et artistique en tant que création et comporte des éléments
    protégés au titre de la propriété industrielle.
</p>
<p>
    L’accès au site ne vous confère aucun droit sur ces éléments protégés par des droits de propriété intellectuelle tels que notamment les textes, marques,
    logos, éléments figuratifs, photographies, images, vidéos, plans, icônes, logiciels, bases de données, etc. qui restent la propriété exclusive du CIFFCO.
</p>
<p>
    Vous ne pouvez en aucun cas copier, reproduire, représenter, modifier, transmettre, publier, adapter, ou exercer toute autre action, sur quelque support
    que ce soit, par quelque moyen que ce soit ou exploiter de quelque manière que ce soit, tout ou partie du site qu’il soit textuel, graphique ou sonore sans
    l’autorisation écrite et préalable du CIFFCO.
</p>
<p>
    Vous êtes informés que cette interdiction vise notamment mais pas exclusivement des pratiques telles que le scrapping ou l’utilisation de robots à des fins
    d’extraction, de reproduction de tout élément du site, y compris les offres de Produits ou Services qui y sont présentées, notamment à des fins
    commerciales.
</p>
<p>
    Le non-respect de ces interdictions et notamment, l’exploitation non préalablement autorisée par le CIFFCO, à quelque titre que ce soit, de tout ou partie
    du site, constitue un acte de contrefaçon pouvant engager la responsabilité civile/pénale de toute personne enfreignant les droits de propriété
    intellectuelle du CIFFCO. Le CIFFCO se réserve le droit d’engager toute poursuite judiciaire à l’encontre de toute personne enfreignant ces règles.
</p>
<p>
    De même, il est strictement interdit d’utiliser ou de reproduire le nom «
EUROTUNNEL », « GETLINK » et/ou « CIFFCO » et/ou leurs logos, seuls ou
associés, à quelque titre que ce soit et sur quelque support que ce soit sans
l’accord préalable et écrit du CIFFCO.
</p>
<p>
    <strong><em>2. </em></strong>
    <strong><em>Utilisation des données à caractère personnel</em></strong>
</p>
<p>
    En utilisant la plateforme www.e-ferro.ciffco.com, l’Utilisateur accepte de fournir un certain nombre de données à caractère personnel qui seront traitées
    conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978 et de toute législation de l’Union Européenne. Ces données sont
    notamment les suivantes : nom et prénom de l’Utilisateur, adresse email, numéro de téléphone.
</p>
<p>
    Ce site a fait l’objet d’une déclaration à la CNIL sous le n° 1987780v0.
</p>
<p>
    Les données recueillies auprès des Utilisateurs sont stockées de manières sécurisées et détruites régulièrement dès lors qu’elles ne deviennent plus
    pertinentes comme lorsque l’Utilisateur n’est plus actif sur la plateforme depuis une certaine durée.
</p>
<p>
    a) <u>Finalités</u>
</p>
<p>
    Les données à caractère personnel vous concernant sont utilisées dans le cadre de votre inscription à la plateforme www.e-ferro.ciffco.com, et pour le
    suivi des cours en ligne, notamment l’envoi de messages relatifs à la mise en ligne de nouveau cours ou la transmission d’attestation. Si vous le
    souhaitez, elles pourront également servir pour vous envoyer des offres et propositions commerciales. <strong><em></em></strong>
</p>
<p>
    b) <u>Destinataires</u>
</p>
<p>
    Les données que vous nous transmettez lors de votre inscription et lors du suivi des cours en ligne sont destinées au CIFFCO, responsable de traitement, et
    pourront être transmises aux entités statutairement et contractuellement liées au CIFFCO, notamment WeUp Learning.
</p>
<p>
    c) <u>Droits des personnes</u>
</p>
<p>
    Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, vous bénéficiez d’un
    droit d’accès, de rectification, de modification, d’opposition et de suppression en vous adressant par écrit au CIFFCO, situé au 1, boulevard de l’Europe,
    62231 Coquelles, France.
</p>
<p>
    <strong><em>3. </em></strong>
    <strong><em>Cookies</em></strong>
</p>
<p>
    a) <u>Qu’est-ce qu’un cookie ?</u>
</p>
<p>
    Comme la majorité des sites Internet, le CIFFCO utilise des cookies dans le but d’offrir un service personnalisé et adapté aux besoins des Utilisateurs et
    dans un souci d’amélioration du site.
</p>
<p>
    Ainsi, nous enregistrons et stockons les informations relatives à la manière dont vous l’utilisez. Ceci est fait par de simples fichiers appelés cookies
    qui s’installent sur votre ordinateur.
</p>
<p>
    Un cookie est un témoin de connexion utilisé dans le cadre de la navigation internet. Généralement, un cookie informatique est un simple fichier stocké sur
    le disque dur de votre terminal (ordinateur, tablette ou smartphone).
</p>
<p>
    Le terme de cookies couvre ici l’ensemble des cookies ou traceurs déposés et/ou lus lors de la consultation des pages du site.
</p>
<p>
    Ces cookies sont totalement surs et sécurisés et ne contiendront jamais d’informations à caractère sensible. Ils ne sont utilisés que par le CIFFCO ou les
    partenaires dignes de confiance avec lesquels nous collaborons.
</p>
<p>
    b) <u>A quoi servent les cookies ?</u>
</p>
<p>
    Le CIFFCO utilise sur le site www.e-ferro.ciffco.com des cookies pour faciliter la communication en ligne et effectuer des statistiques de navigation.
</p>
<p>
    c) <u>Quels cookies sont utilisés sur </u><u>www.e-ferro.ciffco.com</u><u>?</u>
</p>
<p>
    - Des cookies techniques
</p>
<p>
    Ces cookies permettent au CIFFCO d’adapter la présentation des pages du site aux préférences d’affichage de votre terminal (langue utilisée, résolution
    d’affichage, système d’exploitation utilisé, etc.). Ces cookies sont automatiquement détruits à la fin de votre navigation sur www.e-ferro.ciffco.com.
</p>
<p>
    - Des cookies pour faciliter la communication en ligne
</p>
<p>
    Ces cookies ont pour but de se souvenir des données saisies par l’internaute sur les pages du site afin de faciliter sa navigation.
</p>
<p>
    - Des cookies de mesure d’audience
</p>
<p>
    Ces cookies sont utilisés par le CIFFCO pour établir des statistiques et des volumes de fréquentation afin d’améliorer l’expérience de l’internaute sur le
    site www.e-ferro.ciffco.com.
</p>
<p>
    Le CIFFCO utilise l’outil analytique Piwik, recommandé par la CNIL, qui lui permet d’analyser l’utilisation que vous faites du site www.e-ferro.ciffco.com
    et plus généralement de compiler des rapports anonymes et suivre l’activité sur leurs pages.
</p>
<p>
    - Comment désactiver les cookies ?
</p>
<p>
    Vous pouvez choisir ici de ne pas autoriser le suivi de votre ordinateur via un cookie lui assignant un numéro d'identification unique. L’outil analytique
    Piwik n'enregistrera pas l’activité du terminal de l’internaute.
</p>
<p>
    Pour faire ce choix et installer un cookie d'exclusion, cliquer ci-dessous.
</p>
<p>
    OPTIN/OPTOUT
</p>
<p>
    Vous avez à tout moment la possibilité de désactiver définitivement les cookies mentionnés ci-dessus, ou choisir de paramétrer votre navigateur pour qu’il
    vous informe et soumette à votre acceptation chaque cookie avant qu’ils ne soient déposés sur votre ordinateur.
</p>
<p>
    Sachez que la désactivation des cookies risque de vous empêcher de profiter de certains des services proposés par le CIFFCO et donc de nuire à la fluidité
    de votre navigation. Nous vous conseillons donc de filtrer les cookies en tenant compte de leur finalité, plutôt que de les désactiver dans leur ensemble.
</p>
<p>
    <strong><em>4. </em></strong>
    <strong><em>Modalités d’utilisation du site</em></strong>
</p>
<p>
    <strong><em><u></u></em></strong>
</p>
<p>
    a) <u>Acceptation des conditions d’utilisation</u>
</p>
<p>
    L’utilisateur du site reconnait avoir pris connaissance des présentes CGU avant toute utilisation du site et s’engage à les respecter.
</p>
<p>
    Lors de la première connexion à son compte, l’Utilisateur doit impérativement cocher la case par laquelle il reconnaît être parfaitement informé et
    accepter les conditions du présent document. A défaut, le compte ne sera pas activé.
</p>
<p>
    Le CIFFCO conserve pendant une durée de 18 mois, à compter de la date de création du compte, l’information relative à l’acceptation des CGU par
    l’Utilisateur.
</p>
<p>
    Le CIFFCO se réserve le droit de modifier à tout moment les CGU et s’engage à en informer les Utilisateurs dans un délai raisonnable, par tout moyen. Ces
    modifications sont néanmoins opposables à l’utilisateur dès leur mise en ligne sur le site.
</p>
<p>
    b) <u>Création d’un compte, identifiant, mot de passe, adresse de courrier électronique</u>
</p>
<p>
    L’inscription aux cours en ligne nécessite que le CIFFCO ait préalablement créé un compte.
</p>
<p>
    Lors de la création du compte par le CIFFCO, l’Utilisateur s’engage à fournir au CIFFCO l’ensemble des informations réelles correspondant à sa situation
    personnelle et à les transmettre au CIFFCO en cas de modification.
</p>
<p>
    L’Utilisateur s'engage également à ne pas créer une fausse identité.
</p>
<p>
    Le CIFFCO transmettra à l’Utilisateur ses identifiants et son mot de passe lui permettant d’accéder aux cours en ligne.
</p>
<p>
    L’Utilisateur est responsable du maintien de la confidentialité de ses identifiants et de son mot de passe qui lui permettent d'accéder aux cours mis en
    ligne au fur et à mesure par le CIFFCO.
    <br/>
    L’Utilisateur est également responsable de l’utilisation du compte de messagerie électronique personnel (adresse courriel) qu’il a indiqué au CIFFCO pour
    la création de compte sur le site. L’Utilisateur veille également à ce que des tiers n’utilisent pas cette adresse de courrier électronique pour
    communiquer avec le CIFFCO.
</p>
<p>
    En cas de perte ou de vol de son identifiant et/ou de son mot de passe, ou dans l’éventualité où l’utilisateur penserait qu’un tiers a accédé à son compte,
    l’utilisateur s’engage à informer le CIFFCO dans les plus brefs délais.
</p>
<p>
    c) <u>Usages autorisés / Usages non autorisés</u>
</p>
<p>
    Le site e-ferro.ciffco.com a pour objet de dispenser des cours en ligne pour former les professionnels du monde ferroviaire aux différents métiers et
    compétences requises pour exercer des fonctions dans ce domaine.
</p>
<p>
    Le CIFFCO propose ainsi sur www.e-ferro.ciffco.com des formations de qualité dispensées par des professionnels reconnus.
</p>
<p>
    Le site doit être utilisé dans le respect des finalités susmentionnées.
</p>
<p>
    En tant qu’utilisateur, vous devez :
</p>
<p>
    - Utiliser les services du site uniquement dans les buts pour lesquels ils sont mis à votre disposition ;
</p>
<p>
    - Assurer la confidentialité de vos identifiants et de votre mot de passe et ne pas les communiquer à un tiers, quel que soit votre lien avec ce tiers ;
</p>
<p>
    - Saisir uniquement des informations exactes ;
</p>
<p>
    - Mettre à jour régulièrement les informations vous concernant ;
</p>
<p>
    - Respecter la réglementation en vigueur.
</p>
<p>
    <br/>
    En tant qu’utilisateur, vous ne devez pas :
</p>
<p>
    - Constituer une base de données à des fins publicitaires (envoi de promotion sur des offres, produits ou services par appels, fax, courriers, courriels ou
    newsletters non sollicités) ou autres ;
</p>
<p>
    - Le cas échéant, capter et/ou diffuser, par quelque moyen que ce soit, tout ou partie du contenu des cours en ligne auxquels vous participez, sous peine
    de sanction pénale ;
</p>
<p>
    - Ne pas tricher afin d’améliorer ses résultats, publier ou rendre accessibles les réponses aux exercices sur quelque support que ce soit.
</p>
<p>
    d) <u>Signalement de contenus illégaux mis en ligne</u>
</p>
<p>
    LE CIFFCO permet le signalement de contenus illégaux mis en ligne. En effet, les internautes ont la faculté d’émettre un signalement à l’adresse courriel :
    contact@ciffco.com.
    <br/>
    Le CIFFCO conserve l’ensemble des données ayant donné lieu à un signalement pendant un délai de un an à compter de la date du signalement.
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><em>5. </em></strong>
    <strong><em>Responsabilité</em></strong>
</p>
<p>
    Le CIFFCO et toutes les sociétés ayant contribué à la création et à la mise en place de ce site ne sauraient être tenus pour responsables d’éventuels
    dommages de toute nature, directs ou indirects, résultant de l’utilisation du site www.e-ferro.ciffco.com, ni de l’impossibilité pour l’utilisateur
    d’accéder au site, enfin, ni des omissions et/ou erreurs que pourrait contenir le site.
</p>
<p>
    De plus, le CIFCCO ne saurait être tenu pour responsable d’un dommage, altération d’équipement ou virus qui pourrait infecter votre ordinateur ou tout
    matériel informatique, suite à une utilisation ou accès au site ou téléchargement provenant de ce site. Il est rappelé que le secret des correspondances
    n’est pas garanti sur le réseau Internet et qu’il appartient à chaque utilisateur d’Internet de prendre toutes les mesures appropriées de façon à protéger
    ses propres données et/ou logiciels de la contamination d’éventuels virus circulant sur Internet.
</p>
<p>
    Quant aux liens hypertextes établis en direction d’autres sites à partir de www.e-ferro.ciffco.com, ceux-ci ne sauraient, en aucun cas, engager la
    responsabilité du CIFFCO et plus largement du groupe Eurotunnel. Les contenus publiés, n’appartenant pas au CIFFCO, relèvent de l’entière responsabilité
    des éditeurs de ces sites les ayant rendu disponibles.
</p>
<p>
    Quant aux autres liens référencés pouvant vous faire sortir du site <a href="http://www.e-ferro.ciffco.com/">www.e-ferro.ciffco.com</a> ou les médias
    (technologie dite iframe ou embed) imbriqués sur le site susvisé, le CIFFCO ne saurait être responsable du contenu. En effet, ces contenus sont établis de
    bonne foi et le CIFFCO ne peut être tenu pour responsable de modifications intervenues sur ces sites.
</p>
<p>
    <strong><em> </em></strong>
</p>
<p>
    <strong><em>6. </em></strong>
    <strong><em>Disponibilité</em></strong>
</p>
<p>
    Le CIFFCO se réserve le droit d’interrompre la disponibilité de la plateforme à tout moment, et sans délai de prévenance, en vue notamment d’opérations de
    maintenance préventives, évolutives ou curatives. En cas d’interruption de la plateforme, le CIFFCO s’engage par tout moyen à en informer les Utilisateurs
    dans un délai raisonnable et mettra en œuvre tous les moyens appropriés pour y remédier dans les meilleurs délais.
</p>
<p>
    L’Utilisateur reconnaît que la plateforme est fournie au moyen d’Internet et de réseaux mobiles et par conséquent que des facteurs hors du contrôle
    raisonnable du CIFFCO peuvent avoir une incidence sur la qualité et la disponibilité de celle-ci.
</p>
<p>
    La responsabilité du CIFFCO ne saurait être engagée du fait de l’indisponibilité de la plateforme ou de toute difficulté ou incapacité à accéder au contenu
    ou toute autre défaillance du système de communication.
</p>
<p>
    <strong><em></em></strong>
</p>
<p>
    <strong><em>7. </em></strong>
    <strong><em>Notification – attestation de fin de formation</em></strong>
</p>
<p>
    Toute notification doit être adressée via l’adresse mail suivante : <a href="mailto:contact@ciffco.com">contact@ciffco.com</a>.
</p>
<p>
    Toute notification qui est destinée aux apprenants est envoyée par courriel à l'adresse que les internautes ont communiquée lors de la création de compte.
    On entend par notification l’attestation de formation de cours en ligne que les internautes peuvent obtenir sous réserve d’obtenir la note minimale
    requise.
</p>
<p>
    <strong><em></em></strong>
</p>
<p>
    <strong><em>8. </em></strong>
    <strong><em>Loi applicable et tribunal compétent</em></strong>
</p>
<p>
    Le site Internet www.e-ferro.ciffco.com ainsi que les présentes mentions légales sont soumis au droit français.
    <br/>
    Tout litige relatif à l’interprétation ou l’exécution des présentes conditions générales d’utilisation relève de la compétence des tribunaux français.
</p>
<p>
    <strong><em>9. </em></strong>
    <strong><em>Configuration technique</em></strong>
</p>
<p>
    Ce site a été optimisé pour un affichage 1024 x 768 sur les navigateurs suivants :
</p>
<p>
    Sur PC : Internet Explorer version 9.0 ou supérieure, Mozilla Firefox version 48.0 ou supérieure, Safari version 6.2.8 ou supérieure.
</p>
<p>
    Sur mac : Safari version 6.2.8 et supérieure, Mozilla Firefox version 48.0 et supérieure.
</p>
    </section>
</main>

    </section>
</main>

