<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
<p style="margin-bottom: 0cm; line-height: 100%;" align="center"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: x-large;"><strong>Mentions L&eacute;gales</strong></span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">La soci&eacute;t&eacute; &eacute;ditrice du site formationadistance.becomingmoredigital.com est : </span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">HAPPENINGCO<br /> Soci&eacute;t&eacute; par Actions Simplifi&eacute;e au capital de 148&nbsp;092,60 euros</span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">Si&egrave;ge social&nbsp;: 264, rue du Faubourg Saint-Honor&eacute;, 75008 Paris<br /> RCS Paris&nbsp;: 447&nbsp;906&nbsp;165&nbsp;000 33<br /> T&eacute;l&nbsp;: 01 45 01 60 00</span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">Num&eacute;ro individuel d&rsquo;identification de TVA&nbsp;: FR11447906165</span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">Directeur de la Publication : Thierry HAPPE<br /> Editrice du Site web&nbsp;: Flore SEGALEN</span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">H&eacute;bergeur : OVH, 2 rue Kellermann, 59100 Roubaix</span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">T&eacute;l.&nbsp;: 09.72. 10.10.07</span></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;"><a name="_heading=h.gjdgxs"></a> <span style="font-family: Open Sans, sans-serif;"><span style="font-size: small;">Date de cr&eacute;ation : 17 f&eacute;vrier 2021</span></span></p>
    </section>
</main>

