/* primary color */

$tma_primary_color: rgba(51, 80, 58, 1);
$tma_primary_hover_color: rgba(51, 80, 58, 0.8);
$tma_background_image_font: url('http://esr.aviation.free.fr/sortiestouristiques/2012-compiegne/DSC_22260_pierrefond.jpg') !important;
$tma_primary_font_color: #7F7F7F;
