<%page args="lang=''"/>

<script>
  console.log('i18n script loaded');
</script>


<script>

  function setCookieEN() {
    setCookie('openedx-language-preference', 'en', 30);
  }
  function setCookieFR() {
    setCookie('openedx-language-preference', 'fr', 30);
  }

  function setCookie(name, value, days) {
    let expires = "";
    if (days) {
      const date = new Date();
      date.setTime(date.getTime() + (days*24*60*60*1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + encodeURIComponent(value || "") + expires + "; path=/";
  }


</script>



<script>

const translations = {
  fr: {
    welcome: "Bienvenue<br/>dans&nbsp;lʼAxeptio&nbsp;<br/>",
    becomeexpert: "Devenez expert de la CMP Axeptio !",
    classictitle: "Version Classique",
    premiumtitle: "Version Premium",
    classictxt: "Formez-vous à votre rythme avec l’Axeptio Academy : découvrez nos outils, maîtrisez nos solutions et approfondissez vos connaissances en matière de réglementation des données.",
    premiumtxt: "Partenaires d’Axeptio, passez à la vitesse supérieure avec la formation certifiante : connectez-vous avec les identifiants transmis pour y accéder.",
    premiumsubtxt: "Envie de rejoindre la version Premium ?",
    premiumcta: "Écrivez-nous dès maintenant !",
    register: "Inscription",
    login: "Connexion",
    contact: "Nous contacter",
  },
  en: {
    welcome: "Welcome<br/>to&nbsp;the&nbsp;Axeptio&nbsp;<br/>",
    becomeexpert: "Become an expert in Axeptio's CMP!",
    classictitle: "Classic Version",
    premiumtitle: "Premium Version",
    classictxt: "Train at your own pace with the Axeptio Academy: discover our tools, master our solutions, and deepen your knowledge of data regulations.",
    premiumtxt: "Axeptio partners, take your skills to the next level with our certified training: log in with the credentials provided to access the training.",
    premiumsubtxt: "Want to upgrade to the Premium version?", 
    premiumcta: "Contact us now!", 
    register: "Registration", 
    login: "Login", 
    contact: "Contact Us", 
  }


  


};


function updateLanguage(lang) {

  // wait for the page to load using setTimeout
  setTimeout(() => {
    console.log("Page loaded, updating language to: " + lang);
  }, 1000);

  if(lang == 'fr') {
    setCookieFR();
  } else {
    setCookieEN();
  }


  const elements = document.querySelectorAll('[data-i18n]');
  elements.forEach(el => {
    const key = el.getAttribute('data-i18n');
    if (translations[lang] && translations[lang][key]) {
      //console.log(`Updating key` + key + ` to ` + translations[lang][key]);
      el.innerHTML = translations[lang][key];  // Use innerHTML instead of textContent
    }
  });

  document.documentElement.lang = lang;

  //location.reload(); 
}

// set default language to French


</script>

<script>

// if no cookie is set, use user agent language
if (!document.cookie.includes('openedx-language-preference')) {
    console.log("No language cookie found, setting language based on user agent");
    const userLang = navigator.language; // Get user's language
    const lang = userLang.startsWith('fr') ? 'fr' : 'en';
    updateLanguage(lang);

}




if (document.cookie.includes('openedx-language-preference=fr')) {
    updateLanguage('fr');
}else if(document.cookie.includes('openedx-language-preference=en')) {
    updateLanguage('en');

} else {
    updateLanguage('en'); // Default to English if no cookie is set
}





</script>
