## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<%
org = static.get_value('domain_prefix')
css = '/media/microsite/{}/auto/css/footer.css'.format(org)
%>

<link rel="stylesheet" type="text/css" href="${css}" />
<!-- Fix traduction -->
% if LANGUAGE_CODE == 'fr':
<script src="/media/traductions/fix-trad-fr.js" charset="utf-8"></script>
% endif

<footer class="global">
  <div class="footer-container">
    <ul class="links">
      <li>
        <a href="${marketing_link('HONOR')}">Conditions générales</a>
      </li>
      <!--<li>
        <a href="${marketing_link('FAQ')}">FAQ</a>
      </li>
	    <li>
        <a href="/about">Cr&eacute;dits</a>
      </li>-->
    </ul>
    <p class="copyright">Une r&eacute;alisation <a href="http://themoocagency.com">The MOOC Agency</a></p>
    <div class="by-ionisx">
	<!--modif on text and image-->
      <!--
      <a href="/">
        <img src="" alt="">
      </a>
      -->
    </div>
  </div>
</footer>