<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOOC SFC</title>
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/4-Columns-Info-Icons.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/user.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/dh-highlight-icon-heading.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Full-Page-Background.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Full-Page-Background1.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Full-Page-Background2.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/html5-video.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/PUSH---Bootstrap-Button-Pack.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/PUSH---Bootstrap-Button-Pack1.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/PUSH---Bootstrap-Button-Pack2.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/PUSH---Bootstrap-Button-Pack3.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Team-Boxed.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Testimonials-1.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/Testimonials.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/thumbnails1-1.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/thumbnails1.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/base.css">
    <link rel="stylesheet" href="/media/microsite/mooc-forem-sfc/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>

<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }

    .under_s2{
        margin-bottom: 10px;
    }

  #section1{
    background-image:url('/media/microsite/mooc-forem-sfc/images/forem-ball2.png');
  }

a.evitement {
    width: 200px;
    height: 50px;
    left: 40%;
    top: -600px;
    display: inline-block;
    position: absolute;
    padding: 15px 10px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #fcfcfc;
    z-index: 99999999999;
}

a.evitement:focus{
    top: 0;
}


@media screen and (min-width: 1200px)
{
  .thumbnail {
    height: 705px !important;
  }
}

@media screen and (max-width: 1200px)
{
  .thumbnail {
    height: 800px !important;
  }
}

@media screen and (max-width: 990px)
{
    .thumbnail {
        height: auto !important;
    }
    h1 {
        font-size: 45px !important;
    }
    h2 {
        font-size: 41px !important;
    }
    h3 {
        font-size: 41px !important;
    }
    .banner-box {
        margin:auto !important;
    }
    .ouverture-date {
        font-size: 22px !important;
    }
    #register_link, #login_link {
        font-size: 22px !important;
    }
    p {
        font-size: 18px !important;
    }
    .video-content, .partners, .section-video-st-22 {
        padding: 25px;
    }
}
</style>

<body style="overflow-x:hidden;">
    <a class="evitement" href="#contenu">Aller au contenu</a>
<!-- BARRE NAV-->
  <header id="nav_header" role="banner">
    <nav class="navbar navbar-default" id="nav_header">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://www.leforem.be" style="padding-top:0px;" target="_blank">
                  <img src="/media/microsite/mooc-forem-sfc/images/logo-forem.png" style="height:80px;" alt="Forem (aller à l’accueil)">
                </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="login-nav" href="/login?course_id=course-v1%3Amooc-forem-sfc%2BForem02%2B2019_T3&enrollment_action=enroll">Connexion </a></li>
                    <li><a id="register-nav" href="/register?course_id=course-v1%3Amooc-forem-sfc%2BForem02%2B2019_T3&enrollment_action=enroll">Inscription </a></li>
                </ul>
            </div>
        </div>
    </nav>
  </header>

<!-- BLOC INTRO -->
    <div class="container text-center" id="section1">
        <div class="col-md-5" style="color:white;float:none;margin-top:0;vertical-align:middle;width:100%;z-index:10000;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);height: 100%;display: flex;justify-content: center;flex-direction: column;">
            <div class="banner-box" style="text-align:left;">
                <h1 style="color:#2C3E50;font-size:60px;text-transform:none;text-align:left;">Bienvenue sur le MOOC <br><strong>S</strong>avoir-<strong>F</strong>aire<strong> C</strong>omportementaux</h1>
                <!--<p id="sous-titre-intro">Le 1er outil gratuit en ligne, dédié à la recherche d’emploi pour les personnes handicapées.</p>-->
                <!--<p class="ouverture-date">Ouverture en janvier 2019</p>-->
                <p class="ouverture-date">Réouverture février 2020</p>
                <div style="margin:0 auto;text-align:left;">
                <a class="btn btn-primary btn-lg link_header" href="/register?course_id=course-v1%3Amooc-forem-sfc%2BForem02%2B2019_T3&enrollment_action=enroll" id="register_link">Inscription</a>
                <a class="btn btn-primary btn-lg link_header" href="/login?course_id=course-v1%3Amooc-forem-sfc%2BForem02%2B2019_T3&enrollment_action=enroll" id="login_link">Connexion </a></div>
            </div>
        </div>
    </div>

<main role="main">
  <a id="contenu" tabindex="-1"></a>
  <!-- PRESENTATION COURS -->

      <div style="background-color:white;margin-top:80px;height:auto;z-index:1;position:relative;">
          <div class="container">
              <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);padding-top:50px">
                  <div class="col-md-12">
                      <h2 class="mb-25 texte-grisc" style="font-size:56px;text-align:left;text-transform:none;font-weight:bold"><img src="/media/microsite/mooc-forem-sfc/images/picto-sphere.png" alt="Globe" style="margin-right:32px">Découvrez la formation</h2>
                    </div>
                      <p style="font-size:24px;text-align:left;margin-bottom:94px">Que vous soyez un acteur de la formation, de l’enseignement, de l’orientation socio-professionnelle ou tout simplement curieux de découvrir des outils pour travailler les comportements professionnels.<br>Quel que soit votre secteur, cette formation est faite pour vous.</p>

                      <section id="groupe" class="section section-video-st-22" style="background-color: #ffffff;">
                            <div class="container">
                               <div class="row">
                                    <div class="col-md-6 col-sm-12" id="video-teaser">
                                    </div>
                                  <div class="col-md-6 col-sm-12">
                                     <div class="video-content">
                                        <div class="video-descrip">
                                           <p style="font-size:22px;color:#5B6774;text-align:left">
                                                Durant 4 semaines, nous vous donnerons les clés pour intégrer les savoir-faire comportementaux dans vos pratiques professionnelles. Nous vous ferons découvrir la méthodologie et les outils que nous avons développés dans le cadre du projet européen Step4-SFC. Des témoignages et des activités jalonneront la formation pour mettre en contexte les notions abordées. Alors, n’attendez plus pour découvrir cette formation.
                                           </p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </section>
<!--
                  <div class="col-md-4 text-center" style="background-color:rgba(0,67,104,0);">
                      <div class="thumbnail w-100">
                        <div style="height:280px;overflow:hidden;">
                          <img style="min-height:100%" class="w-100" src="/media/microsite/mooc-forem-sfc/images/photo-chapitre1-plateforme.jpeg" alt="Chapitre 1 - Handicap et projet professionnel">
                        </div>
                          <div class="caption">
                              <h3 class="font-exob texte-grisc">Handicap et projet professionnel</h3>
                              <div class="trait-title-gris"></div>
                              <p class="font-exobit mt-25 texte-grisc">Chapitre 1</p>
                              <ul>
                                <li class="under_s2">Le projet professionnel : de quoi s’agit-il ?<span> </span></li>
                                <li class="under_s2">Les étapes du projet professionnel <span> </span></li>
                                <li class="under_s2">Le handicap dans votre projet professionnel<span> </span></li>
                                <li class="under_s2">La compensation du handicap<span> </span></li>
                                <li class="under_s2">Les acteurs clés<span> </span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 text-center">
                      <div class="thumbnail w-100">
                        <div style="height:280px;overflow:hidden;">
                          <img style="min-height:100%" class="w-100" src="/media/microsite/mooc-forem-sfc/images/photo-chapitre2-plateforme.jpg" alt="Chapitre 2 - Organiser et outiller votre recherche d’emploi">
                        </div>
                          <div class="caption">
                              <h3 class="font-exob texte-grisc">Organiser et outiller votre recherche d’emploi</h3>
                              <div class="trait-title-gris"></div>
                              <p class="font-exobit mt-25 texte-grisc">Chapitre 2</p>
                              <ul>
                                <li class="under_s2">Mettre en valeur votre CV<span> </span></li>
                                <li class="under_s2">Secteur privé et public : comment postuler ?<span> </span></li>
                                <li class="under_s2">La RQTH sur le CV : oui ou non ?<span> </span></li>
                                <li class="under_s2">Diffuser et suivre votre candidature<span> </span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 text-center">
                      <div class="thumbnail w-100">
                        <div style="height:280px;overflow:hidden;">
                          <img class="w-100" style="min-height:100%;" src="/media/microsite/mooc-forem-sfc/images/photo-chapitre3-plateforme.jpg" alt="Chapitre 3 - Communiquer sur votre situation de handicap">
                        </div>
                          <div class="caption">
                              <h3 class="font-exob texte-grisc">Communiquer sur votre situation de handicap</h3>
                              <div class="trait-title-gris"></div>
                              <p class="font-exobit mt-25 texte-grisc">Chapitre 3</p>
                              <ul>
                                <li class="under_s2">Préparer votre entretien d’embauche<span> </span></li>
                                <li class="under_s2">Handicap et entretien d’embauche : pourquoi en parler ?<span> </span></li>
                                <li class="under_s2">Handicap et entretien d’embauche : comment en parler ?<span> </span></li>
                                <li class="under_s2">Intégration : la mise en place des aménagements<span> </span></li>
                                <li class="under_s2">La communication avec l’équipe<span> </span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    -->

  <!-- DEF MOOC -->
      <div class="team-boxed bg-white" style="*height:auto;z-index:1;position:relative;">
          <div class="container mt-50 bg-white text-center">
              <!--<div class="intro pt-0">
                <div class="trait-title-gris"></div>
                  <h2 class="mb-25 texte-grisc" style="font-size:2em;">qu'est-ce qu'un MOOC ?</h2>
                  <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                      <p class="text-center">Une formation gratuite, ouverte à tous, disponible et accessible où que vous soyez !</p>
                    </div>
                  </div>
              </div>-->
              <div class="row mt-50 mb-50">
                <div class="col-md-3 col-sm-6 pad-25" style="min-height:420px;">
                  <img class="img-rounded" src="/media/microsite/mooc-forem-sfc/images/picto-massive.png" alt="icone massive">
                  <h3 class="name" style="font-size:32px">MASSIVE </h3>
                  <p style="font-size:22px;">Un contenu disponible gratuitement et autour duquel vous pouvez échanger, directement sur cette plateforme.</p>
                </div>
                <div class="col-md-3 col-sm-6 pad-25" style="min-height:420px;">
                  <img class="img-rounded" src="/media/microsite/mooc-forem-sfc/images/picto-open.png" alt="icone open">
                  <h3 class="name" style="font-size:32px">OPEN </h3>
                  <p style="font-size:22px;">Un accès libre à toutes les ressources. </p>
                </div>
                <div class="col-md-3 col-sm-6 pad-25" style="min-height:420px;">
                  <img class="img-rounded" src="/media/microsite/mooc-forem-sfc/images/picto-online.png" alt="icone online">
                  <h3 class="name" style="font-size:32px">ONLINE </h3>
                  <p style="font-size:22px;">Disponible en ligne, tout le temps et où que vous soyez.</p>
                </div>
                <div class="col-md-3 col-sm-6 pad-25" style="min-height:420px;">
                  <div class="box"><img class="img-rounded" src="/media/microsite/mooc-forem-sfc/images/picto-course.png" alt="icone cours">
                  <h3 class="name" style="font-size:32px">COURSE </h3>
                  <p style="font-size:22px;">Un vrai parcours pédagogique, pour vous permettre d'acquérir des compétences.</p>
                </div>
              </div>
          </div>
      </div>
</main>
<!-- CONTENU DE LA FORMATION-->
<div class="container">
<div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
    <div class="col-md-12" style="margin-bottom:50px">
        <h2 class="mb-25 texte-grisc" style="font-size:56px;text-align:left;text-transform:none;font-weight:bold"><img src="/media/microsite/mooc-forem-sfc/images/picto-sphere.png" alt="globe" style="margin-right:32px">Contenus de la formation</h2>
    </div>
    <section class="section section-video-st-22" style="background-color: #ffffff;">
            <div class="container">
                <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="video-box clearfix">
                        <div class="overlay"></div>
                        <div class="video-thumb">
                            <span class="play-icon">
                            <img alt="videos" src="/media/microsite/mooc-forem-sfc/images/videos.png" style="width:500px">
                            </span>
                            </a>
                        </div>
                    </div>
                    <!-- ../video-box -->
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="video-content">
                        <div class="video-title">
                            <h3 style="text-transform:none;text-align:left;font-size:44px">Vidéos</h3>
                            <div class="green-line"></div>
                        </div>
                        <div class="video-descrip">
                            <p style="font-size:22px;color:#5B6774;text-align:left">
                                Au travers de vidéos, découvrez les notions clés de l'approche par compétence, ainsi que des témoignages de différents acteurs de la formation et de l'orientation socio-professionnelle.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
        <!--<div class="col-md-12">
            <h2 class="mb-25 texte-grisc" style="font-size:56px;text-align:left;text-transform:none;font-weight:bold"><img src="/media/microsite/mooc-forem-sfc/images/picto-sphere.png" alt="" style="margin-right:32px">Contenus de la formation</h2>
        </div>-->
        <section class="section section-video-st-22" style="background-color: #ffffff;margin-top:50px">
                <div class="container">
                    <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="video-content">
                            <div class="video-title">
                                <h3 style="text-transform:none;text-align:right;font-size:44px">Activités individuelles et
                                        collaboratives</h3>
                                <div class="green-line-right"></div>
                            </div>
                            <div class="video-descrip">
                                <p style="font-size:22px;color:#5B6774;text-align:right;margin-top:50px;">
                                    Testez vos connaissances et confrontez vos idées avec les autres participants au travers diverses activités proposées tout au long de la formation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                            <div class="video-box clearfix">
                                <div class="overlay"></div>
                                <div class="video-thumb">
                                    <span class="play-icon">
                                    <img alt="activites" src="/media/microsite/mooc-forem-sfc/images/activites.png" style="width:500px">
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <!-- ../video-box -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>
<div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
    <!--<div class="col-md-12">
        <h2 class="mb-25 texte-grisc" style="font-size:56px;text-align:left;text-transform:none;font-weight:bold"><img src="/media/microsite/mooc-forem-sfc/images/picto-sphere.png" alt="" style="margin-right:32px">Espace de discussion</h2>
    </div>-->
    <section class="section section-video-st-22" style="background-color: #ffffff;margin-top:50px">
            <div class="container">
                <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="video-box clearfix">
                        <div class="overlay"></div>
                        <div class="video-thumb">
                            <span class="play-icon">
                            <img alt="discussions" src="/media/microsite/mooc-forem-sfc/images/discussions.png" style="width:500px">
                            </span>
                            </a>
                        </div>
                    </div>
                    <!-- ../video-box -->
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="video-content">
                        <div class="video-title">
                            <h3 style="text-transform:none;text-align:left;font-size:44px">Espace de discussion</h3>
                            <div class="green-line"></div>
                        </div>
                        <div class="video-descrip">
                            <p style="font-size:22px;color:#5B6774;text-align:left">
                                    Échangez librement avec des experts de la formation et l’ensemble des participants.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
        <!--<div class="col-md-12">
            <h2 class="mb-25 texte-grisc" style="font-size:56px;text-align:left;text-transform:none;font-weight:bold"><img src="/media/microsite/mooc-forem-sfc/images/picto-sphere.png" alt="" style="margin-right:32px">Contenus de la formation</h2>
        </div>-->
        <section class="section section-video-st-22" style="background-color: #ffffff;margin-top:50px">
                <div class="container">
                    <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="video-content">
                            <div class="video-title">
                                <h3 style="text-transform:none;text-align:right;font-size:44px">Ressources pédagogiques</h3>
                                <div class="green-line-right"></div>
                            </div>
                            <div class="video-descrip">
                                <p style="font-size:22px;color:#5B6774;text-align:right;margin-top:50px">
                                        Tout au long de la formation, retrouvez des outils et des fiches pédagogiques pour vous aider à mettre en place vos acquis de formation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                            <div class="video-box clearfix">
                                <div class="overlay"></div>
                                <div class="video-thumb">
                                    <span class="play-icon">
                                    <img alt="ressources pédagogiques" src="/media/microsite/mooc-forem-sfc/images/educational-ressource.png" style="width:500px">
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <!-- ../video-box -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>
        
<!-- JE M'INSCRIS -->
    <div class="dh-highlight-text mt-50 mb-50" style="background-color:white;padding:0px;height:auto;position:relative;z-index:1;">
        <div class="container">
            <h2 class="text-center custom-font p-0" style="font-size:2em;color:#2C3E50">Rejoindre le MOOC !</h2>
            <!--<p class="ouverture-date">Ouverture en janvier 2019</p>-->
            <p class="ouverture-date">Réouverture février 2020</p>
            <div><a class="btn font-20 custom-font texte-white" href="/register?course_id=course-v1%3Amooc-forem-sfc%2BForem02%2B2019_T3&enrollment_action=enroll" data-toggle="modal" style="background-color:#93AA4F;">Inscription</a>
                <div class="modal fade"
                role="dialog" tabindex="-1" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Modal Title</h4></div>
                            <div class="modal-body">
                                <p class="text-center text-muted">Description </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container partners">
        <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
            <div class="col-md-12">
                <h2 class="mb-25" style="font-size:56px;text-align:left;text-transform:none;font-weight:bold;;margin-top:50px"><img src="/media/microsite/mooc-forem-sfc/images/picto-sphere.png" alt="globe" style="margin-right:32px">Les acteurs du projet</h2>
            </div>
        </div>
        <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
            <div class="col-md-12">
                <p style="font-size:22px;color:#5B6774;text-align:left">Un <strong>MOOC</strong> réalisé et financé par le Forem avec la contribution pédagogique de FormaForm dans le cadre du projet Step-4 SFC avec le soutien d'Erasmus+</p>
            </div>
        </div>
        <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
            <div class="col-md-12">
                    <div class="container">
                            <div class="col-md-2 col-sm-3 col-xs-6" >
                                    <a href="https://www.leforem.be" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-forem.png" alt="Forem" style="width:200px"></a>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="https://www.formaform.be" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-formaform.png" alt="FormaForm" style="width:200px"></a>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="http://www.step4-sfc.eu" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-step.png" alt="Step" style="width:200px"></a>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="https://info.erasmusplus.fr" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-erasmus.png" alt="Erasmus" style="width:270px"></a>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
                <div class="col-md-12">
                    <p style="font-size:22px;color:#5B6774;text-align:left">Les partenaires</p>
                </div>
            </div>
            <div class="row" style="/*text-align:center;*/background-color:rgba(255,255,255,0);">
                <div class="col-md-12">
                        <div class="container">
                                <div class="col-md-2 col-sm-2 col-xs-6" >
                                    <a href="http://www.aid-com.be" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-aid.png" alt="AID" style="width:130px"></a>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="http://www.bruxellesformation.be" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-bx-form.png" alt="Bruxelles formation" style="width:130px"></a>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="http://crif-formation.com" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-crif.png" alt="CRIF" style="width:130px"></a>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="http://www.cooss.it/it/" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-coos.png" alt="COOSS" style="width:130px"></a>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" >
                                    <a href="http://www.gie.ro" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-gie.png" alt="GIE" style="width:130px"></a>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <a href="https://www.facebook.com/europa.tojas.1" target="_blank"><img src ="/media/microsite/mooc-forem-sfc/images/logo-tojas.png" alt="Tojas" style="width:130px"></a>
                                </div>
                            </div>
                        </div>
                </div>
    </div>

<!-- FOOTER LOGOS -->
    <footer class="site-footer footer-style">
        <div style="text-align:left;padding-left:40px;padding-right:40px">
            <a href="http://www.step4-sfc.eu/" target="_blank"><img src="media/microsite/mooc-forem-sfc/images/picto-home.png" alt="Home" style="margin-right:60px"></a>
            <a href="https://fr-fr.facebook.com/Step4SFC/" target="_blank"><img src="media/microsite/mooc-forem-sfc/images/picto-facebook.png" alt="Facebook"></a>
            <div style="text-align:right;float:right;margin-top:25px">
                <a href="/honor"><span style="color:white;font-size:22px;margin-right:40px">Conditions générales</span></a>
                <a href="/faq"><span style="color:white;font-size:22px;margin-right:40px">FAQ</span></a>
                <a href="/about"><span style="color:white;font-size:22px;">Crédits</span></a>
            </div>
        </div>
    </footer>

    <script src="/media/microsite/mooc-forem-sfc/js/jquery.min.js"></script>
    <script src="/media/microsite/mooc-forem-sfc/bootstrap/js/bootstrap.min.js"></script>
    <script>
        var options = {
            id: 291858477,
            height: 300,
            loop: true,
            autoplay: true
        };
        var player = new Vimeo.Player('video-teaser', options);
        player.setVolume(0);
        player.on('play', function() {
            console.log('played the video!');
        });
    </script>
</body>
</html>
