@import url('https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">'); 
// Theme colors
$primary:  #A4ACB0;
$secondary:  #C2C6CA;
$black:  #000;

$theme-colors: (
  "tertiary": #2A7DE2
);

// Theme fonts
$font-family-sans-serif: 'Quicksand';

$action-primary-bg: $secondary !default;
$action-primary-shadow: $secondary !default;
$action-primary-focused-bg: $secondary !default;
$action-primary-active-bg: $secondary !default;
$action-primary-active-fg: $secondary !default;
$action-primary-active-shadow: $secondary !default;
$action-primary-active-focused-fg: $secondary !default;
$action-primary-active-focused-shadow: $secondary !default;

@import 'edx-bootstrap/sass/open-edx/theme';
