// Fonts 
@font-face {
  font-family: 'Ubuntu';
  src: url("/media/fonts/Ubuntu/Ubuntu-Regular.eot");
  src: url("/media/fonts/Ubuntu/Ubuntu-Regular.eot") format('embedded-opentype'),
    url('/media/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
    url('/media/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
    url('/media/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype'),
    url('/media/fonts/Ubuntu/Ubuntu-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontBold';
  src: url("/media/fonts/Mont-bold/Mont-Bold.otf");
  src: url("/media/fonts/Mont-bold/Mont-Bold.otf") format(opentype),
    url('/media/fonts/Mont-bold/Mont-bold.woff2') format('woff2'),
    url('/media/fonts/Mont-bold/Mont-bold.woff') format('woff'),
    url('/media/fonts/Mont-bold/Mont-bold.ttf') format('truetype'),
    url('/media/fonts/Mont-bold/Mont-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Theme colors
$primary:  #8f4080;
$secondary:  #04ac9c;

$theme-colors: (
  "tertiary": #114b98
);

// Theme fonts
$font-family-sans-serif: 'Ubuntu', 'MontBold';

$action-primary-bg: $secondary !default;
$action-primary-shadow: $secondary !default;
$action-primary-focused-bg: $secondary !default;
$action-primary-active-bg: $secondary !default;
$action-primary-active-fg: $secondary !default;
$action-primary-active-shadow: $secondary !default;
$action-primary-active-focused-fg: $secondary !default;
$action-primary-active-focused-shadow: $secondary !default;

@import 'edx-bootstrap/sass/open-edx/theme';
