## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<style>
  .wrapper-footer, body.view-in-course .wrapper-footer {
    background-color: #060E9F !important;
  }

  .wrapper-footer .site-nav, .wrapper-footer footer#footer-openedx .colophon .nav-colophon {
    margin: 0 !important;
  }

  .wrapper-footer .site-nav .nav-link, .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: white !important;
  }
</style>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('CGU')}">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/honor">Conditions générales d'utilisation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tos">Mentions légales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/privacy">Confidentialité</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/credits">Crédits</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3"></div>
      </div>
    </footer>
  </div>
% else:
  <div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
      <div class="colophon">
        <nav class="nav-colophon" aria-label="${_('CGU')}">
          <ol>
            <li class="nav-colophon-01">
              <a id="cgu" href="/honor">Conditions générales d'utilisation</a>
            </li>
            <li class="nav-colophon-01">
              <a id="cgu" href="/tos">Mentions légales</a>
            </li>
            <li class="nav-colophon-01">
              <a id="cgu" href="/privacy">Confidentialité</a>
            </li>
            <li class="nav-colophon-01">
              <a id="cgu" href="/credits">Crédits</a>
            </li>
          </ol>
        </nav>
      </div>
    </footer>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
