## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>


<link rel="stylesheet" href="${static.url('css/footer.css')}">


%if request.path == '/news':
    <style>
    .text-footer {
        color: white;
    }
    #footer {
        background: #171D26;
    }
    .footer_links {
        color: white !important;
    }
    .footerBottom {
        border-top: solid white 1px;
    }
    </style>
%elif  request.path == '/login'  or request.path == '/register' : 
    <style>
    .text-footer {
        color: white;
    }

    .footer_links {
        color: white !important;
    }
    .footerBottom {
        border-top: solid #171D26 1px;
    }
    </style>
%elif request.path == '/dashboard/elearning' or request.path == '/press' : 
    <style>
    #footer {
        background: #EEF8FA;
    }
    </style>
%else:
    <!-- /dashboard et /jobs -->
    <style>
    .text-footer {
        color: #171D26;
    }
    </style>
%endif

<footer id="footer">
    <div class="container1">

        <div class="horizontal-align">
            <div class="footer-column" >
                <p  id="text-footer-right" class="text-footer text-footer-up" >Powered by</p>
                <!-- <p  id="text-footer-right" class="text-footer text-footer-up" >${_("Un programme initié par")}</p> -->
                %if request.path == '/news' or request.path == '/login' or request.path == '/register' :
                <a href="https://services.amazon.fr/" target="_blank"><img src="${static.url('amazon-belgique/images/logo_amazon.png')}" class="Right" alt="logo Amazon"></a>
                %else:
                <a href="https://services.amazon.fr/" target="_blank"><img src="${static.url('amazon-belgique/images/logo_amazon_black.png')}" style="height:65px;" alt="logo Amazon"></a>
                %endif
            </div>

            <div class="footer-column" >
                <p  id="text-footer-right" class="text-footer text-footer-up" >Supported by</p>
                <!-- <p  id="text-footer-right" class="text-footer text-footer-up" >${_("Un programme initié par")}</p> -->
                %if request.path == '/news' or request.path == '/login' or request.path == '/register' :
                <a href="https://services.amazon.fr/" target="_blank"><img src="${static.url('amazon-belgique/images/logo-e-academy-2.png')}" class="Right" alt="logo Amazon"></a>
                %else:
                <a href="https://services.amazon.fr/" target="_blank"><img src="${static.url('amazon-belgique/images/logo_becom.png')}" style="height:65px;" alt="logo Amazon"></a>
                %endif
            </div>
        </div>

        <div class="row footerBottom" >
            <div class="footer_cgu" >
                <a id="footer_link_1" target="_blank" class="footer_links" href="/mentions-legales/">Mentions légales</a>
                <a id="footer_link_2" target="_blank" class="footer_links" href="/politique-de-confidentialite/">${_("Politique de confidentialité")}</a>
                <!-- <a id="footer_link_3" target="_blank" class="footer_links" href="/faq/">FAQ</a> -->
            </div>
        </div>
    </div>
</footer>


<!-- apply trads through 5 dashboard pages -->
<script type="text/javascript" src="${static.url('js/dashboard_trads.js')}"></script>


