<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>


<style>
  :root {
    --primary: #7C1A00;
    --secondary: #FF6833;
    --tertiary : #FFD2A9;
  }

  .main .mobile-nav-item {
    display: none !important;
  }
  .content-wrapper {
    margin: 0 auto;
    padding: 0 !important;
    max-width: 1600px !important;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, p, li, a {
    font-family: 'Avenir', 'Barlow', sans-serif;
  }
  .header-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1600px;
  }
  body {
    line-height: 1.2 !important;
    box-sizing: border-box;
  }

  /* GLOBAL */
  .vertical-align, .horizontal-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .horizontal-align {
    flex-direction: row;
  }
  .space-between {
    justify-content: space-between;
  }
  #mobile-menu div:nth-child(1), #mobile-menu div:nth-child(2), .mobile-nav-item .register-btn, .theme-toggle-button {
    display: none !important;
  }
  .global-header .nav-links .secondary a.sign-in-btn {
    color: var(--primary);
    background-color: white;
    border: 1px solid var(--primary);
  }
  .global-header .nav-links .secondary a.sign-in-btn:hover {
    color: white;
    background-color: var(--primary);
  }


/* Section 1 */
  #section-1 {
    background-image: url("${static.url('images/landing.webp')}");
    background-size: cover;
    background-position: center;
    height: 80vh;
    justify-content: flex-end;
    padding-bottom: 100px;
  }
  #section-1 > img {
    width: 160px;
    margin-bottom: 1rem;
  }
  .home-page-1 {
    background-color: var(--secondary);
    border-radius: 10px;
    align-self: self-start;
    color: white;
    padding: 1rem;
    font-size: 2.5rem;
    width: 42%;
  }

  .home-page-1, .home-page-1 p, #section-1 > img {
    align-self: start;
    margin-left: 5%;
  }
  .home-page-1 p {
    margin-left: 1%;
  }
  .home-page-1 .smaller-text {
    font-size: 1.4rem;
    margin-top: 8px;
    color: var(--tertiary)
    font-style: italic;
  }
  .home-page-2 {
    margin-top: 4rem;
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  .home-page-2 .uppercase-bordeaux {
    background-color: var(--primary);
    padding: 0px 6px;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.5;
  }


/* Section 2 */
  #section-2 {
    margin: 4rem auto;
  }
  #illustration-section-2 {
    max-width: 600px;
    width: 55vw;
  }
  #center-container-text {
    width: 50%;
    padding: 3rem;
    color: black;
    line-height: 1.2;
  }
  #center-container-text p {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    color: var(--primary);
  }
  .decouverte-btn {
    background-color: var(--tertiary);
    margin: 2px 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: var(--secondary);
    font-size: 1.8rem;
    margin: 20px;
    box-shadow: rgba(0,0,0,0.2) 12px 10px 1px;
    transition: all 1s ease;

  }
  .btn-approf {
    background-color: var(--primary);
    color: white;
  }

  #center-container-text > a:hover {
    text-decoration: none !important;
  }
  .decouverte-btn:hover {
    box-shadow: none;
    transform: translateY(6px);    
  }


/* Section 3 */
  #section-3 {
    padding: 3rem 0;
  }
  #section-3-title {
    color: var(--primary);
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bold;
  }
  .vignette-section-3 {
    width: 26%;
    height: 500px;
    margin: 0 2rem;
    padding: 3rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url("${static.url('images/sticker_horloge.png')}");
    background-size: cover;
    background-position: center;
    background-color: #ffd2a963;
    transition: background-image 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;
    color: var(--primary);
    font-size: 1.4rem;
    border-radius: 10px;
  }

  .vignette-section-3:nth-child(2) {
    background-image: url("${static.url('images/sticker_loupe.png')}");
    
  }
  .vignette-section-3:nth-child(3) {
    background-image: url("${static.url('images/sticker_diplome.png')}");
  }
  .vignette-section-3 .texte-survol {
    display: none;
  }
  .vignette-section-3:hover .texte-normal {
    display: none;
  }
  .vignette-section-3:hover .texte-survol {
    display: block;
  }

  .vignette-section-3:nth-child(1):hover, .vignette-section-3:nth-child(2):hover {
    background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.868) 60%), url("${static.url('images/sticker_horloge.png')}");
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    cursor: pointer; 
    color: black;
  }
  .vignette-section-3:nth-child(2):hover {
    background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.868) 60%), url("${static.url('images/sticker_loupe.png')}");
  }
/*
  .vignette-section-3:nth-child(3):hover {
    background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.868) 60%), url("${static.url('images/sticker_diplome.png')}");
  }
*/

/* Section 4 */
  #section-4 {
    margin: 4rem auto 0;
  }
  .vignette-section-4 {
    background-color : var(--tertiary);
    color: var(--primary);
    width: 48%;
    padding: 3rem ;
    min-height: 1100px;
    border-radius: 0 20px 0 0;
    box-sizing: border-box;
    align-self: flex-end;
  }
  .vignette-section-4:nth-child(2) {
    background-color : var(--primary);
    color: white;
    border-radius: 20px 0 0 0;
  }
  .vignette-section-4 h1, .vignette-section-4 h2, .vignette-section-4 h3, .vignette-section-4 h4 {
    color: var(--primary);
    font-size: 2rem;
    font-weight: 400;
    align-self: flex-start;
  }
  #section-4 .vignette-section-4:nth-child(2) h1, #section-4 .vignette-section-4:nth-child(2) h2, #section-4 .vignette-section-4:nth-child(2) h3, #section-4 .vignette-section-4:nth-child(2) h4 {
    color: white;
  }

  .vignette-section-4 h1 {
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
  }
  .vignette-section-4 h2 {
    align-self: flex-start;
  }
  .vignette-section-4 h3 {
    font-size: 1.5rem;
    font-weight: bold;

  }
  .vignette-section-4 h4 {
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
  }
  .vignette-section-4 p {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .vignette-section-4 div {
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(0 , 0, 0, 0.05);
    text-transform: italic;
    border-radius: 10px;
  }
  #section-4 ul li {
    list-style: none;
    text-transform: none;
    font-weight: 600;
    padding-left: 3.5rem;
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  #section-4 ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.15em;
    width: 1em;
    height: 1em;
    background-image: url("${static.url('images/picto_play.png')}");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-4 ol li {
    font-weight: 500;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 9px;
    font-weight: bold;
  }

  .vignette-section-4 a {
    text-align: center;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 20px ;
    padding: 0.5rem 2rem;
    display: inline-block;
    max-width: 80%;
    border: 1px var(--secondary) solid;
    box-shadow: rgba(0,0,0,0.3) 12px 10px 1px;
    transition: all 1s ease;
  }
  .vignette-section-4 a:hover {
    text-decoration: none !important;
    box-shadow: none;
    transform: translateY(6px);
  }


  @media screen and (max-width: 800px) {

    #section-1 {
      justify-content: space-around;
    }
    .home-page-1 {
      width: 90%;
      font-size: 1.5rem;
    }
    .home-page-1 .smaller-text {
      font-size: 1.2rem;
    }
    .home-page-2 {
      font-size: 1.5rem;
      margin-top: 0rem;
    }
    #section-2 .horizontal-align, #section-3 .horizontal-align, #section-4 .horizontal-align {
      flex-direction: column;
    }
    #center-container-text, .vignette-section-4 {
      width: 80%;
      padding: 1rem;
    }
    .vignette-section-3 {
      margin: 1rem;
      width: 65%;
      padding: 4rem;
    }
    .vignette-section-4 {
      min-height: auto;
      margin-bottom: 2rem;
      border-radius: 50px 50px 0 0;
      padding: 2rem ;
      align-self: center;
      width: 90%;
    }
    .vignette-section-4:last-child {
      border-radius: 0 0 50px 50px;
    }
  }

</style>
<!-- STYLE  -->

<main id="main" aria-label="Content" tabindex="-1">

  <section id="section-1" class="vertical-align">
    
    <div class="vertical-align home-page-1">
      <p>Bienvenue sur le MOOC <br><strong style="color:var(--primary);" >Destination Conduite</strong></p>
      <p class="smaller-text" >Version 2026</p>
    </div>

    <div class="home-page-2 vertical-align space-between">
      <p >Le métier de <span class="uppercase-bordeaux">conductrice ou conducteur de train</span><br>vous intéresse ?</p>
    </div>

  </section>

  <section id="section-2" class="vertical-align">

    <div class="horizontal-align">

      <img src="${static.url('images/diapo.png')}" alt="diaporama commandes" id="illustration-section-2">

      <div id="center-container-text">
        <p>Que vous soyez candidat·e, en réflexion ou simplement curieux·se, deux formats vous sont désormais proposés pour découvrir nos métiers à votre rythme :</p>
        <a href="/register?course_id=course-v1%3Asncf-voyageurs%2BDM1%2B2026&enrollment_action=enroll" ><div class="decouverte-btn btn-flash" >  Commencer <br>la découverte métier <strong>flash</strong></div></a>
        <a href="/register?course_id=course-v1%3Asncf-voyageurs%2BDC2%2B2024&enrollment_action=enroll" ><div class="decouverte-btn btn-approf" >Commencer la découverte métier<br><strong>approfondie</strong></div></a>
      </div>

    </div>

  </section>

  <section id="section-3" class="vertical-align">

    <h2 id="section-3-title">Vous ne savez pas par où commencer ?</h2>
    <div class="horizontal-align">

      <div class="vignette-section-3">
        <div class="texte-normal">

          <p>Les métiers de la conduite vous intéressent et vous avez quelques minutes?</p>
          <p><strong>Le parcours découverte métier flash est fait pour vous.</strong></p>
        </div>
        <div class="texte-survol">
          <p>Dans ce module, vous pourrez préparer votre entretien.</p>
          <p><strong>Pendant 30/40 min, prenez place à bord de nos trains et suivez nos conducteurs - trices pour une découverte métier flash</strong></p>
        </div>
      </div>

      <div class="vignette-section-3">
        <div class="texte-normal">
          <p>Vous souhaitez aller plus loin et mieux comprendre l’univers de la conduite ?</p>
          <p><strong>Le parcours découverte métier approfondie est fait pour vous.</strong></p>

        </div>
        <div class="texte-survol">
          <p>Dans ce module, vous irez plus loin dans la découverte de nos métiers et vous pourrez donner une contenance à votre projet.</p>
        </div>
      </div>

      <div class="vignette-section-3">
        <p>Vous pouvez aussi <strong>commencer par le format découverte métier flash</strong>, puis prolonger l’expérience avec <strong>le parcours de découverte approfondi</strong>.</p>
      </div>

    </div>

  </section>

  <section id="section-4">
    
    <div class="horizontal-align space-between">

      <div class="vignette-section-4 vertical-align space-between">
        <h1>Je découvre un métier en quelques minutes</h1>
        <h2>découverte métier flash</h2>
        <h3>Un format rapide pour découvrir un métier précis</h3>
        <p>Vous avez désormais accès à un module de découverte métier flash.</p>
        <p>En quelques minutes, choisissez le métier qui vous intéresse et découvrez ses missions, son environnement et ses spécificités.</p>
        <p>Ce parcours est idéal pour vous faire une première idée avant d’aller plus loin dans votre projet.</p>

        <div>
          <h4>Vous aurez accès aux vidéos métier suivantes :</h4>
          <ul>
            <li>Conducteur·rice de train</li>
            <li>Conducteur·rice de manœuvre</li>
            <li>Conducteur·rice de tram-train</li>
          </ul>
        </div>
        
        <a class="btn register-btn" href="/register?course_id=course-v1%3Asncf-voyageurs%2BDM1%2B2026&enrollment_action=enroll">Commencer la découverte métier <span style="font-weight:900;">flash</span></a>
      </div>

      <div class="vignette-section-4 vertical-align space-between">
        <h1>Je pars dans la découverte métier approfondie</h1>
        <h2>MOOC découverte métier approfondie</h2>
        <h3>Une expérience complète pour explorer les métiers de la conduite</h3>
        <p>Vous voulez en savoir plus sur les métiers de la conduite ? Vous avez choisi le module parfait.</p>
        <p>Cette expérience s’adresse à tous les candidat·e·s et vous enseignera tout ce que vous devez savoir sur les métiers de la conduite des trains.</p>
        <p>Je vous propose de commencer ensemble l’expérience sans tarder.</p>

        <div>
          <h4>Vous aurez accès aux 5 séquences suivantes :</h4>
          <ol>
            <li>Intégrez SNCF et son écosystème</li>
            <li>Découvrez les métiers de la conduite</li>
            <li>Initiez-vous à la réglementation ferroviaire</li>
            <li>Devenez un professionnel de la conduite !</li>
            <li>Rejoignez le plus beau bureau de France !</li>
          </ol>
        </div>
        
        <a class="btn register-btn" href="/register?course_id=course-v1%3Asncf-voyageurs%2BDC2%2B2024&enrollment_action=enroll">Commencer la découverte métier <span style="font-weight:900;">approfondie</span></a>
      </div>

    </div>
  </section>

</main>


<%block name="js_extra">
  <script type="text/javascript">
    $(window).load(function() {
      if(getParameterByName('next')) {
        $('#login').trigger("click");
      }
    })
  </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif

