<%page args="course_overview, enrollment, show_courseware_link, cert_status, can_unenroll, credit_status, show_email_settings, course_mode_info, show_refund_option, is_paid_course, is_course_blocked, verification_status, course_requirements, dashboard_index, share_settings,social_url, related_programs, display_course_modes_on_dashboard" expression_filter="h"/>

<%!
import urllib
import time
import datetime
from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.core.urlresolvers import reverse
from course_modes.models import CourseMode
from course_modes.helpers import enrollment_mode_display
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_RESUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY,
  DISABLE_UNENROLL_CERT_STATES,
)
%>

<%
  reverify_link = reverse('verify_student_reverify')
  cert_name_short = course_overview.cert_name_short
  if cert_name_short == "":
    cert_name_short = settings.CERT_NAME_SHORT

  cert_name_long = course_overview.cert_name_long
  if cert_name_long == "":
    cert_name_long = settings.CERT_NAME_LONG
  billing_email = settings.PAYMENT_SUPPORT_EMAIL
%>

<%
org_static = static.get_value('domain_prefix')
%>

<%
cours_ouv = show_courseware_link and not is_course_blocked
%>


<%namespace name='static' file='../static_content.html'/>
<div id="title_dashboard_course">
  <h1>${course_overview.display_name_with_default}</h1>
</div>

%if cours_ouv:
<div id="course_nav">
  <a href="/courses/${enrollment.course_id}/courseware/" id="course_start"><img class="svg" src="${static.url(org_static+'/images/play_blanc.svg')}"/><span>${_('Start')}</span><span style="display:block;clear:left;width:0;height: 0;padding:0;margin:0;"></span></a>
  <a href="/courses/${enrollment.course_id}/discussion/forum/" class="course_nav"><img class="svg" src="${static.url(org_static+'/images/forum_blanc.svg')}"/><span>${_('forum')}</span></a>
  <a href="/courses/${enrollment.course_id}/about" class="course_nav"><img class="svg" src="${static.url(org_static+'/images/info_blanc.svg')}"/><span>${_('info')}</span></a>
  % if return_social is not None:
  <a href="${return_social['url']}" class="course_nav" target="_blank"><img class="svg" src="${static.url(org_static+'/images/'+return_social['type']+'.svg')}"/><span>${return_social['type']}</span></a>
  % else:
  <a href="/courses/${enrollment.course_id}/courseware/19ff273099ab49bb8636860fdf8bb36f/?tma_display_favorites=yes" class="course_nav"><img class="svg" src="${static.url(org_static+'/images/favori_blanc.svg')}"/><span>${_('Favoris')}</span></a>
  % endif
  % if multi_course_platform:
    <a href="/dashboard" class="course_nav"><img class="svg" src="${static.url(org_static+'/images/left-arrow.svg')}"/><span>${_('Retour')}</span></a>
  % endif
  <span style="clear:left;display:block;"></span>
</div>
<div id="course_dashboard_border"></div>
<div id="courses_cells">
</div>
<script>
$.ajax({
            type: "GET", //rest Type
            dataType: 'json', //mispelled
            url: "/courses/${enrollment.course_id}/courseware_api",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (chapter_list) {
                for (var i = 0; i < chapter_list.length; i++) {
                    $('#courses_cells').append("<div class='course_cell' style=''><div class='course_cells_title'><h2>"+chapter_list[i].display_name+"</h2></div><div class='course_cells_action'><a href='/courses/${enrollment.course_id}/courseware/"+chapter_list[i].url_name+"'>${_("Start")}</a></div></div>");
                }
             }
});
</script>
%else:

<div id="title_dashboard_course">
  <h1>Ouverture le : ${course_overview.start.strftime("%d %b %Y")}<br/>A très vite !</h1>
</div>


%endif

<script>
           $( document ).ready(function() {

               if("${is_course_blocked | n, dump_js_escaped_json}" == 'true'){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
</script>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized-datetime");
</%static:require_module_async>
