## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
import json
import pytz
from datetime import date, datetime, timedelta

from django.utils import timezone
from django.utils.translation import gettext as _
from django.utils.translation import ngettext

from lms.djangoapps.courseware.access import has_access
from openedx.core.djangolib.markup import HTML, Text
from openedx.features.course_experience import RELATIVE_DATES_FLAG
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
course_sections = blocks.get('children')
self_paced = context.get('self_paced', False)
relative_dates_flag_is_enabled = RELATIVE_DATES_FLAG.is_enabled(str(course_key))
is_course_staff = bool(user and course and has_access(user, 'staff', course, course.id))
dates_banner_displayed = False
%>

<%
file_path = '/edx/var/edxapp/media/microsites/axeptio/fichiers_json/course_overview.json'
with open(file_path, 'r') as file:
  data = json.load(file)

for key, value in data.items() :
  if key == str(course.id) :
    try:
        json_img_link = value["img_link"]
    except:
        json_img_link = ['']
%>

<style>
.section,.subsec{
    border: 1px solid black;
    margin: 0.5rem;
}
</style>



<div class="debug">
% if course_sections is not None:
% for primary_index, section in enumerate(course_sections):
    <div class="section">
    <% 
    p=section
    p['children']=[]
    %>
    <h2>section "${p['display_name']}</h2>
    ${p}
    %for subsec in section.get('children', []):
        <div class="subsec">
        <% 
        p=subsec
        p['children']=[]
        %>
        <h2>Subsec "${p['display_name']}</h2>
        ${p}
    %endfor
    </div>
%endfor
% endif
</div>

<main role="main" class="course-outline" id="main" tabindex="-1">
    <div style="display: flex; flex-wrap: wrap;">
    % if course_sections is not None:
        % for primary_index, section in enumerate(course_sections):
            
            <%
            section_is_auto_opened = section.get('resume_block') is True
            scored = 'scored' if section.get('scored', False) else ''
            total_blocks = 1
            completed_blocks = 0
            if not section.get('complete'):
                total_blocks = 0
                completed_blocks = 0
                for subsection in section.get('children', []):
                    for unitchild in subsection.get('children', []):
                        for blockchild in unitchild.get('children', []):
                            total_blocks += 1
                            if blockchild.get('complete'):
                                completed_blocks += 1
            if total_blocks == 0:
                completion_ratio = 0
            else:
                completion_ratio = completed_blocks / total_blocks
            completionstr = str(int(completion_ratio * 100))
            %>

            <div class="custom-section" id="${ section['id'] }" style="background-color:rgb(237, 171, 55);border: 1px solid black;margin: 1rem;">
                <h1>Section ${section['display_name']}</h1>
                
                <!-- Card -->
                <div class="card">
                    ###<%include file="course-item.html" args="imgsrc=json_img_link, imgalt='alt', num=primary_index+1, alink='google.com', atxt=section['display_name'], progress=completionstr" />
                </div>
                <!-- Card -->
                <!--chapters -->
                <div class="chapters" style="background-color:rgb(75, 148, 19);border: 1px solid black;margin: 1rem;" >
                    <p>CHAPTERS</p>
                    %for index, chapter in enumerate(user_grade.chapter_grades.keys()):
                        <div class="chapter" style="background-color:rgb(159, 153, 84);border: 1px solid black;margin: 1rem;">
                        <p> chapter ${index} "${user_grade.chapter_grades[chapter]['display_name']}"</p>
                        <p>chapter ${chapter} </p>
                        <p> ID : "${ section['id'] }"</p>
                        <a href="/courses/${course}/jump_to/${ section['id'] }"> link</a>
                        <p>course "${course}"</p>
                        <p>grade ${int(user_grade.chapter_percentage(chapter) * 100)}%</p>
                        %if section['display_name'] == user_grade.chapter_grades[chapter]['display_name']:
                            ${user_grade.chapter_percentage(chapter)}        
                                <h2 class="completed_percent"> ${int(user_grade.chapter_percentage(chapter) * 100)} %</h2>  
                        %endif
                        </div>
                    %endfor
                </div>
                <!--/chapters -->
                
                <!--subsections -->
                <div class="subsections" style="background-color:rgb(42, 121, 75);border: 1px solid black;margin: 1rem;" >
                    <div class="" id="${ section['id'] }_contents" aria-labelledby="${ section['id'] }">
                    % for subsection in section.get('children', []):
                        <!--subsection -->
                        
                        <div class="subsection" style="background-color:rgb(24, 96, 110);border: 1px solid black;margin: 1rem;" >
                        <a href="${ subsection['lms_web_url'] }" class="subsection-text outline-button horizontal-align" id="${ subsection['id'] }" > ${ subsection['display_name'] } </a>
                        <%
                        gated_subsection = subsection['id'] in gated_content
                        needs_prereqs = not gated_content[subsection['id']]['completed_prereqs'] if gated_subsection else False
                        scored = 'scored' if subsection.get('scored', False) else ''
                        graded = 'graded' if subsection.get('graded') else ''
                        num_graded_problems = subsection.get('num_graded_problems', 0)
                        scorm_scored = 0
                        scorms_score = user_grade.summary["section_breakdown"]
                        for scorm in scorms_score :
                            if scorm["detail"].find(subsection["display_name"]) != -1 :
                                scorm_scored = scorm["percent"]
                                continue
                        %>
                        % if subsection.get('resume_block'):
                            <p>current</p>
                        %endif
                        
                        %if subsection['complete'] or scorm_scored >= 0.7 :
                            <p>complete</p>
                        %endif
                        </div>
                        <!-- /subsection -->
                    % endfor
                    </div>
                    </div>
                    <!--subsections -->
            </div>
        % endfor
    % endif
</main>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>
