## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
from django.utils.translation import get_language_bidi
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import HTML
from openedx.features.course_experience import CourseHomeMessages
%>

<%
is_rtl = get_language_bidi()
%>

% if course_home_messages:
    % for message in course_home_messages:
        <div class="course-message">
            % if not is_rtl:
                <img class="message-author" alt="" src="${static.url(image_src)}"/>
            % endif
            <div class="message-content" aria-live="polite">
                ${HTML(message.message_html)}
            </div>
            % if is_rtl:
                <img class="message-author" alt="" src="${static.url(image_src)}"/>
            % endif
        </div>
    % endfor
% endif

<%static:webpack entry="CourseGoals">
    new CourseGoals({
        goalApiUrl: "${goal_api_url | n, js_escaped_string}",
        courseId: "${course_id | n, js_escaped_string}",
        username: "${username | n, js_escaped_string}",
    });
</%static:webpack>

<!-- quentin - 15882 - script to change string ocurencies in mail activation section text, when just created an account -->

<script>
    // console.log('------const element1 : '+element1);
    // console.log('------const element1 : '+typeof element1);
    // console.log('------const element2 : '+element2);
    // console.log('------variable modifiedPhrase1 : '+modifiedPhrase1);

    setTimeout(() => {

        if (document.querySelector('.message-content') != null) {
            const element1 = document.querySelector('.message-content').childNodes[1]
            const element2 = document.querySelector('.message-content').childNodes[2]

            let modifiedPhrase1 = element1.textContent.replace('Bievenue','Bienvenue')
            let modifiedPhrase2 = element2.textContent.replace('acitivation','activation')

            if (element1 != null && element1.textContent.includes('Bievenue')) {
                element1.innerText = modifiedPhrase1
                // console.log("bienvenue 👌🏻");
                element2.innerText = modifiedPhrase2
                // console.log("activation 👌🏻");
                // console.log("an occurence have been found for 'Bievenue', so it have been replaced with 'Bienvenue' and 'acitivation' to 'activation' as well 👌🏻")
            }
            else if (element1 != null && !element1.textContent.includes('Bievenue')){
                // console.log("none occurence 'Bievenue' have been found in message-content class 🤷🏻‍♂️")
            }
            else{
                // console.log("the element of the class '.message-content' might be inexistant 🤷🏻‍♂️")
                null
            }
        }
        else{
            null
            console.log('nothing to change');
        }
    }, 400)

</script>