## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json
import six

from django.conf import settings
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.urls import reverse

from lms.djangoapps.discussion.django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import Text, HTML
from openedx.features.course_experience import DISABLE_UNIFIED_COURSE_TAB_FLAG, SHOW_REVIEWS_TOOL_FLAG
from openedx.features.course_experience.course_tools import HttpMethod

from lms.djangoapps.grades.course_grade import ZeroCourseGrade

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%block name="header_extras">
<link rel="stylesheet" type="text/css" href="${static.url('paragon/static/paragon.min.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('weup/css/animate-4.1.1.min.css')}" />

<style>

    .global-header .header-logo .course-header, a.help-link, a.subsection-text div.details,a.subsection-text span.icon.fa.fa-pencil-square-o, .wrapper-preview-menu .view-in-studio, .wrapper-preview-menu a.btn.btn-primary, #expand-collapse-outline-all-button {
        display:none !important;
    }

    .window-wrap {
        background-color: #EBF4FC !important;
    }
    /* message */
    .course-message .message-content .message-header{
        color: var(--secondary) !important;
    }
    .course-message .message-content{
        border: 1px solid var(--secondary) !important;
    }


    /* general */
    .page-content-container{
        border:none !important;
    }
    .global-header.global-header{
        background: white !important; 
    }

    button:focus {
        outline: none !important;
    }
    .page-content {
        padding: 20px 70px;
        flex-direction: column;
        min-height: calc( 100vh - 135px );
        position: relative;
        background-color: #EBF4FC;
    }
    #motif-bckg-1 , #motif-bckg-2 {
        position: absolute;
        width: 25vw;
        height: 25vw;
        z-index: 1;
        top: 20%;
        left: -22%;
        max-height: 340px;
    }
    #motif-bckg-2 {
        top: 70%;
        left: 82%;
    }
    #main {
    	animation: fadeInLeft;
        animation-duration: 0.5s;
    }
    .horizontal-align {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start !important;
        width: 100%;
    }

    /* Title */
    .grade-section-title-main {
        width: 70%;
        padding: 20px 5% 60px 0;
        color: var(--primary);
        text-transform: uppercase;
        font-size: larger;
        font-weight: bold;
        position: relative;
    }
    #spacer-title {
        display: inline-block;
        height: 10px;
        width: 30%;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
        position: absolute;
        bottom: 30px;
        left: -70px;
        background-color: var(--primary);
    }


    /* Section */
    #chapter-divison {
        border: #343a40 2px solid;
        background-color: var(--primary);
        box-shadow: 4px 8px 4px rgba(0,0,97,0.6);
        padding: 25px 50px;
        z-index: 2;
        position: relative;
    }
    #chapter-divison > .horizontal-align {
        justify-content: space-between;
    }
    .chapter-title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin: 0 ;
    }
    .outline-item {
        margin-bottom: 20px !important;
        border-bottom: none !important;
    }
    #picto-bckg-section > img:first-child {
        width: 150px !important;
    }
    #picto-bckg-section {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 95px;
    }
    #picto-bckg-index {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75px;
        height: 75px;
    }
    .grade-block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        margin-left: 25px;
        flex-grow: 1;
        z-index: 10;
        padding: 0 20px;
        height: 95px;
    }
    a.grade-block:hover {
        text-decoration: none;
    }
    .index-section {
        background-color: #AF7C01;
        color: white;
        padding: 5px 10px;
        margin-right: 15px;
        font-weight: bold;
    }

    /* Jauge */
    .progress-bar-full {
        width: 88%;
        background-color: var(--primary);
        position: relative;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        height: 20px;
        overflow: hidden;
    }
    .progress-bar-grade {
        background-color: white;
        position: absolute;
        height: 50%;
        top: 5px;
        left: 10px;
        border-radius: 2px;
        animation: fadeInLeft;
        animation-duration: 1.5s;
    }
    .grade-value {
        font-size: large;
        color: var(--primary);
        margin: 0 0 0 30px;
    }


    @media screen and (max-width: 1100px) {
        #picto-bckg-section {
            display: none;
        }
        .grade-block {
            margin-left: unset;
        }
    }
    @media screen and (max-width: 680px) {
        .chapter-title {
            font-size: medium;
        }
        .course-outline .block-tree .section {
            margin: 0;
        }
        .page-content {
            padding: 20px 20px ;
        }
        .progress-bar-full {
            width: 82%;
        }

    }
    @media screen and (max-width: 425px) {
        #chapter-divison {
            padding: 15px;
        }
        .chapter-title {
            font-size: small;
        }

    }

</style>


<script>
    document.title = "Cours | ${HTML(course.display_name_with_default)}";
</script>

</%block>


<%block name="content">
<div class="course-view page-content-container" id="course-container">
    <div class="page-content">

        <img id="motif-bckg-1" src="${static.url('arif/images/motif.svg')}" alt="motif-1">
        <img id="motif-bckg-2" src="${static.url('arif/images/motif.svg')}" alt="motif-1">


        <div class="grade-section-title-main">
            <div style="text-transform: uppercase;">${course.display_name_with_default}</div>
            <span id="spacer-title"></span>
        </div>

        % if outline_fragment:
            ${HTML(outline_fragment.body_html())}
        % endif

    </div>
</div>


</%block>

<%static:webpack entry="CourseHome">
    new CourseHome({
        courseRunKey: "${course_key | n, js_escaped_string}",
        resumeCourseLink: ".action-resume-course",
        courseToolLink: ".course-tool-link",
        goalApiUrl: "${goal_api_url | n, js_escaped_string}",
        username: "${username | n, js_escaped_string}",
        courseId: "${course.id | n, js_escaped_string}",
    });
</%static:webpack>

<%static:webpack entry="Enrollment">
    new CourseEnrollment('.enroll-btn', '${course_key | n, js_escaped_string}');
</%static:webpack>

<%static:require_module_async module_name="js/commerce/track_ecommerce_events" class_name="TrackECommerceEvents">

  var personalizedLearnerSchedulesLink = $(".personalized_learner_schedules_button");
  var fbeLink = $("#FBE_banner");
  var welcomeLink = $("#welcome");
  var sockLink = $("#sock");
  var upgradeDateLink = $("#course_home_dates");
  var GreenUpgradeLink = $("#green_upgrade");
  var courseToolsUpgradeLink = $(document.querySelectorAll("[data-analytics-id='edx.tool.verified_upgrade']"));
  var GreenUpgradeLink = $("#green_upgrade");
  var certificateUpsellLink = $("#certificate_upsell");

    TrackECommerceEvents.trackUpsellClick(personalizedLearnerSchedulesLink, 'course_home_upgrade_shift_dates', {
      pageName: "course_home",
      linkType: "button",
      linkCategory: "personalized_learner_schedules"
    });

    TrackECommerceEvents.trackUpsellClick(fbeLink, 'course_home_audit_access_expires', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "FBE_banner"
    });

    TrackECommerceEvents.trackUpsellClick(welcomeLink, 'course_home_welcome', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "welcome"
    });

    TrackECommerceEvents.trackUpsellClick(sockLink, 'course_home_sock', {
      pageName: "course_home",
      linkType: "button",
      linkCategory: "green_upgrade"
    });

    TrackECommerceEvents.trackUpsellClick(upgradeDateLink, 'course_home_dates', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "(none)"
    });

    TrackECommerceEvents.trackUpsellClick(GreenUpgradeLink, 'course_home_green', {
      pageName: "course_home",
      linkType: "button",
      linkCategory: "green_upgrade"
    });

    TrackECommerceEvents.trackUpsellClick(courseToolsUpgradeLink, 'course_home_course_tools', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "(none)"
    });

    TrackECommerceEvents.trackUpsellClick(certificateUpsellLink, 'course_home_certificate', {
        pageName: "course_home",
        linkType: "link",
        linkCategory: "(none)"
      });

</%static:require_module_async> 
