<%page args="imgsrc, imgalt, num, alink, atxt, progress,isscored, colorlead,colorbg"/>

<%namespace name='static' file='../static_content.html'/>

<%
##imgagesource = "axeptio/images/modules/" + str(num) + ".png"
imgagesource = str("/static/axeptio/images/modules/" + str(num) + ".png")
%>

    <div class="c-item-wrapper">
        ###%if (num<15):
        <span class="c-item-number" style="border: 6px ${colorlead} solid;">${num}</span>
        ###%endif
        <div class="c-item">
            <div class="c-item-img-container" style="background-color:${colorbg}">
                <img src="${imgagesource}" alt="${imgalt}" />
            </div>
            %if (isscored==True):
            <div class="colorbar">
                <span class="colorbar-fill" style="background-color: ${colorlead};">
                </span>
                <span class='colorbar-progress-tag'>${progress}%</span>
            </div>
            %endif
            <div class="c-item-a-container">
                <a href="${alink}"><span>${atxt}</span><span>></span></a>

            </div>
        </div>
    </div>




<style>


    .c-item-number {
        font-family: "Source Serif 4",serif !important;
        color: black;
        font-size: 2.5em;
        font-weight: 700;
        top: 25px;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        background-color: white;
        border-radius: 100%;
        padding: 5px;
        max-width: 2em;
        max-height: 2em;
        height: 1.5em;
        width: 1.5em;

    }

    .c-item {
        display: flex;
        justify-content: end;
        flex-direction: column;
        max-width: 305px;
        max-height: 290px;
        border-radius: 2%;
        width: 305px;
        height: 290px;


        background-color: #e6eeff;
        color: ffffff;
    }



    .c-item img {
        max-width: 200px;
        max-height: 200px;
    }


    .c-item a {
        text-decoration: none;
        font-weight: 500;
        padding: 1rem;
    }

    .colorbar {
        display: flex;
        background-color: black;
        width: 100%;
        height: 1rem;
        flex-direction: row;
        align-items: center;
    }

    .colorbar-fill {
        width: ${progress}%;
        display: block;
        height: 1.1rem;
    }

    .c-item-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    .c-item-a-container {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .c-item-a-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-decoration: none;
        width: 100%

    }


    .c-item-a-container a span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25;
        font-weight: 800;
        width: 100%

    }
        .c-item-a-container a span:last-child {
        width: 5%;
        max-width: 5%;
        font-size: 40px;
    }

    .colorbar-progress-tag {
    box-shadow: -0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 2.5em;
    max-width: 3em;
    height: auto;
    max-height: 3em;
    display: block;
    text-align: center;
    left: -20px;
    bottom: 25px;
    position: relative;
    color: black;
    font-weight: 200;
    border-radius: 25%;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 3px;
    }
</style>