## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
import json
import pytz
import string
import re
from datetime import date, datetime, timedelta

from django.utils import timezone
from django.utils.translation import gettext as _
from django.utils.translation import ngettext

from lms.djangoapps.courseware.access import has_access
from openedx.core.djangolib.markup import HTML, Text
from openedx.features.course_experience import RELATIVE_DATES_FLAG

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
import logging
%>

<%
course_sections = blocks.get('children')
self_paced = context.get('self_paced', False)
relative_dates_flag_is_enabled = RELATIVE_DATES_FLAG.is_enabled(str(course_key))
is_course_staff = bool(user and course and has_access(user, 'staff', course, course.id))
dates_banner_displayed = False
%>

<%
log = logging.getLogger(__name__)
%>

<!-- 17147 - quentin - cleaning the sections name text -->
<%def cleaningText(text):
    translator = str.maketrans(" ", "_", string.punctuation)
    text = text.translate(translator)

    accents = {
        'é': 'e',
        'è': 'e',
        'ê': 'e',
        'à': 'a',
        'ù': 'u',
        'ç': 'c'
    }
    translator = str.maketrans(accents)
    text = text.translate(translator)

    text = text.lower()
    return text
%>

<style>
    li.outline-item.section{
        border-bottom: none !important;
        /* border-radius: .4rem !important; */
        border-radius: 3rem !important;
        transition: .15s;
        display: flex;
        margin: 3rem 0rem !important;
        position: relative;
        /* justify-content: space-around; */
        flex-direction: column;
        box-shadow: none !important;
    }
    li.outline-item.section:active{
        transform: scale(.99);
    }
    li.outline-item:hover {
        /* transform: scale(1.03) rotate(1deg); */
        transform: scale(1.04) rotate(0.7deg);
    }
    .page-header{
        border-bottom: none !important;
        border-radius: .7rem;
        height: 16rem;
        background: url("${static.url('grand-reims/images/assets/asset1.svg')}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#course-container{
        background: none;
    }
    main#main{
        background: none;
        display: flex;
        justify-content: center;
    }
    ol#course-outline-block-tree{
        background: none;
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    button{
        border-radius: .4rem !important;
        transition: .15s !important;
    }
    button.outline-button{
        padding: 0 !important;
		background-color: unset !important;
		margin-top: 0 !important;
    }
    button.outline-button:hover{
        filter: brightness(0.93);
    }
    button.outline-button:active{
        filter: brightness(0.93);
        transform: scale(.995);
    }
    div.page-content{
        flex-direction: column;
    }
    div.page-content-main{
        min-width: unset !important;
        max-width: unset !important;
    }
    aside.page-content-secondary.course-sidebar{
        display: none;
    }
    .imgCourseSection{
        width: 13rem;
        position: absolute;
        top: -2rem;
        left: -6rem;
        z-index: 1;
    }
    .course-outline .block-tree .section .section-name .section-title{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    .courseSectionContent{
        clip-path: polygon(3% 2%, 70% 0%, 99% 12%, 100% 50%, 98% 94%, 48% 100%, 2% 93%, 0% 30%);
        padding: 3rem 2rem;
        z-index: 0;
        padding-left: 7rem;
    }
    a.linkToCourseSection{
        color: white;
        display: flex;
        margin-left: 7.8%;
        padding: 1rem 0rem;
    }
    a.linkToCourseSection:hover{
        color: white;
        text-decoration-thickness: .15rem;
    }
    .progressCourseSection{
        display: flex;
        place-content: space-evenly;
        color: white;
        align-items: center;
    }
    .progressCourseSection-bar{
        width: 60%;
        background: white;
        border-radius: 2rem;
        height: 1rem;
        display: flex;
    }
    .progressCourseSection-progressBars{
        width: 50%;
        background: black;
        height: .5rem;
        border-radius: 1rem;
        align-self: center;
        margin-left: .4rem;
        margin-right: .4rem;
    }
    h2.progressCourseSection-text{
        margin: 0;
    }
    .section-name.accordion-trigger.outline-button{
        padding-left: .3rem !important;
    }
    button.btn.btn-outline-primary.search-button{
        border: .19rem solid #5c5c5c;
        border-radius: .7rem !important;
        margin-left: 1rem;
    }
    .course-outline .block-tree .section .section-name .section-title{
        padding-left: unset;
    }

    /* set the colors of the sections and progress bar, according to variable 'sectionCount' in the for loop below */
    .courseSectionBkg0, .progressCourseSection-progressBar0{
        background: #21ad73;
    }
    .courseSectionBkg1{
        background: #E24729;
    }
    .courseSectionBkg2{
        background: #174685;
    }
    .courseSectionBkg3, .progressCourseSection-progressBar3{
        background: #663224;
    }
    .courseSectionBkg4, .progressCourseSection-progressBar1{
        background: #F19000;
    }
    .courseSectionBkg5, .progressCourseSection-progressBar2{
        background: #59C4C6;
    }
    .progressCourseSection-progressBar4{
        background: #FECC3E;
    }
    .progressCourseSection-progressBar5{
        background: #CEF6FF;
    }
    
    /* specific rules for photos in sections */
    .imgCourseSection1{
        top: -6rem;
    }
    .imgCourseSection2{
        top: -0.5rem;
    }
    .imgCourseSection3{
        width: 17rem;
        top: -3.5rem;
        left: -10rem;
    }
    .imgCourseSection4{

    }
    .imgCourseSection5{

    }
    .imgCourseSection0{

    }

    /* media queries */
    @media screen and (max-width: 1100px) {
        ol#course-outline-block-tree{
            width: 70%;
        }
    }
    @media screen and (max-width: 800px) {
        li.outline-item:hover {
            transform: scale(1) rotate(0deg);
        }
    }

    @media screen and (max-width: 600px) {
        ol#course-outline-block-tree{
            width: 100%;
        }
        .imgCourseSection{
            display: none;
        }
        .courseSectionContent{
            padding-left: 2rem;
        }
    }
    @media screen and (max-width: 500px) {
        .page-header{
            border-radius: 0;
        }
        h3.section-title{
            font-size: 1.4rem !important;
        }
    }
</style>

<main role="main" class="course-outline" id="main" tabindex="-1">
    <%include file="/dates_banner.html" />
    % if course_sections is not None:
        <button class="btn btn-primary"
                id="expand-collapse-outline-all-button"
                aria-expanded="false"
                aria-controls="course-outline-block-tree"
                >
          <span class="expand-collapse-outline-all-extra-padding" id="expand-collapse-outline-all-span">${_("Expand All")}</span>
        </button>
        <ol class="block-tree accordion"
            id="course-outline-block-tree"
            aria-labelledby="expand-collapse-outline-all-button">
        % for sectionCount, section in enumerate(course_sections):
            <%
            section_is_auto_opened = section.get('resume_block') is True
            scored = 'scored' if section.get('scored', False) else ''
            %>
                <li class="outline-item section ${scored} courseSection${sectionCount}">
                    <img src="${static.url('grand-reims/images/assets/' + cleaningText(section['display_name']) + '.png')}" alt="" class="imgCourseSection imgCourseSection${sectionCount}">
                    <div class="courseSectionContent courseSectionBkg${sectionCount}">
                    <a class="linkToCourseSection" href="${ section['lms_web_url'] }">
                        <button class="section-name accordion-trigger outline-button"
                                aria-expanded="${ 'true' if section_is_auto_opened else 'false' }"
                                aria-controls="${ section['id'] }_contents"
                                id="${ section['id'] }">
                            <!-- <span class="fa fa-chevron-right ${ 'fa-rotate-90' if section_is_auto_opened else '' }" aria-hidden="true"></span> -->
                            <h3 class="section-title">${ section['display_name'] }</h3>
                % if section.get('complete'):
                                <span class="complete-checkmark fa fa-check" aria-hidden="true"></span>
                                <span class="sr">${_("Completed")}</span>
                % endif
                        </button>
                    </a>

                %if configuration_helpers.get_value('COMPLETION_BASED_DASHBOARD_MONO', False):

                    <%
                    total_blocks = 1
                    completed_blocks = 1

                    if not section.get('complete'):
                        total_blocks = 0
                        completed_blocks = 0
                        for subsection in section.get('children', []):
                            for unitchild in subsection.get('children', []):
                                for blockchild in unitchild.get('children', []):
                                    total_blocks += 1
                                    if blockchild.get('complete'):
                                        completed_blocks += 1
                    if total_blocks == 0:
                        pass
                    else:
                        completion_ratio = completed_blocks / total_blocks
                    %>
                
                    <div class="progressCourseSection">
                        <div class="progressCourseSection-bar">
                            <div style="width:${(completion_ratio * 100)}%;" class="progressCourseSection-progressBars progressCourseSection-progressBar${sectionCount}"></div>
                        </div>
                        <h2 class="progressCourseSection-text">${int(completion_ratio * 100)} %</h2>
                    </div>

                %else:

                    <div class="progressCourseSection">
                        <div class="progressCourseSection-bar">
                            <div class="progressCourseSection-progressBars progressCourseSection-progressBar${sectionCount}"></div>
                        </div>
                        <h2 class="progressCourseSection-text">50%</h2>
                    </div>
            
                %endif

                    <!-- <ol class="outline-item accordion-panel ${ '' if section_is_auto_opened else 'is-hidden' }"
                        id="${ section['id'] }_contents"
                        aria-labelledby="${ section['id'] }"> -->
            % for subsection in section.get('children', []):
                <%
                gated_subsection = subsection['id'] in gated_content
                needs_prereqs = not gated_content[subsection['id']]['completed_prereqs'] if gated_subsection else False
                scored = 'scored' if subsection.get('scored', False) else ''
                graded = 'graded' if subsection.get('graded') else ''
                num_graded_problems = subsection.get('num_graded_problems', 0)
                %>
                        <!-- <li class="subsection accordion ${ 'current' if subsection.get('resume_block') else '' } ${graded} ${scored}">
                            <a
                            % if enable_links:
                                href="${ subsection['lms_web_url'] }"
                            % else:
                                aria-disabled="true"
                            % endif
                                class="subsection-text outline-button"
                                id="${ subsection['id'] }"
                            > -->
                            % if graded and scored and 'special_exam_info' not in subsection:
                                      <!-- <span class="icon fa fa-pencil-square-o" aria-hidden="true"></span> -->
                            % endif
                                      <!-- <h4 class="subsection-title"> -->
                            % if num_graded_problems:
<!--
                                          ${ngettext("({number} Question)",
                                                     "({number} Questions)",
                                                     num_graded_problems).format(number=num_graded_problems)}
-->
                            % endif
                                      </h4>

                            % if subsection.get('complete'):
                                <!-- <span class="complete-checkmark fa fa-check" aria-hidden="true"></span>
                                <span class="sr">${_("Completed")}</span> -->

                            % endif
                            % if needs_prereqs:
                                    <div class="details prerequisite">
                                        <span class="prerequisites-icon icon fa fa-lock" aria-hidden="true"></span>
                                        ${ _("Prerequisite: ") }
                                            <%
                                                prerequisite_id = gated_content[subsection['id']]['prerequisite']
                                                prerequisite_name = xblock_display_names.get(prerequisite_id)
                                            %>
                                            ${ prerequisite_name }
                                    </div>
                            % endif
                                        <!-- <div class="details"> -->

                ## There are behavior differences between rendering of subsections which have
                ## exams (timed, graded, etc) and those that do not.
                ##
                ## Exam subsections expose exam status message field as well as a status icon
                <%
                if subsection.get('due') is None or (self_paced and not in_edx_when):
                    # examples: Homework, Lab, etc.
                    data_string = subsection.get('format')
                    data_datetime = ""
                else:
                    if 'special_exam_info' in subsection:
                        data_string = _('due {date}')
                    else:
                        data_string = _("{subsection_format} due {{date}}").format(subsection_format=subsection.get('format'))
                    data_datetime = subsection.get('due')
                %>
                % if subsection.get('format') or 'special_exam_info' in subsection:
                                            <!-- <span class="subtitle"> -->
                    % if 'special_exam_info' in subsection:
                                                    ## Display the exam status icon and status message
                                                    <!-- <span
                                                        class="menu-icon icon fa ${subsection['special_exam_info'].get('suggested_icon', 'fa-pencil-square-o')} ${subsection['special_exam_info'].get('status', 'eligible')}"
                                                        aria-hidden="true"
                                                    ></span>
                                                    <span class="subtitle-name">
                                                        ${subsection['special_exam_info'].get('short_description', '')}
                                                    </span> -->

                        ## completed exam statuses should not show the due date
                        ## since the exam has already been submitted by the user
                        % if not subsection['special_exam_info'].get('in_completed_state', False):
                                                        <!-- <span
                                                            class="localized-datetime subtitle-name"
                                                            data-datetime="${data_datetime}"
                                                            data-string="${data_string}"
                                                            data-timezone="${user_timezone}"
                                                            data-language="${user_language}"
                                                        ></span> -->
                        % endif
                    % else:
                                                    ## non-graded section, we just show the exam format and the due date
                                                    ## this is the standard case in edx-platform
                                                    <!-- <span
                                                        class="localized-datetime subtitle-name"
                                                        data-datetime="${data_datetime}"
                                                        data-string="${data_string}"
                                                        data-timezone="${user_timezone}"
                                                        data-language="${user_language}"
                                                    ></span> -->

                        % if subsection.get('graded'):
                                                <!-- <span class="sr">&nbsp;${_("This content is graded")}</span> -->
                        % endif
                    % endif
                                            <!-- </span> -->
                % endif
                                        <!-- </div> /details -->
                            </a>
                        <!-- </li> -->
            % endfor
                    <!-- </ol> -->
                    </div>
                </li>
        % endfor
        </ol>
    % endif
</main>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>
