/* import variable */
@import "variable";

#contenair {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #F8F8F8;
}
.section_block {
  width: 100%;
  height: auto;
  background-color: #F8F8F8;
  display:block;
  padding-bottom: 50px;
}
#header {
  width: 100%;
  font-family: 'custom_font';
  text-align: center;
  height: auto;
  min-height: 60px;
  /* primary color */
  background-color: tma_primary_color;
}
#header h1,#header p {
  width: 100%;
  color: #fff;
}
#header h1 {
  text-transform: uppercase;
  font-size: 38px;
  line-height: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin: 0;
}
#header p {
  font-size: 20px;
  line-height:26px;
  padding-top: 43px;
  padding-bottom: 5px;
}
#dashboard {
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
}
#table_info,#table_stat {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  height: auto;
  min-height: 20px;
}
#table_info {
  width: calc((100% / 3) - 62px);
  background-color: #fff;
  padding-top: 0;
  margin-top: 40px;
  padding-bottom: 40px;
}
#table_stat {
  width: calc(((100% / 3) * 2) - 60px);
}
.dashboard h2 {
  width: calc(100% - 40px);
  height: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: 'custom_font';
  line-height: 30px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  /* primary color */
  background-color: tma_primary_color;
}

#table_info p {
  margin-top: 45px;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  font-size: 18px;
  font-family: 'custom_font';
  /* primary color */
  color: tma_primary_color;
}
#table_info span {
  color: #cf9c49;
  font-weight: bold;
}
#cellule_stat {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.cellule_stat {
  float: left;
  margin: 10px;
  margin-left: 14px;
  margin-right: 14px;
  width: calc((100% / 4) - 20px);
  height: 198.33px;
  background-color: #fff;
}
#cellule_stat_first {
  margin-left: 0;
  margin-right: 11.5px;
}
#cellule_stat_last {
  margin-right: 0;
  margin-left: 11.5px;
}
.cellule_stat p:first-child {
  text-align: center;
  font-weight: bold;
  font-family: 'custom_font';
  font-size: 20px;
  line-height: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  /* primary color */
  color: tma_primary_color;
}
.cellule_stat p:last-child {
  text-align: center;
  font-weight: bold;
  font-family: 'custom_font';
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  /* primary color */
  color: tma_primary_color;
}
.cellule_stat img {
  height: 108.3px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
#title {
  width:100%;
  height: 108px;
  padding-top: 10px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 33px;
  padding: 0;
  font-family: 'custom_font';
  text-transform: uppercase;
  font-weight: bold;
}
#result {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
#cell_result {
  margin-top: 55px;
  width: 100%;
  height: auto;
}
.cell_result {
  width:calc((100% / 2) - 30px);
  height: auto;
  float: left;
  background-color: #fff;
}
#cell_result_first {
  margin-right:30px;
}
#cell_result_last {
  margin-left:30px;
}
.cell_result p {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'custom_font';
}
.cell_result p:first-child {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* primary color */
  color: tma_primary_color;
}
.cell_result p:last-child {
  margin-top:50px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 20px;
  /* primary color */
  color: tma_primary_color;
}
#num_result_on {
  color: #cf9c49;
}
#score_title {
  clear: left;
  width: calc(100% - 100px);
  height: auto;
  padding: 50px;
  padding-bottom: 0;
  padding-top: 0;
}
#score_title h2 {
  width: calc(100% - 40px);
  height: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: 'custom_font';
  line-height: 30px;
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  /* primary color */
  background-color: tma_primary_color;
}
/* block score question */
#block_stat_question {
  width: calc(100% - 100px);
  height: auto;
  margin: 50px;
  margin-bottom: 0;
}
#nav_block_stat_question {
  width:calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
}
#nav_block_stat_question button {
  width: 230px;
  height: 55px;
  line-height: 55px;
  vertical-align: middle;
  text-align: center;
  font-family: 'custom_font';
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  outline : none;
  /* primary color */
  color: tma_primary_hover_color;
  border:1px solid #c8c8c8;
  border-bottom: none;
  display:block;
  float:left;
}
#nav_block_stat_question button:nth-last-child(2n) {
  margin-left: 0;
  background-color: #fff;
  opacity: 0.5;
  padding-left: 0;
  padding-right: 0;
}
#body_block_stat_question {
  width: calc(100% - 40px);
  padding: 20px;
  padding-top: 0;
  background-color: #F8F8F8;
}
#nav_participant {
  width: 100%;
  height: auto;
  text-align: right;
}
#form_participant {
  display: inline-block;
  height: auto;
  position: relative;
}
#list_participant {
  display: none;
  position: absolute;
  left: 0;
  z-index: 3;
  width: 228px;
  height: auto;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-top: none;
}
#list_participant span {
  display:block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #c6c6c6;
  width: calc(100% - 20px);
  height: auto;
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
  font-family: 'custom_font';
  /* primary color */
  color: tma_primary_color;
}
#list_participant span:hover {
  /* primary color */
  border-bottom-color: tma_primary_color;
}
#list_participant span:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
#name_participant {
  width: 230px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  border-right: none;
  display:block;
  float: left;
  font-family: 'custom_font';
  /* primary color */
  color: tma_primary_color;
}
#name_participant:focus {
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 3px 0 rgba(0,0,0,0.1);
}
#participant_search {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  display:block;
  float: left;
  outline : none;
  /* primary color */
  background-color: tma_primary_color;
}
#block_participant {
  display: none;
}
.user_grade_cell {
  width: 271px;
  height: auto;
  margin: 25px;
  border: 2px solid #c6c6c6;
  float:left;
  text-align: center;
  margin-left: 23px;
  margin-right: 23px;
}
.user_grade_cell h4 {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-family:'Arial';
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* primary color */
  color: tma_primary_color;
}
.user_grade_cell p {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family:'Arial';
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* primary color */
  color: tma_primary_color;
}
.user_grade_cell img{
  width: 153px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#content_participant {
  margin-top: 20px;
  height: auto;
  width: 100%;
}
.chapter_box,.section_box,.vertical_box {
  width: 100%;
  height: auto;
}
.section_box,.vertical_box {
  width:calc(100% - 10px);
  margin-left: 10px;
}
.chapter_box h3,.section_box h4,.vertical_box h5 {
  width: calc(100% - 20px);
  position: relative;
  line-height: 18px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-shadow: none;
  font-family:'custom_font';
  font-weight: bold;
  text-transform: uppercase;
  color: tma_primary_color;
  cursor: pointer;
  /* secondary color */
  background-color: #fff;
}
.chapter_box h3 {
  padding-left:15px;
  padding-right:15px;
  margin: 0;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  width: calc(100% - 80px);
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.chapter_box {
  width:calc(100% - 2px);
  border: 1px solid  #c8c8c8;
  background-color:#fff;
  margin-bottom: 15px;
}
.section_box,.vertical_box {
  display: none;
}
.vertical_name {
  font-family:'custom_font';
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  /* primary color */
  background-color: tma_primary_color;
}
.section_box .user_grade_cell h6 {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-family:'Arial';
  font-weight: bold;
  text-align: center;
  /* primary color */
  color: tma_primary_color;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
/* voile loader */
#block_average {
  position: relative;
}
#voile {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255,255,255,0.3);
}
#loader {
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}
#inside_user_content {
  display: none;
}
.chart_fail,.chart_success {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: 'custom_font';
  text-transform: uppercase;
}
.chart_success {
  color: #96C100;
  float: left;
}
.chart_fail {
  color: #CB5744;
  float:right;
}

#nav_block_stat_question {
  width: calc(100% - 40px);
}

.section_box {
  width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
}
.section_box h4 {
  width:calc(100% - 20px);
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}
.section_box .user_grade_cell h6 {
  font-size: 18px;
}
.problem_box {
  display:none;
}
.bart_chat {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-color: #CB5744;
  position: relative;
}
.success_chart_bart {
  background-color: #96C100;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.score_line {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.user_grade_cell {
  margin-left: 13px;
  margin-right: 13px;
}
.vertical_name {
  font-size: 15px;
  /* secondary color */
  background-color: tma_primary_hover_color;
}
.user_grade_cell {
  /* secondary color */
  border-color: tma_primary_hover_color;
}
.problem_box li {
  position: relative;
  /* primary color */
  color: tma_primary_color;
  margin-top: 5px;
  margin-bottom: 5px;
}
.problem_box li .unrated_unit_span {
  color: #cb5744;
  font-style: italic;
}
.problem_box ul {
  list-style:none;
}
.problem_box li .puce_li{
  position: absolute;
  top: 50%;
  left: -16px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin-top: -3px;
  /* secondary color */
  background-color: tma_primary_hover_color;
}
#form_participant {
  display:block;
  padding-top: 50px;
  padding-bottom: 50px;
}
#nav_participant {
  background-color: #fff;
  width:calc(100% - 42px);
  padding-left: 40px;
  border: 1px solid #C8C8C8;
}
#name_participant {
  width: 330px;
  height: 45px;
  line-height:45px;
}
#participant_search {
  width:45px;
  height:45px;
  /* secondry color */
  background-color: tma_primary_hover_color;
}
.cellule_stat {
  width: 198px;
}
#table_info span {
  display: inline-block;
}
@media(max-width:1440px) {
  #contenair {
    width: 100%;
  }
}
@media(max-width:1200px) {
  .dashboard h2,.cellule_stat p:first-child {
    font-size: 18px;
  }
  #table_info p {
    font-size: 14px;
  }
  #title {
    font-size: 25px;
  }
}

/*  differents arrows :  */
.arrow-bottom {
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 11px solid tma_primary_color;
    display: block;
    margin-top: 7px;
}

.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid tma_primary_color;
    display: block;
    margin-top: 5px;
}
.arrow_course_about {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 15px;
  margin-top: -5.5px;
}
/* table */
/*
Generic Styling, for Desktops/Laptops
*/
#table_participant {
  width: calc(100% - 40px);
  padding-right: 40px;
  padding-bottom: 40px;
}
#table_participant table {
  width: 80%;
  margin-right: 20%;
  border-collapse: collapse;
}
/* Zebra striping */
#table_participant tr:nth-of-type(odd) {
}
#table_participant th {
  font-weight: bold;
  background-color: #fff;
}
#table_participant td, #table_participant th {
  padding: 6px;
  text-align: left;
  /* primary color */
  color: tma_primary_color;
  /* font family */
  font-family: 'custom_font';
  padding: 10px;
}
#table_participant td {
  background-color: #F5F5F5;
 }
 #table_participant #grade {
   color: #C64D38;
   font-weight: bold;
 }
 #list_participant {
   top: none;
 }
@media(max-width:1437px) {
  .cellule_stat:nth-child(2n+1),#cellule_stat_first {
    margin-right: calc((100% - 396px) / 2);
    margin-left: 0;
  }
  .cellule_stat:nth-child(2n),#cellule_stat_last {
    margin-left: calc((100% - 396px) / 2);
    margin-right: 0;
  }
}
@media(max-width: 1280px) {
  .cell_result {
    width: 198px;
    height: 120px;
  }
  .cell_result p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
  }
  .cell_result p:last-child {
    line-height: 50px;
    margin-top: 0;
  }
  #cell_result_first,#cell_result_last {
    margin-bottom: 25px;
  }
  #cell_result_first {
    margin-right: calc((100% - 396px) / 2);
    margin-left: 0;
  }
  #cell_result_last {
    margin-left: calc((100% - 396px) / 2);
    margin-right: 0;
  }
}
@media(max-width: 729px) {
  #table_info,#table_stat {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #table_info {
    background-color: transparent;
  }
  #table_info p:nth-child(2n) {
    margin-right: 5%;
    margin-left: 0;
  }
  #table_info p:nth-child(2n+1) {
    margin-left: 5%;
    margin-right: 0;
  }
  #table_info p {
    width: calc(45% - 40px);
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
  }
}
@media(max-width:568px) {
  #name_participant {
    width: 70%;
  }
}
@media(max-width:518px) {
  #block_stat_question {
    margin-left: 0;
    margin-right: 0;
    width:100%;
  }
}
@media(max-width:495px) {
  #table_info p {
    width: 50%;
    float: none;
    margin-top: 15px;
  }
  #table_info p:nth-child(2n) {
    margin-right: auto;
    margin-left: auto;
  }
  #table_info p:nth-child(2n+1) {
    margin-left: auto;
    margin-right: auto;
  }
  .cellule_stat {
    float: none;
    margin-top: 15px;
  }
  .cellule_stat:nth-child(2n+1),#cellule_stat_first {
    margin-right: auto;
    margin-left: auto;
  }
  .cellule_stat:nth-child(2n),#cellule_stat_last {
    margin-left: auto;
    margin-right: auto;
  }
  #cell_result_first,#cell_result_last {
    margin-bottom: 0;
    margin-top: 15px;
    float: none;
  }
  #cell_result_first {
    margin-left: auto;
    margin-right: auto;
  }
  #cell_result_last {
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width:404px) {
  .user_grade_cell {
    clear:left;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}

