

p{
    font-family:  Source Sans Pro,sans-serif;
    font-size: 20px;
    color: red;
}

.topbar{
    background-color: #edeef6;
}

.navbar{
    display: block;
}

.btn{
    display: inline-block;
    width: auto;
}

.btn-primary{
    display: block;
}


    .navbar
    {
        font-size: 15px;
    }

    .navbar nav{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        background-color: #ffffff;
        justify-content: space-between;
    }

    .navbar nav span{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em;
        flex-flow: wrap;
        /* background-color: blue; */
        padding: 0.5rem;
        justify-content: space-around;
        margin: 0.2;
    }

    .btn
    {
        background-color: #ffce43;
        border :1px solid #ffce43;
        border-radius: 1000px;
        padding: 10px 15px;
        height: max-content;
        width: auto;
        margin: 0.5 0.5em;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 15px 25px;
        color: #212121;

    }



    .btn span
    {
        display: inline-block;

        background-color: red;

    }

    h1{
            font-size: 54px;
    line-height: 65px;
    font-family: "Source Serif 4",serif;
    font-weight: 700;
    }

    .versions-section
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-width: 500px;
        max-width: 70vw;
        max-height: 80vh;
        height: auto;
        width: 100%;
        margin: 0 auto;

    }

    .versions-section > div{
        border-radius: 18px;
        box-shadow: 0 20px 25px rgba(0,0,0,.17);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        width: auto;
        max-width: 25vw;
    }


    .window-content{
        padding: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        text-align: center;

    }

    .window-content div img{
        display: inline-block;
        width: auto;
        height: 100%;

        margin: 2em;
    }

    .window-content div {
        max-height: 200px;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .window-header 
    {
    background-color: red;
    align-items: center;

    display: flex;
    height: 1em;
    padding: 14px 28px;
    }

    .window-header-premium{
        background-color: #bdefe1;
    }

    .window-header-premium .window-header-bar{
        background-color: #f9fbff;
    }

    .window-header-classic .window-header-bar{
        background-color: #fef8e5;
    }

    .window-header-classic
    {
            background-color: #f7eccf;
    }


    .bg-cyandark
    {
        background-color: #46c29c;
    }

    .window-header-btns {
        width: 4em;
        margin: auto 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        
    } 

    .window-header-btns span 
    {
        height: 0.75em;
        width: 0.75em;

        display: inline-block;
        border-radius: 100%;
    }


    .window-header-bar {
        width: 100%;
        height: 1em;
        margin: auto 0 auto 0.75em;
        background-color: #fef8e5;
    } 

    .window-header-bar span 
    {
        height: 0.5em;
        width: 60%;
        display: inline-block;
    }


    .window-classic
    {
        background-color: #fef8e5
    }

    .window-premium
    {
        background-color: #defff6;
    }

    .bg-orangedark
    {
        background-color: #e3b637;
    }

    .hero {
        background-color: #46c29c;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1em auto 3em;
        flex-wrap: wrap;
        align-items: center;
        max-width: 80vw;
        max-height: 100vh;
    }

    .hero h1{
        max-width: 20vw;
        text-align: left;
    }

    .hero-img-section{
        background-color: #e3b637;
        max-width: 50%;
        width: auto;
    }
    .hero-img-section img{
        width: 100%;
    }
