
.content-wrapper {
  max-width: none;
}
.mobile-nav-item > .tab-nav-link, .course-item-hide {
  display: none !important;
}
#dashboard-main {
  background-color: #1E2631;
  padding-bottom: 30px;
  box-shadow: 0px 8px 15px;
}
#not-last-courses, h3.header-courses {
  margin: 0;
}
.dashboard .main-container, .dashboard .side-container {
  flex: 1;
  max-width: unset !important;
  padding: 30px 15vw 20px 30px;
}
.dashboard .main-container {
  
  padding: 30px 30px 20px 15vw;
}

#top-right-section {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: -19px;
}


.button-text{
  margin-left: 15px;
}

input[type="checkbox"] {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}
.section2-filterSection-labels.active {
  background-color: #44a1b9; 
  color: #fff;
}






.content-wrapper {
  padding: unset;
  margin: 0;
}
.header-dashboard {
  background: #171D26;
  color: white;
  padding: 0 18% 100px 18%;
  margin: auto;
  max-width: 100%;

}
#title-part-1 {
  font-size: 35px;
  line-height: 1;
  padding-top: 45px;
}
#title-part-2 {
  font-size: 85px;
  margin: 0 ;
  line-height: 1.5;
}
.underline-img {
  width: 80%;
  max-width: 800px;
}
.description, .video-presentation {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.video-presentation {
  justify-content: center;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 56%;
  font-size: 18px;
  line-height: 1.3;
}
#citation {
  width: 70%;
  margin: 88px auto 0px auto;
  line-height: 1.4;
  text-align: justify;
}

#citation-part-2 {
  text-align: end;
  font-style: italic;
}

@media (max-width: 991.98px) {
  .dashboard .main-container, .dashboard .side-container {
    padding: 3vh 10vw ;
  }
}

@media (max-width: 520px) {
  #dashboard-main .main-container {
    display: none ;
  }
  #started-or-finished {
    margin: unset ;
  }
  #started-or-finished h3 {
    width: 150px ;
  }
}


