.content-wrapper {
    padding: unset !important;
    margin-top: 0 !important;
}

.header-etudes {
    background-color: #161D26;
    padding: 85px 12% 35px 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-etudes {
    max-width: 1200px;
    margin: auto;
}
.header-etudes .vertical-align:nth-child(2n) {
    flex-direction: row-reverse;
}
.vertical-align {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 70px 0 0 0 ;
    position: relative;
    border-radius: 15px;
}
.img-etudes {
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 600px;
    max-width: 33%;
    object-fit: cover;
    object-position: top;
}
.header-etudes .vertical-align:nth-child(2n) .img-etudes {
    width: 450px;
}
.etudes-descript {
    padding: 10px 45px 40px 45px ;
    flex: 1;
}
#etudes-descript-title, #etudes-descript-title-2 {
    color :#FF6200;
} 
#etudes-descript-button {
    position: absolute;
    bottom: -20px;
    right: 25%;
    background: #FF6200;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}
#etudes-descript-button:hover {
    transform: scale(1.02);
    background: #e45801;
}
.header-etudes .vertical-align:nth-child(2n) #etudes-descript-button {
    right: 60%;
}
#etudes-descript-texte {
    line-height: 1.2;
}
#wiki-button {
    width: 40%;
    margin-top: 80px;
    line-height: 1.3;
    padding: 10px 25px;
    background-color: #FF6200;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .img-etudes {
        display: none;
    }
}

