.content-wrapper {
    padding: unset !important;
    margin-top: 0 !important;
}

html, .window-wrap,#main{
    height: 100%;
}

#main {
    background-color: #161D26;
    padding: 50px 12%;
    min-height: calc( 100vh - 380px );
}
.vignettes {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
}
.vignette {
    width: 320px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
}

.news-descript-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-style: italic;
    font-weight: 800;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}
.news-descript-text {
    padding: 20px;
    line-height: 1.2;
}

.news-descript-link {
    position: absolute;
    bottom: 15px;
    right:15px;
    background-color: #FF6100;
    color:white;
    border-radius : 5px;
    padding: 5px 10px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4) ;
}
.news-descript-link:hover {
    transform: scale(1.02);
    background-color: #e45801;
}

.vignette a:not(.btn), .vignette a:visited:not(.btn) {
    color: white !important;
    text-decoration: none !important;
}
