## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

from openedx.core.djangoapps.user_authn.utils import should_redirect_to_logistration_mircrofrontend
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = configuration_helpers.get_value('COURSES_ARE_BROWSABLE',settings.FEATURES.get('COURSES_ARE_BROWSABLE'))
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = configuration_helpers.get_value('ENABLE_COURSE_DISCOVERY',settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'))
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
  should_redirect_to_logistration_mfe = should_redirect_to_logistration_mircrofrontend()
%>
<nav class="nav-links" aria-label=${_("Supplemental Links")}>
  <div class="main">
  % if allows_login:
    % if can_discover_courses and courses_are_browsable:
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="/courses">${_('Explore courses')}</a>
      </div>
    %endif
  % endif
  </div>
  %if request.path == '/' :

    <div class="horizontal-align-header">

      <img src="${static.url('audition-icope/images/logo_furii_demater.png')}" alt="logo furii demater" class="logo">
      <img src="${static.url('audition-icope/images/logo_ihu_health_age.png')}" alt="logo IHU health" class="logo">
      <img src="${static.url('audition-icope/images/logo_icope_monitor.png')}" alt="logo icope monitor" class="logo">
      <img src="${static.url('audition-icope/images/logo_chu_toulouse.png')}" alt="logo CHU Toulouse" class="logo">
      <img src="${static.url('audition-icope/images/logo_clinique_rive_gauche.png')}" alt="logo clinique rive gauche" class="logo">
      <img src="${static.url('audition-icope/images/logo_hcl.png')}" alt="logo HCL" class="logo">
    </div>
    
    <div class="secondary">
      <a href="https://icope-formation.com" target="_blank" rel="noopener noreferrer" class="passerelle">Passerelle vers ma formation Icope</a>
    </div>
</nav>



<style>
.global-header {
  border-bottom: unset;
  padding-bottom: 20px;
}
.horizontal-align-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: none !important;
}
.logo {
  height: 40px;
  margin-left: 8px;
}
.horizontal-align-header img:nth-child(4) {
  height: 30px;
}
.horizontal-align-header img:nth-child(5) {
  height: 50px;
}
.secondary {
  width: 460px;
  text-align: end;
  margin: 0 10px 0 30px !important;
}
a.passerelle {
  background-color: var(--tertiary);
  border-radius: 0 0 5px 5px ;
  padding: 40px 20px 10px 20px;
  font-family: Quicksand, sans-serif !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
  color: white !important;
  font-size: 0.9em !important;
}


@media screen and (max-width: 868px) {

  a.passerelle, .secondary {
    display: none;
  }

  
}

</style>
    %endif
