## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = configuration_helpers.get_value('COURSES_ARE_BROWSABLE',settings.FEATURES.get('COURSES_ARE_BROWSABLE'))
  show_sysadmin_dashboard = configuration_helpers.get_value('ENABLE_SYSADMIN_DASHBOARD',settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','')) and user.is_staff
  self.real_user = getattr(user, 'real_user', user)
%>

<style>

  #toggle-dashboard-ressources {
    margin-left: 80px;
    display: flex;
    align-items: end;
  }
  #toggle-dashboard-ressources > a {
    font-family: 'Sora';
    color: #334756 !important;
    font-weight: 900;
    text-align: center;
    width: 160px;
    font-size: large;
    padding: 10px;
  }
  #toggle-dashboard-ressources > a:last-child {
    width: 300px;
  }
  #toggle-dashboard-ressources > a:hover {
    text-decoration: none !important;
    color: #ED4D39 !important;
  }

  .user-logo {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url(${static.url('umn/images/avatar.png')});
  }
  .nav-links .secondary  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links .secondary .nav-item:last-child {
    padding: 0px;
  }
  .nav-links .secondary .nav-item:last-child .username {
    font-weight: 700;
    margin-right: 10px;
  }
  .username {
    font-family: 'Sora';
  }

  @media screen and (max-width: 991px) {
    .user-logo {
      display: none;
    }
    /* .global-header .header-logo a {
      margin-left: 18%;
    } */
    .global-header .main-header {
      height: unset;
      display: flex;
      flex-direction: column;
    }

    
  }

</style>

<div class="nav-links">
  <div class="main">
     
    %if request.path == '/dashboard' :
      <div id="toggle-dashboard-ressources" class="horizontal-align" >
        <a href="/dashboard" style="border-bottom: 5px solid #334756 ;">Accueil</a>
        <a href="/donnees"  style="border-bottom: 1px solid #334756 ;">Ressources complémentaires</a>
      </div>
    %elif  request.path == '/donnees' :
      <div id="toggle-dashboard-ressources" class="horizontal-align" >
        <a href="/dashboard"  style="border-bottom: 1px solid #334756 ;">Accueil</a>
        <a href="/donnees"  style="border-bottom: 5px solid #334756 ;">Ressources complémentaires</a>
      </div>
    %else :
      <div id="toggle-dashboard-ressources" class="horizontal-align" >
        <a href="/dashboard"  style="border-bottom: 1px solid #334756 ;">Accueil</a>
        <a href="/donnees"  style="border-bottom: 1px solid #334756 ;">Ressources complémentaires</a>
      </div>
    %endif

    % if show_explore_courses:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link discover-new-link" href="${marketing_link('COURSES')}" aria-current="${'page' if '/courses' in request.path else 'false'}">
          ${_('Discover New')}
        </a>
      </div>
    % endif

    % if show_sysadmin_dashboard:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
      </div>
    % endif
  </div>
  <div class="secondary">
    <div class="mobile-nav-item hidden-mobile nav-item"></div>
    <%include file="user_dropdown.html"/>
  </div>
</div>

